<!--订单详情-->
<template>
    <div>
        <div v-title :data-title="title">{{title}}</div>
        <order-header :text="title"></order-header>
        <!-- 订单编号 -->
        <div class="order-number">
            <span class="fl title">订单编号：
                <em>{{$store.state.order_details.order_sn_id}}</em>
            </span>
            <!-- <span class="fr status">{{$store.state.order_title}}</span> -->
        </div> 
        <!-- 收货地址 -->
        <div class="address-wrap">
            <div class="con-center" v-if="$store.state.order_details.address_id">
                <div class="personalInf clearfix">
                    <div class="user">
                        <em></em>
                        <span class="name">收货人： {{$store.state.order_details.address_id.realname}}</span>
                        <span class="number">{{$store.state.order_details.address_id.mobile}}</span>
                    </div>
                    <!-- <span class="name">{{$store.state.order_details.address_id.realname}}</span>
                    <span class="number">{{$store.state.order_details.address_id.mobile}}</span> -->
                </div>
                <div class="address">收货地址：{{$store.state.order_details.address_id.prov + $store.state.order_details.address_id.city + $store.state.order_details.address_id.dist + $store.state.order_details.address_id.address}}</div>
            </div>
        </div>
        <div class="market-wrap">
            <!-- <h2 class="title">ShopsN商场</h2> -->
            <ul class="content-main">
                <li v-for="(item,index) in $store.state.order_details.child" :key="item.id" class="clearfix">
                    <img :src="URL + item.img" class="fl">
                    <div class="explain-wrap fr">
                        <p class="details">{{item.goods_title}}</p>
                        <p class="clearfix product">
                            <span class="name" >{{item.attribute[0].name +' : '+ item.attribute[0].item}}</span>
                            
                        </p>
                        <p class="clearfix price-main" v-if="$route.params.order_type == 2">
                            <span class="fl price">￥{{item.goods_price}}</span>
                            
                        </p>
                        <span class="number">数量:{{item.goods_num}}</span>
                        <div class="but-box">
                            <button class="fr btn" v-if="$route.params.status == 1" @click="toService('refund',index)">申请退款</button>
                        <button class="fr btn" v-if="$route.params.status == 4" @click="toService('rGoods',index)">申请售后</button>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- <div class="status"><span>还有1件</span><em></em></div> -->
        </div>
        <div class="sundry-wrap">
            <p class="mode clearfix" v-if="$route.params.order_type == 2">
                <span class="title fl">支付方式：</span>
                <span class="answer fr">{{$store.state.order_details.pay_type}}</span>
            </p>
            <p class="mode clearfix" v-if="$route.params.order_type == 2">
                <span class="title fl">配送方式：</span>
                <span class="answer fr">{{$store.state.order_details.shipping}}</span>
            </p>
            <p class="mode clearfix" v-if="$route.params.order_type == 2">
                <span class="title fl">开具发票：</span>
                <span class="answer fr">{{$store.state.order_details.invoice}}</span>
            </p>
            <div class="clearfix msg-wrap" v-if="$route.params.order_type == 2">
                <span class="title">买家留言：</span><br>
                <textarea class="answer" placeholder="买家没有留下备注哦！" readonly="readonly" v-model="$store.state.order_details.remarks"></textarea>
            </div>
            <div class="money-wrap" v-if="$route.params.order_type == 2">
                <p class="clearfix">
                    <span class="fl name">商品总额</span>
                    <span class="fr price">￥{{$store.state.order_details.price_sum}}</span>
                </p>
                <!-- <p class="clearfix">
                    <span class="fl name">优惠</span>
                    <span class="fr price">- <em>￥0</em></span>
                </p> -->
                <p class="clearfix">
                    <span class="fl name">运费</span>
                    <span class="fr price">- <em>￥{{$store.state.order_details.shipping_monery || 0}}</em></span>
                </p>
                <p class="clearfix">
                    <span class="fl name">优惠券</span>
                    <span class="fr price">- ￥{{$store.state.order_details.coupon_money || 0}}</span>
                </p>
            </div>
                <div class="total">
                    <p class="clearfix">
                        <span class="name">合计：</span>
                        <span class="price">￥{{Number($store.state.order_details.price_sum ) - Number($store.state.order_details.shipping_monery) - Number($store.state.order_details.coupon_money)}}</span>
                    </p>
                </div>
            <div class="time">
                <p class="timer-main">创建时间：{{new Date($store.state.order_details.create_time * 1000).getFullYear()+'/'+(new Date($store.state.order_details.create_time * 1000).getMonth()+1)+'/'+new Date($store.state.order_details.create_time * 1000).getDate()+' '+new Date($store.state.order_details.create_time * 1000).getHours()+':'+new Date($store.state.order_details.create_time * 1000).getMinutes()+':'+new Date($store.state.order_details.create_time * 1000).getSeconds()}}</p>
                <p class="timer-main">付款时间：{{new Date($store.state.order_details.pay_time * 1000).getFullYear()+'/'+(new Date($store.state.order_details.pay_time * 1000).getMonth()+1)+'/'+new Date($store.state.order_details.pay_time * 1000).getDate()+' '+new Date($store.state.order_details.pay_time * 1000).getHours()+':'+new Date($store.state.order_details.pay_time * 1000).getMinutes()+':'+new Date($store.state.order_details.pay_time * 1000).getSeconds()}}</p>
                <p class="timer-main" style="margin:0;">发货时间：{{new Date($store.state.order_details.delivery_time * 1000).getFullYear()+'/'+(new Date($store.state.order_details.delivery_time * 1000).getMonth()+1)+'/'+new Date($store.state.order_details.delivery_time * 1000).getDate()+' '+new Date($store.state.order_details.delivery_time * 1000).getHours()+':'+new Date($store.state.order_details.delivery_time * 1000).getMinutes()+':'+new Date($store.state.order_details.delivery_time * 1000).getSeconds()}}</p>
            </div>
        </div>
        <footer>
            <div class="btn-wrap">
                <button  v-if="$route.params.status == 3" @click="conReceipt">确认收货</button>
                <button  v-if="$route.params.status == 3 || $route.params.status == 2" @click="toLogis">查看物流</button>
                <button  v-if="$route.params.status == 4 || $route.params.status == -1" @click="gobay">再次购买</button>
                <button  v-if="$route.params.status == 0" @click="pay">立即付款</button>
            </div>
        </footer>
        <!-- <Shopsn></Shopsn> -->
        <div class="load-wrap" v-show="load_wrap" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
    </div>
</template>
<script>
    import orderHeader from '@/components/page/children/header.vue';
    import qs from 'qs';
    import { Toast } from 'mint-ui';
    import Shopsn from '@/components/page/Shopsn.vue';
    export default {
        name :'orderPending',
        data(){
            return {
                title : '订单详情',
                scrollWatch:true,
                status:'',
                load_wrap:true
            }
        },
        components:{
            orderHeader,
            Shopsn
        },
        methods:{
            toService(str,index){
                this.$store.commit('setvuce',this.$store.state.order_details);
                this.$router.push({
                    name:'serviceBack',
                    params:{
                        status:str,
                        index:index
                    }
                });
            },
            toLogis(){
                this.$router.push({
                    name:'logis',
                    params:{
                        status:3,
                        id:this.$store.state.order_details.id
                    }
                });
            },
            gobay(){
                const goods = [];
                for(let i = 0; i < this.$store.state.order_details.child.length; i++){
                    goods.push({goods_id:this.$store.state.order_details.child[i].goods_id,goods_num:this.$store.state.order_details.child[i].goods_num})
                }
                this.axios.post(API_URL + 'Home/Order/buyAgain',qs.stringify({
                    app_user_id:sessionStorage.getItem('user_ID'),
                    goods:JSON.stringify(goods)
                })).then((res) => {
                    console.log(res)
                    Toast({
                        message: res.data.msg,
                        position: 'bottom'
                    });
                    this.$router.push('/Cart');
                }).catch((err) => {
                    console.log(err);
                });
            },
            conReceipt(){
                this.axios.post(API_URL + 'Home/Afterbuy/goods_receipt',qs.stringify({
                    order_id:this.$route.params.order
                })).then((res) => {
                    Toast({
                        message: res.data.msg,
                        position: 'bottom'
                    });
                    this.$router.push({
                        name:'orderWrap',
                        params:{
                            status:3
                        }
                    });
                }).catch((err) => {
                    console.log(err);
                });
            },
            pay(){//马上付款
                this.$store.state.order_number = this.$store.state.order_details.id;
                this.$store.state.price = this.$store.state.order_details.price_sum;
                this.$router.push({
                    name:'cashier',
                    params:{
                        id:2
                    }
                });
            }
        },
        mounted() {
            console.log(this.$store.state)
            const Id = this.$route.params.order;
            document.body.scrollTop = 0;
            this.axios.post(API_URL + 'Home/Order/orderDetail',qs.stringify({
                app_user_id:sessionStorage.getItem('user_ID'),
                order_id:Id
            })).then((res) => {
                if(res.data.data.child.length <= 0)return;
                this.$store.state.order_details = res.data.data;
                this.load_wrap = false;
            }).catch((err) => {
                console.log(err);
            });
        },
        destroyed(){
            this.scrollWatch = false;
        },
        created(){
            
        }
    }
</script>
<style lang="less" scoped>
    .order-number{
        width:100%;
        height:1.32rem;
        background:#fff;
        padding:0 .28rem;
        box-sizing: border-box;
        border-bottom:1px solid #f4f4f4;
        .title{
            width:100%;
            height:1.32rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size:.32rem;
            color:#000;
            em{
                font-style:normal;
                font-size:.24rem;
                color:#000;
                margin-top: .1rem;
                text-indent: .7rem;
            }
        }
        .status{
            font-size:.32rem;
            color:#d0111b;
            width: 1rem;
            overflow:hidden;
            height: 100%;
        }
    }
    .address-wrap{
        height: 1.4rem;
        width: 100%;
        padding: 0 .28rem;
        background:#fff;
        box-sizing: border-box;
        .con-center{
            width:7.1rem;
            height:1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            .personalInf{
                .user{
                    position:relative;
                    text-indent: .3rem;
                    font-size: .28rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    em{
                        width:.24rem;
                        height:.32rem;
                        position:absolute;
                        left:0;
                        top:.04rem;
                        background:url(../../assets/location.png) no-repeat;
                        background-size:100% 100%;
                    }
                    .name{
                        text-indent: .4rem;
                        font-size: .28rem;
                    }
                    .number{
                        display: flex;
                        justify-content: flex-end;
                        font-size:.28rem;
                        color:#000;
                        margin-right:.16rem;
                    }
                }
                
                
            }
            .address{
                width:100%;
                padding-top:.1rem;
                font-size:.24rem;
                color:rgba(0,0,0,.6);
                white-space:nowrap; 
                overflow:hidden; 
                text-overflow:ellipsis;
                text-indent: .7rem;
            }
            .icon{
                position:absolute;
                right:.2rem;
                bottom:.22rem;
                width:.18rem;
                height:.3rem;
                background:url(../../assets/icon-right.jpg) no-repeat;
                background-size:100% 100%;
            }
        }
    }
    .market-wrap{
        margin-top: .2rem;
        background:#fff;
        .content-main{
            
            background:#fff;
            li{
                padding:.4rem .28rem;
                height: 1.6rem;
                border-bottom:1px solid #f4f4f4;
                display: flex;
                img{
                    width:1.6rem;
                    height:1.6rem;
                }
                .explain-wrap{
                    width:3.8rem;
                    margin-left: .26rem;
                    position: relative;
                    .details{
                        font-size:.28rem;
                        color:#000;
                        overflow:hidden;
                        text-overflow:ellipsis;
                        white-space:nowrap
                    }
                    .product{
                        margin-top: .4rem;
                        .name{
                            font-size:.22rem;
                            color:#999;
                        }
                        
                    }
                    .price-main{
                        margin-top:.4rem;
                        .price{
                            font-size:.24rem;
                            color:#D75268;
                        }
                        
                    }
                    .number{
                        font-size:.22rem;
                        color:#999;
                        position: absolute;
                        top:37px;
                        right: -37px;
                    }
                    .but-box{
                        .btn{
                            position: absolute;
                            top: 62px;
                            right: -60px;
                            width:1.67rem;
                            height:.62rem;
                            border:1px solid #979797;
                            background:#fff;
                            border-radius:20px;
                            outline:none;
                            font-size:.24rem;
                            color:rgba(0,0,0,.6);
                            box-sizing:border-box;
                        }
                        .btn:active{
                            background-color:#fd5149;
                            color:#fff;
                            box-shadow:0 0 10px #fd5149;
                            border-color:#fd5149;
                        }
                    }
                }
            }
        }
        .status{
            height:.8rem;
            text-align:center;
            line-height:.8rem;
            background:#fff;
            span,em{
                display:inline-block;
                font-size:.28rem;
                color:#555;
            }
            em{
                width:.34rem;
                height:.2rem;
                background:url(../../assets/icon-bottom.jpg) no-repeat;
                background-size:100% 100%;
                margin-left:.28rem;
            }
        }
    }
    .sundry-wrap{
        margin-top: .2rem;
        .mode{
            height:.8rem;
            line-height:.8rem;
            background-color: #fff;
            border-bottom:1px solid #f4f4f4;
            padding: 0 .28rem;
            .title{
                font-size:.28rem;
                color:#000;
            }
            .answer{
                font-size:.28rem;
                color:rgba(0,0,0,.6);
            }
        }
        .money-wrap{
            margin-top: .2rem;
            border-bottom:1px solid #f4f4f4;
            background-color: #fff;
            p{
                height: .5rem;
                padding: 0 .28rem;
                .name{
                    font-size:.24rem;
                    color:#000;
                    height: .5rem;
                    line-height: .5rem;
                }
                .price{
                    font-size:.24rem;
                    color:#000;
                    height: .5rem;
                    line-height: .5rem;
                    em{
                        font-size:.24rem;
                        color:#000;
                        font-style: normal;
                    }
                }
            }
        }
        .total{
            width: 100%;
            height: 1.1rem;
            background-color: #fff;
            padding: 0 .28rem;
            border-bottom: 1px solid #f4f4f4;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            box-sizing: border-box;
            .name{
                font-size: .28rem;
                color: #000;
            }
            .price{
                font-size: .32rem;
                color: #D75268;
            }
        }
        .msg-wrap{
            width: 100%;
            display: flex;
            height: 1.5rem;
            border-bottom: 1px solid #f4f4f4;
            background-color: #fff;
            .title{
                // padding-top:.5rem;
                display:block;
                width: 26%;
                height: 1.5rem;
                text-align: center;
                line-height: .68rem;
                font-size: .28rem;

            }
            textarea{
                flex: 1;
                // background:#f1f1f1;
                border:none;
                // width: 100%;
                // height: 1rem;
                resize:none;
                padding-top:.2rem;
                outline: none;
                box-sizing: border-box;
            }
        }
        .time{
            width: 100%;
            margin-top: .2rem;
            background-color: #fff;
            margin-bottom: .2rem;
            padding:.28rem;
            .timer-main{
                margin-bottom: .2rem;
                font-size:.22rem;
                color:#797979;
            }
        }
    }
    footer{
        width:100%;
        height:.98rem;
        .btn-wrap{
            height:.98rem;
            width:100%;
            padding: 0 .28rem;
            box-sizing: border-box;
            position:fixed;
            bottom:0;
            background:rgba(255,255,255,1);
            border-top:1px solid #f4f4f4;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button{
                width:1.28rem;
                height:.48rem;
                border-radius:.04rem;
                box-sizing:border-box;
                border:none;
                outline:none;
                color:#fff;
                background: #D75268;
                font-size:.24rem;
            }
            button:nth-child(2){
                margin-right:.15rem;
                background:#666;
                
            }
        }
    }
</style>