<!--选择商品规格-->
<template>
  <transition>
    <div class="detail-wrap" @touchmove.prevent v-show="$store.state.const_join">
      <div class="top" @click="remove"></div>
      <div class="content-main">
        <div class="padd">
          <div class="contet-item clearfix" v-if="$store.state.commodity_data">
            <!-- <img
              :src="URL + $store.state.commodity_data.goods_img[0]"
              v-if="$store.state.commodity_data.goods_img"
            >
            <img
              :src="URL + $store.state.commodity_data.pic_url[0]"
              v-if="$store.state.commodity_data.pic_url"
            > -->
            <img
              :src="URL + $store.state.commodity_data.recommend[0].pic_url"
              v-if="$store.state.commodity_data.recommend"
            >
            <p
              class="item"
            >{{$store.state.commodity_data.title || $store.state.commodity_data.goods.title}}</p>
            <p class="price" v-if="$route.params.status == 1">￥
              <span>{{$store.state.commodity_data.price_member}}</span>
            </p>
            <span class="delete-btn" @click="remove">×</span>
          </div>

          <!-- 购买 -->
          <dl class="gui clearfix" v-for="(spec,index) in $store.state.commodity_data.allattrcha" :key="index">
            <dt class="fl">{{spec.name}}</dt>
            <dd
              class="fl"
              v-for="item in spec.value"
              :key="item.spci"
              @click="addClass(index,item.spci)"
              :class="{active:IsActive[index] == item.spci}"
            >{{item.attr}}</dd>
          </dl>


          <div class="addSub clearfix">
            <span class="pull-left fl">数量</span>
            <div class="pull-right fr clearfix">
              <span
                class="stock fl"
                v-if="$store.state.commodity_data.minStock"
              >库存：{{$store.state.commodity_data.minStock}}件</span>
              <div class="input-main fl clearfix">
                <button class="fl" @click="reduce">-</button>
                <input type="number" class="fl" v-model="$store.state.commodity_val" @input="min">
                <button class="fl" @click="plus">+</button>
              </div>
            </div>
          </div>
          <div class="com">
            共
            <span>{{Number($store.state.commodity_val)}}</span>件商品&nbsp;&nbsp;
            共计
            <span v-if="$store.state.commodity_data.price_member">
              <i>￥</i>
              {{($store.state.commodity_val * $store.state.commodity_data.price_member).toFixed(2)}}
            </span>
            <!-- <span v-if="$store.state.commodity_data.goods"> {{$store.state.commodity_val * $store.state.commodity_data.goods.integral}} <i>积分</i></span> -->
          </div>
        </div>

        <div class="btn-join clearfix" v-if="$route.params.status == 1">
          <button class="fl join" @click="join">加入购物车</button>
          <button class="fl imm" @click="toOrder">立即购买</button>
        </div>
        <div class="btn-join clearfix" v-if="$route.params.status == 2">
          <button class="fr imm" @click="toExchange">立即兑换</button>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import $ from 'jquery'
import qs from "qs";
import { Toast } from "mint-ui";
export default {
  name: "detailOptions",
  data() {
    return {
      link_id:"",
      isName:'',
      isAttr:'',
      isArray:[]
    };
  },
  props:['IsActive'],
  methods: {
    // myClick(spec,index){
    //   console.log(spec.value[index].attr);
    //   this.isArray.push(spec.name)
    //   this.isArray.push(spec.value[index].attr)
    //   this.isName = spec.name
    //   this.isAttr = spec.value[index].attr
    //   console.log(this.isArray);
      
    // },
    ax() {
      this.axios({
        url: API_URL + "Home/Goods/goods",
        method: "get",
        params: {
          goods_id: this.link_id,
          app_user_id: sessionStorage.getItem("user_ID")
        }
      })
      .then(res => {
        this.$store.state.commodity_data = res.data.data;            
        this.$store.state.catr_number = parseInt(res.data.data.goods_num);

        this.load_wrap = false;
      })
      .catch(err => {
        console.log(err);
      });
    },
    reduce() {
      if (this.$store.state.commodity_val <= 1) return;
      this.$store.state.commodity_val--;
    },
    plus() {
      if (
        this.$store.state.commodity_val >=
        this.$store.state.commodity_data.minStock
      )
        return;
      this.$store.state.commodity_val++;
    },
    min() {
      let val = parseInt(this.$store.state.commodity_val);
      if (val == 0) {
        this.$store.state.commodity_val = 0;
      }
      let reg = /(^[1-9]([0-9]*)$|^[0-9]$)/;
      if (!reg.test(this.$store.state.commodity_val)) {
        this.$store.state.commodity_val = "";
      }
      if (val >= this.$store.state.commodity_data.minStock)
        this.$store.state.commodity_val = this.$store.state.commodity_data.minStock;
    },
    remove() {
      this.$store.state.const_join = false;
    },
    addClass(index,spci) {    
      this.$set(this.IsActive,index,spci);
      var key = this.IsActive.join('_')
      this.$store.state.commodity_data.compatriot.forEach(item => {
        if(item.key == key){
          this.link_id = item.id
        }
      });
      this.ax()
      // this.myClick()
      
    },
    toOrder() {
      if (
        this.$store.state.commodity_val == "" ||
        this.$store.state.commodity_val == 0
      ) {
        Toast("购买商品数量错误");
        return;
      } else if (this.$store.state.commodity_data.minStock == 0) {
        Toast("库存不足");
        return;
      } else if (!sessionStorage.getItem("user_ID")) {
        this.$router.push("/LogoIn");
        return;
      }
      this.$store.state.goods = JSON.stringify([
        {
          p_id:this.$store.state.commodity_data.compatriot[0].p_id,
          num: this.$store.state.commodity_val,
          id: this.$route.params.id,
          goods_price: this.$store.state.commodity_data.price_member
        }
      ]);
      this.$store.state.const_join = false;
      this.$router.push({
        name: "order",
        params: {
          id: 2
        }
      });
    },
    toExchange() {
      if (!sessionStorage.getItem("user_ID")) {
        this.$router.push("/LogoIn");
        return;
      }
      this.$store.state.goods = JSON.stringify([
        {
          p_id:this.$store.state.commodity_data.compatriot[0].p_id,
          num: this.$store.state.commodity_val,
          id: this.$route.params.id,
          goods_price: this.$store.state.commodity_data.price_member
        }
      ]);
      this.$store.state.const_join = false;
      this.$router.push({
        name: "order",
        params: {
          id: 3
        }
      });
    },
    join() {
      if (
        this.$store.state.commodity_val == "" ||
        this.$store.state.commodity_val == 0
      ) {
        Toast("购买商品数量错误");
        return false;
      } else if (this.$store.state.commodity_data.minStock == 0) {
        Toast("库存不足");
        return false;
      } else if (!sessionStorage.getItem("user_ID")) {
        this.$router.push("/LogoIn");
        return;
      }
      this.axios
        .post(
          API_URL + "Home/Cart/add_cart",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID"),
            goods_id: this.$route.params.id,
            goods_num: this.$store.state.commodity_val,
            price_new:
              this.$store.state.commodity_val *
              this.$store.state.commodity_data.price_member
          })
        )
        .then(res => {
          Toast(res.data.msg);
          if (res.data.status == 0) {
            this.$router.push("/LogoIn");
          }
          this.$store.state.catr_number += parseInt(
            this.$store.state.commodity_val
          );
          this.$store.state.const_join = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
<style lang="less" scoped>
.detail-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  .top{
    flex: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .content-main {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    .padd {
      padding: 0 0.28rem;
      max-height: 8rem;
      overflow: auto;
      .contet-item {
        padding: 0 0 0.4rem;
        position: relative;
        border-bottom: 1px solid #f4f4f4;
        img {
          width: 1.77rem;
          height: 1.77rem;
          border-radius: 10px;
          position: absolute;
          top:.08rem;
          left: 0;
        }
        .item {
          padding-left: 1.92rem;
          padding-top: 0.36rem;
          width: 4.8rem;
          height: 0.8rem;
          font-size: 0.26rem;
          color: #333;
          line-height: 0.4rem;
          overflow: hidden;
        }
        .price {
          font-size: 0.26rem;
          color: #d75268;
          padding-left: 1.92rem;
          padding-top: 0.1rem;
          span {
            font-size: 0.32rem;
          }
        }
        .delete-btn {
          position: absolute;
          right: -0.18rem;
          top: 0.04rem;
          width: 0.34rem;
          line-height: 0.3rem;
          height: 0.34rem;
          border: 1px solid #bfbfbf;
          text-align: center;
          font-size: 0.4rem;
          color: #bfbfbf;
          border-radius: 100%;
        }
      }
      .gui {
        padding-bottom: 0.26rem;
        border-bottom: 1px solid #f4f4f4;
        dt {
          width: 100%;
          height: 0.8rem;
          line-height: 0.8rem;
          font-size: 0.32rem;
          color: rgba(0, 0, 0, 0.8);
        }
        dd {
          height: 0.75rem;
          line-height: 0.75rem;
          padding: 0 0.3rem;
          margin-bottom: .2rem;
          border: 1px solid #d4d4d4;
          border-radius: 5px;
          font-size: 0.3rem;
          color: #333;
          margin-right: 0.3rem;
        }
        dd.active {
          background: #d75268;
          color: #fff;
          border-color: #fff;
        }
      }
      .addSub {
        height: 1.38rem;
        border-bottom: 1px solid #f4f4f4;
        line-height: 1.38rem;
        .pull-left {
          font-size: 0.32rem;
          color: rgba(0, 0, 0, 0.8);
        }
        .pull-right {
          .stock {
            font-size: 0.24rem;
            color: #aeadad;
            line-height: 70px;
          }
          .input-main {
            width: 2.36rem;
            height: 0.79rem;
            border: 1px solid #dfdfdd;
            border-radius: 5px;
            margin-top: 0.3rem;
            margin-left: 0.2rem;
            overflow: hidden;
            line-height: 0.79rem;
            button {
              width: 0.7rem;
              border: none;
              background: #fff;
              color: rgba(0, 0, 0, 0.8);
              font-size: 0.5rem;
              line-height: 0.79rem;
              outline: none;
              height: 100%;
            }
            button:active {
              background: #d75268;
              color: #fff;
            }
            input {
              width: 0.95rem;
              border: none;
              height: 100%;
              border-left: 1px solid #dfdfdd;
              border-right: 1px solid #dfdfdd;
              text-align: center;
              font-size: 0.4rem;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
      .com {
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: right;
        font-size: 0.28rem;
        color: rgba(0, 0, 0, 0.8);
        span {
          font-size: 0.36rem;
          color: #d75268;
          font-weight: bold;
          i {
            font-size: 0.32rem;
            font-style: normal;
          }
        }
      }
    }
    .btn-join {
      button {
        width: 50%;
        border: none;
        height: 1rem;
        line-height: 1rem;
        color: #fff;
        font-size: 0.32rem;
      }
      .join {
        background: #000;
      }
      .imm {
        background: #d75268;
      }
    }
  }
}
</style>