<!--选择优惠券-->
<template>
	<transition name="fade">
		<div class="detail-wrap" v-show="$store.state.const_coupon">
			<div class="content-main">
				<div class="title">优惠券列表<i @click="cancel"></i></div>
				<div class="padd">
					<div class="order_tab_item">
						<div  :class="showAble?'cur':''" @click="showAbleFun(true)">
							<span>可用</span>
						</div>
						<div :class="showAble?'':'cur'" @click="showAbleFun(false)">
							<span>不可用</span>
						</div>
					</div>
          <!-- 可用 -->
					<ul v-if="showAble" class="contet-item-box content-scroll">
						<li class="coupon-item"  v-for="(item,index) in do_use_list" :key="index" @click="select(item,index)">
							<div class="coupon-main">
								<div class="price-box">
									<p class="price">
                    <span data-v-55093ac8="" class="big">{{item.money.substring(item.money.indexOf('.'),0)}}</span> 
                    <i>￥</i>
                    <!-- <span>{{item.money.substring(item.money.indexOf('.'))}}</span> -->
                    </p>
									<p class="price-limit">满{{item.condition}}元可用</p>
								</div>
								<div class="info">
									<p class="info_text">{{item.name}}</p>
									<p style="display: none;">{{item.code}}</p><!--这行不要删-->
									<p class="info_date ">{{stamp2time(item.use_start_time)}}  —  {{stamp2time(item.use_end_time)}}</p>
								</div>
								<div v-if="item.isSelect" class="check"></div>
								<div v-else class="no-check"></div>
							</div>
						</li>
            <!-- test -->
						<!-- <li data-v-55093ac8="" class="coupon-item">
              <div data-v-55093ac8="" class="coupon-main">
                <div data-v-55093ac8="" class="price-box">
                  <p data-v-55093ac8="" class="price">
                    <span data-v-55093ac8="" class="big">200</span> 
                    <i data-v-55093ac8="">￥</i> 
                  </p> 
                  <p data-v-55093ac8="" class="price-limit">满200.00元可用</p>
                </div> 
                <div data-v-55093ac8="" class="info">
                  <p data-v-55093ac8="" class="info_text">
                    test
                  </p> <p data-v-55093ac8="" style="display: none;"></p> 
                  <p data-v-55093ac8="" class="info_date ">2018-12-11  —  2018-12-16</p>
                </div> 
                <div data-v-55093ac8="" class="no-check">
                </div>
              </div>
            </li> -->
					</ul>
          <!-- 不可用 -->
					<ul v-else class="contet-item-box content-scroll gray">
            <li class="gray-coupon-item" v-for="(item,index) in do_not_use_list" :key="index" @click="notSelect">
							<div class="gray-coupon-main">
								<div class="gray-price-box">
									<p class="gray-price">
                    <span data-v-55093ac8="" class="gray-big">{{item.money}}</span> 
                    <i>￥</i>
                  </p>
									<p class="gray-price-limit">满{{item.condition}}元可用</p>
								</div>
								<div class="gray-info">
									<p class="gray-info_text">
										{{item.name}}
									</p>
									<p class="gray-info_date ">{{stamp2time(item.use_start_time)}}  -  {{stamp2time(item.use_end_time)}}</p>
								</div>
							</div>
						</li>
            <!-- test -->
						<!-- <li data-v-55093ac8="" class="gray-coupon-item ">
              <div data-v-55093ac8="" class="gray-coupon-main">
                <div data-v-55093ac8="" class="gray-price-box">
                  <p data-v-55093ac8="" class="gray-price">
                    <span data-v-55093ac8="" class="gray-big">200</span> 
                    <i data-v-55093ac8="">￥</i> 
                  </p> 
                  <p data-v-55093ac8="" class="gray-price-limit">满200.00元可用</p>
                </div> 
                <div data-v-55093ac8="" class="gray-info">
                  <p data-v-55093ac8="" class="gray-info_text">
                    test
                  </p> <p data-v-55093ac8="" style="display: none;"></p> 
                  <p data-v-55093ac8="" class="gray-info_date ">2018-12-11  —  2018-12-16</p>
                </div> 
                
              </div>
            </li> -->
					</ul>
				</div>
				<div class="btn-join clearfix">
					<button class="join fl" @click="confirm">确认</button>
					<button class="fl imm" @click="cancel">取消</button>
				</div>
			</div>
		</div>
	</transition>
</template>
<script>
import qs from "qs";
import { Toast } from "mint-ui";
export default {
  name: "detailOptions",
  data() {
    return {
      showAble: true,
      do_not_use_list: [],
      do_use_list: [],
    };
  },
  props:{
    useList:'',
    notUseList:''
  },
  watch:{
    useList(){
      this.do_use_list = this.useList;
      for (var i in this.do_use_list) {
        this.do_use_list[i].isSelect = false;
      }
     
    },
    notUseList(){
      this.do_not_use_list = this.notUseList;
    }
  },
  methods: {
    stamp2time(value) {
      var time = new Date(Number(value) * 1000);
      var Y = time.getFullYear();
      var m = time.getMonth() + 1;
      var d = time.getDate();
      return Y + "-" + m + "-" + d;
    },
    showAbleFun(status) {
      this.showAble = status;
    },
    confirm() {
      this.$store.state.const_coupon = false;
      this.showAble = true;
    },
    select(item, index) {
      for (var i in this.do_use_list) {
          if(index == i){
            if(this.do_use_list[i].isSelect == false){
              this.$set(this.do_use_list[i],'isSelect',true);
              this.$store.state.select_coupon = item;
            }else{
              this.$set(this.do_use_list[i],'isSelect',false);
              this.$store.state.select_coupon = { name:'请选择优惠券', money:0, id:'' };
            }
          }else{
             this.$set(this.do_use_list[i],'isSelect',false);
          }
          this.$forceUpdate();
          this.do_use_list[i].code = this.do_use_list[i].name + index;
        }
        console.log(this.$store.state.select_coupon)
    },
    cancel() {
      this.$store.state.const_coupon = false;
      this.showAble = true;
      for (var i in this.do_use_list) {
         if(this.do_use_list[i].isSelect == true){
           this.$set(this.do_use_list[i],'isSelect',false);
         }
      }
      this.$store.state.select_coupon = { name:'请选择优惠券', money:0, id:'' };
    },
    notSelect() {
      Toast("非常抱歉，该优惠券不可用！");
      this.cancel();
    }
  }
};
</script>
<style type="text/css">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
	.fade-leave-to
	/* .fade-leave-active below version 2.1.8 */
	
	 {
  opacity: 0;
}
</style>
<style lang="less" scoped>
.r {
  float: right;
}

.detail-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  .content-main {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f9f9f9;
    .title {
      position: relative;
      height: .8rem;
      line-height:.8rem;
      padding-left: .28rem;
      font-size: .32rem;
      color: #000;
      border-bottom:1px solid #f4f4f4;
      i {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 46px;
      }
      i::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        background-size: 100%;
        background-image: url(../../../assets/close.png);
      }
    }
    .padd {
      padding: 7px;
      .order_tab_item {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        height: 30px;
        border-bottom: 1px solid #eee;
        div {
          display: inline-flex;
          width: 50%;
          justify-content: center;
        }
        .cur {
          color: #D75268;
          span {
            border-bottom: 1px solid #D75268;
            line-height: 30px;
          }
          span::after {
            content: "";
            height: 2px;
          }
        }
      }
      // 不可用
      .gray {
        color: rgba(0, 0, 0, 0.6) !important;
        padding: .28rem;
        .gray-coupon-item {
          width: 100%;
          height: 1.6rem;
          background-color: #fff;
          margin-top: .2rem;
          border-radius: .12rem;
          .gray-coupon-main {
            display: flex;
            align-items: center;
            .gray-price-box {
              width: 2.4rem;
              height: 1.6rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .gray-price {
                i {
                  font-style: normal;
                  font-size: .24rem;
                  color: rgba(0, 0, 0, 0.6) ;
                }
                span.gray-big {
                  font-weight: 400;
                  font-size: .72rem;
                  position: relative;
                  color: rgba(0, 0, 0, 0.6) ;
                }
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .gray-price-limit {
                font-size: .24rem;
                margin-top: .2rem;
                color: rgba(0, 0, 0, 0.6)
              }
            }
            .gray-info {
              flex: 1;
              display: flex;
              flex-direction: column;
              // justify-content: center;
              position: relative;
              height:1.6rem;
              .gray-info_text {
                font-size:.28rem;
                color: rgba(0, 0, 0, 0.6);
                margin-top: .2rem;
              }
              .gray-info_date {
                font-size: .24rem;
                color:rgba(0, 0, 0, 0.4);
                margin-top: .15rem;
              }
            }
            .gray-check {
              width: .36rem;
              height: .36rem;
              border: .06 solid #fff;
              box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.6) ;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0.6) ;
              box-sizing: border-box;
              margin-right: 10px;
            }
            .gray-no-check {
              width: .36rem;
              height: .36rem;
              border: 1px solid rgba(0, 0, 0, 0.6) ;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
        }
      }
      }
      .contet-item-box {
        padding: .28rem;
        .coupon-item {
          width: 100%;
          height: 1.6rem;
          background-color: #fff;
          margin-top: .2rem;
          border-radius: .12rem;
          .coupon-main {
            display: flex;
            align-items: center;
            .price-box {
              width: 2.4rem;
              height: 1.6rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .price {
                i {
                  font-style: normal;
                  font-size: .24rem;
                  color: #D75268;
                }
                span.big {
                  font-weight: 400;
                  font-size: .72rem;
                  position: relative;
                  color: #D75268;
                }
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              .price-limit {
                font-size: .24rem;
                margin-top: .2rem;
                color: rgba(0, 0, 0, 0.6)
              }
            }
            .info {
              flex: 1;
              display: flex;
              flex-direction: column;
              // justify-content: center;
              position: relative;
              height:1.6rem;
              .info_text {
                font-size:.28rem;
                color: #000;
                margin-top: .2rem;
              }
              .info_date {
                font-size: .24rem;
                color:rgba(0, 0, 0, 0.4);
                margin-top: .15rem;
              }
            }
            .check {
              width: .36rem;
              height: .36rem;
              border: .06 solid #fff;
              box-shadow: 0 0 0 2px #D75268;
              border-radius: 50%;
              background-color: #D75268;
              box-sizing: border-box;
              margin-right: 10px;
            }
            .no-check {
              width: .36rem;
              height: .36rem;
              border: 1px solid #D75268;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
        }
      }
      .content-scroll {
        height: 7rem;
        overflow-y: scroll;
      }
    }
    .btn-join {
      button {
        width: 50%;
        border: none;
        height: 1rem;
        line-height: 1rem;
        color: #fff;
        font-size: 0.32rem;
      }
      .join {
        background: #D75268;
      }
      .imm {
        background: #999;
      }
    }
  }
</style>