<!--商品详情footer-->
<template>
    <div class="footer2017">
        <div class="seat"></div>
        <div class="btn-main clearfix" v-if="$route.params.status == 1">
            <div class="b-icon">
                <div class="col fl" @click="col(data.is_collect)">
                    <img :src="data.is_collect == 1 ? acIcon : icon" alt="" >
                    <span>收藏</span>
                </div>
                <div class="cart fl" @click="cart">
                    <em><img src="../../../assets/n-cart.png" alt=""></em>
                    <span>购物车</span>
                </div>
            </div>
            <div class="b-but">
                <div class="join fl" @click="hide">加入购物车</div>
                <div class="imm fl" @click="hide">立即购买</div>
            </div>
        </div>
        <div class="btn-main clearfix" v-if="$route.params.status == 2">
            <div class="imm fr" @click="hide">立即兑换</div>
        </div>
    </div>
</template>
<script>
    import { Toast } from 'mint-ui';
    
    import qs from 'qs';
    export default {
        name : 'footBtn',
        data(){ 
            return {
                icon : require('@/assets/n-sc.png'),
                acIcon:require('@/assets/n-acsc.png'),
                is_collect:'',
                type:''
            }
        },
        props:{
            data:'',
            msg:'',
            nb:''
        },
        methods:{
            cart(){
                this.$router.push({
                    name:'Cart',
                    params:{
                        id:this.link_id
                    }
                });
            },
            col(is_collect){
                if(is_collect == 0){
                    this.data.is_collect = 1;
                    this.type = 1; 
                }else{
                    this.data.is_collect = 0;
                    this.type = 2;                                        
                }
                this.axios.post(API_URL + 'Home/Cart/add_collection',qs.stringify({
                    app_user_id:sessionStorage.getItem('user_ID'),
                    goods_id:this.$route.params.id,
                    type:this.type
                })).then((res) => {
                    if(res.data.msg === '已取消'){
                        this.msg = '取消收藏成功！';

                    }else{
                        this.msg = '恭喜，宝贝收藏成功！';
                        
                    }
                    Toast({
                        message: this.msg,
                        position: 'bottom',
                        duration: 800
                    });
                }).catch((err) => {
                    console.log(err);
                })
            },
            hide(){
                this.$store.state.const_join = true;
            },
        },
    }
</script>
<style lang="less" scoped>
    .footer2017{
        width:100%;
        height:1rem;
        .ex{
            font-size:.22rem;
            color:#999;
            padding-left:.2rem;
            line-height: .9rem;
            em{
                font-style:normal;
                font-size:.32rem;
                color:#d0111b;
            }
        }
        .seat{
            width:100%;
            height:100%;
            background:#f1f1f1;
        }
        .btn-main{
            width:100%;
            height:1rem;
            position:fixed;
            bottom:0;
            left:0;
            text-align:center;
            background:#fff;
            display: flex;
            justify-content: space-between;
            .b-icon{
                flex: 1;
                height:100%;
                display: flex;
                justify-content: space-around;
                .col{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    height:100%;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: .4rem;
                        height: .4rem;
                    }
                    span{
                        font-size: .24rem;
                        color:rgba(0,0,0,.5);
                        margin-top: .1rem;
                    }
                }
                .cart{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    height:100%;
                    justify-content: center;
                    img{
                        width: .48rem;
                        height: .48rem;
                    }
                    span{
                        font-size: .24rem;
                        color:rgba(0,0,0,.5);
                        margin-top: .1rem;
                    }
                }
            }
            .b-but{
                width:4.8rem ;
                height:1rem;
                .join{
                    width:2.4rem;
                    height:100%;
                    background:#000;
                    color:#fff;
                    font-size:.28rem;
                    line-height:1rem;
                }
                .imm{
                    width:2.4rem;
                    height:100%;
                    background:#D75268;
                    color:#fff;
                    font-size:.28rem;
                    line-height:1rem;
                }
            }
            
        }
    }
</style>
<style lang="less">
    .mint-toast{
        .mint-toast-text{
            font-size:.3rem;
        }
    }
</style>