<!--商品详情查看更多-->
<template>
	<div class="pr-tab-wrap">
		<pr-header :text="title" :number="number"></pr-header>
		<mt-navbar v-model="selected">
			<mt-tab-item id="1">图文详情</mt-tab-item>
			<mt-tab-item id="2">规格参数</mt-tab-item>
			<mt-tab-item id="3">商品评论</mt-tab-item>
		</mt-navbar>
		<mt-tab-container v-model="selected">
			<mt-tab-container-item id="1">
				<div class="list-img-wrap" v-html="datas">
					<!-- {{datas}}111 -->
				</div>
			</mt-tab-container-item>

			<mt-tab-container-item id="2">
				<ul class="list-wrap">
					<li class="clearfix frist">
						<span class="title fl">商品名称</span>
						<p class="con fl">{{data.title}} </p>
					</li>
					<li class="clearfix" v-if="data.brand">
						<span class="title fl">品牌</span>
						<p class="con fl">{{data.brand}}</p>
					</li>
					<li class="clearfix">
						<span class="title fl">分类名称</span>
						<p class="con fl">{{data.className}}</p>
					</li>
					<li class="clearfix">
						<span class="title fl">类型</span>
						<p class="con fl">{{data.typename}}</p>
					</li>
					<li class="clearfix">
						<span class="title fl">单位</span>
						<p class="con fl" v-if="data.attra">{{data.attra[0].item}}</p>
					</li>
				</ul>
			</mt-tab-container-item>

			<mt-tab-container-item id="3">
				<div class="comment-wrap">
					<h2>评论<span>({{dataItem.length}})</span></h2>
					<div class="list-wrap" v-for="item in dataItem" :key="item.id">
						<div class="list-hd clearfix">
							<div class="pull-left fl">
								<img src="../../../assets/user-d.jpg">
								{{item.user_name}}
							</div>
							<div class="pull-right fr"></div>
						</div>
						<div class="list-com">{{item.content}}</div>
						<div class="list-img-main clearfix">
							<img :src="URL + item" class="fl" v-for="item in dataItem.img" :key="item.id">
						</div>
						<div class="list-purTimer">购买日期： {{new Date(item.create_time * 1000).getFullYear()+'.'+(new Date(item.create_time * 1000).getMonth() + 1)+'.'+new Date(item.create_time * 1000).getDate()}}</div>
					</div>
				</div>
			</mt-tab-container-item>
		</mt-tab-container>
		<div class="footer2017">
			<div class="seat"></div>
			<div class="btn-main clearfix">
				<div class="b-icon">
					<div class="col fl" @click="col">
						<img :src="icon" alt="">
						<span>收藏</span>
					</div>
					<div class="cart fl" @click="cart">
						<em><img src="../../../assets/n-cart.png" alt=""></em>
						<span>购物车</span>
					</div>
				</div>
				<div class="b-but">
					<div class="join fl" @click="hide">加入购物车</div>
					<div class="imm fl" @click="hide">立即购买</div>
				</div>
			</div>
		</div>
    <!--  -->
		<div class="detail-wrap" @touchmove.prevent v-show="$store.state.const_join">
      <div class="top" @click="remove"></div>
      <div class="content-main">
        <div class="padd">
          <div class="contet-item clearfix" v-if="$store.state.commodity_data">
            <img
              :src="URL + $store.state.commodity_data.goods_img[0]"
              v-if="$store.state.commodity_data.goods_img"
            >
            <img
              :src="URL + $store.state.commodity_data.pic_url[0]"
              v-if="$store.state.commodity_data.pic_url"
            >
            <img
              :src="URL + $store.state.commodity_data.recommend[0].pic_url"
              v-if="$store.state.commodity_data.recommend"
            >
            <p
              class="item"
            >{{$store.state.commodity_data.title || $store.state.commodity_data.goods.title}}</p>
            <p class="price" v-if="$route.params.status == 1">￥
              <span>{{$store.state.commodity_data.price_member}}</span>
            </p>
            <p class="price" v-if="$store.state.commodity_data.goods">
              <span>{{$store.state.commodity_data.goods.integral}}</span> 积分
            </p>
            <span class="delete-btn" @click="remove">×</span>
          </div>

          <!-- 购买 -->
          <dl class="gui clearfix" v-for="(spec,index) in $store.state.commodity_data.allattrcha" :key="index">
            <dt class="fl">{{spec.name}}</dt>
            <dd
              class="fl"
              v-for="item in spec.value"
              :key="item.spci"
              @click="addClass(index,item.spci)"
              :class="{active:m_status == item.spci}"
            >{{item.attr}}</dd>
          </dl>


          <div class="addSub clearfix">
            <span class="pull-left fl">数量</span>
            <div class="pull-right fr clearfix">
              <span
                class="stock fl"
                v-if="$store.state.commodity_data.minStock"
              >库存：{{$store.state.commodity_data.minStock}}件</span>
              <div class="input-main fl clearfix">
                <button class="fl" @click="reduce">-</button>
                <input type="number" class="fl" v-model="$store.state.commodity_val" @input="min">
                <button class="fl" @click="plus">+</button>
              </div>
            </div>
          </div>
          <div class="com">
            共
            <span>{{Number($store.state.commodity_val)}}</span>件商品&nbsp;&nbsp;
            共计
            <span v-if="$store.state.commodity_data.price_member">
              <i>￥</i>
              {{($store.state.commodity_val * $store.state.commodity_data.price_member).toFixed(2)}}
            </span>
            <!-- <span v-if="$store.state.commodity_data.goods"> {{$store.state.commodity_val * $store.state.commodity_data.goods.integral}} <i>积分</i></span> -->
          </div>
        </div>
        <div class="btn-join clearfix">
          <button class="fl join" @click="join">加入购物车</button>
          <button class="fl imm" @click="toOrder">立即购买</button>
        </div>
      </div>
    </div>
		<!-- <Shopsn></Shopsn> -->
	</div>
</template>
<script>
import PrHeader from "./header.vue";
import prFoot from "./footBtn.vue";
import Shopsn from "@/components/page/Shopsn.vue";
import detailOption from "./detailOptions.vue";
import { Toast } from "mint-ui";
import qs from "qs";
export default {
  name: "tab",
  data() {
    return {
      selected: "1",
      title: "商品详情",
      number: "12",
      data: "",
      datas: "",
      dataItem: "",
			scrollWatch: true,
			icon : require('@/assets/n-sc.png'),
      type:'',
      link_id:"",
      m_status:''
    };
  },
  methods: {
    ax() {
      this.axios({
        url: API_URL + "Home/Goods/goods",
        method: "get",
        params: {
          goods_id: this.link_id,
          app_user_id: sessionStorage.getItem("user_ID")
        }
      })
      .then(res => {
        this.$store.state.commodity_data = res.data.data;            
        this.$store.state.catr_number = parseInt(res.data.data.goods_num);
        this.load_wrap = false;
      })
      .catch(err => {
        console.log(err);
      });
    },
    reduce() {
      if (this.$store.state.commodity_val <= 1) return;
      this.$store.state.commodity_val--;
    },
    plus() {
      if (
        this.$store.state.commodity_val >=
        this.$store.state.commodity_data.minStock
      )
        return;
      this.$store.state.commodity_val++;
    },
    min() {
      let val = parseInt(this.$store.state.commodity_val);
      if (val == 0) {
        this.$store.state.commodity_val = 0;
      }
      let reg = /(^[1-9]([0-9]*)$|^[0-9]$)/;
      if (!reg.test(this.$store.state.commodity_val)) {
        this.$store.state.commodity_val = "";
      }
      if (val >= this.$store.state.commodity_data.minStock)
        this.$store.state.commodity_val = this.$store.state.commodity_data.minStock;
    },
    remove() {
      this.$store.state.const_join = false;
    },
    addClass(index,spci) {    
      this.$set(this.m_status,index,spci);
      var key = this.m_status.join('_')
      this.$store.state.commodity_data.compatriot.forEach(item => {
        if(item.key == key){
          this.link_id = item.id
        }
      });
      this.ax()
    },
    toOrder() {
      if (
        this.$store.state.commodity_val == "" ||
        this.$store.state.commodity_val == 0
      ) {
        Toast("购买商品数量错误");
        return;
      } else if (this.$store.state.commodity_data.minStock == 0) {
        Toast("库存不足");
        return;
      } else if (!sessionStorage.getItem("user_ID")) {
        this.$router.push("/LogoIn");
        return;
      }
      this.$store.state.goods = JSON.stringify([
        {
          num: this.$store.state.commodity_val,
          id: this.$route.params.id,
          goods_price: this.$store.state.commodity_data.price_member
        }
      ]);
      this.$store.state.const_join = false;
      this.$router.push({
        name: "order",
        params: {
          id: 2
        }
      });
    },
    toExchange() {
      if (!sessionStorage.getItem("user_ID")) {
        this.$router.push("/LogoIn");
        return;
      }
      this.$store.state.goods = JSON.stringify([
        {
          num: this.$store.state.commodity_val,
          id: this.$route.params.id,
          goods_price: this.$store.state.commodity_data.price_member
        }
      ]);
      this.$store.state.const_join = false;
      this.$router.push({
        name: "order",
        params: {
          id: 3
        }
      });
    },
    join() {
      if (
        this.$store.state.commodity_val == "" ||
        this.$store.state.commodity_val == 0
      ) {
        Toast("购买商品数量错误");
        return false;
      } else if (this.$store.state.commodity_data.minStock == 0) {
        Toast("库存不足");
        return false;
      } else if (!sessionStorage.getItem("user_ID")) {
        this.$router.push("/LogoIn");
        return;
      }
      this.axios
        .post(
          API_URL + "Home/Cart/add_cart",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID"),
            goods_id: this.$route.params.id,
            goods_num: this.$store.state.commodity_val,
            price_new:
              this.$store.state.commodity_val *
              this.$store.state.commodity_data.price_member
          })
        )
        .then(res => {
          Toast(res.data.msg);
          if (res.data.status == 0) {
            this.$router.push("/LogoIn");
          }
          this.$store.state.catr_number += parseInt(
            this.$store.state.commodity_val
          );
          this.$store.state.const_join = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    cart() {
      this.$router.push({
        name: "Cart",
        params: {
          id: this.link_id
        }
      });
    },
    col() {
      //收藏
      if (this.icon == require('@/assets/n-sc.png')) {
        this.icon = require('@/assets/n-acsc.png');
        this.type = 1;
      } else {
        console.log(12312131321);
        this.icon = require('@/assets/n-sc.png');
        this.type = 2;
      }
      this.axios
        .post(
          API_URL + "Home/Cart/add_collection",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID"),
            goods_id: this.$route.params.id,
            type: this.type
          })
        )
        .then(res => {
          if (res.data.msg === "已取消") {
            this.msg = "取消收藏成功！";
          } else {
            this.msg = "恭喜，宝贝收藏成功！";
          }
          Toast({
            message: this.msg,
            position: "bottom",
            duration: 800
          });
        })
        .catch(err => {
          console.log(err);
        });
    },
    hide() {
			this.$store.state.const_join = true;
    }
  },
  mounted() {
    this.m_status = this.$route.params.m_status
    document.body.scrollTop = 0;
    this.$store.commit('shops_switch',this.$store.state.const_join);
		//图文详情
    this.axios({
      url: API_URL + "Home/Goods/goodsDetail",
      method: "get",
      params: {
        goods_id: this.$route.params.id
      }
    })
      .then(res => {
        this.datas = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
    //商品规格
    this.axios({
      url: API_URL + "Home/Goods/specifications",
      method: "get",
      params: {
        goods_id: this.$route.params.id
      }
    })
      .then(res => {
        this.data = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
    //评论
    this.axios({
      url: API_URL + "Home/Goods/commentList",
      method: "get",
      params: {
        goods_id: this.$route.params.id
      }
    })
      .then(res => {
        this.dataItem = res.data.data;
        new Date().getMonth;
      })
      .catch(err => {
        console.log(err);
      });
    
  },
  destroyed() {
    this.scrollWatch = false;
  },
  components: {
    PrHeader,
    prFoot,
    Shopsn,
    detailOption
  }
};
</script>
<style lang="less">
.detail-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  .top{
    flex: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .content-main {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    .padd {
      padding: 0 0.28rem;
      max-height: 8rem;
      overflow: auto;
      .contet-item {
        height: 1.6rem;
        padding: 0 0 0.4rem;
        position: relative;
        border-bottom: 1px solid #f4f4f4;
        img {
          width: 1.77rem;
          height: 1.77rem;
          border-radius: 10px;
          position: absolute;
          top:.08rem;
          left: 0;
        }
        .item {
          padding-left: 1.92rem;
          padding-top: 0.36rem;
          width: 4.8rem;
          height: 0.8rem;
          font-size: 0.26rem;
          color: #333;
          line-height: 0.4rem;
          overflow: hidden;
        }
        .price {
          font-size: 0.26rem;
          color: #d75268;
          padding-left: 1.92rem;
          padding-top: 0.1rem;
          span {
            font-size: 0.32rem;
          }
        }
        .delete-btn {
          position: absolute;
          right: -0.18rem;
          top: 0.04rem;
          width: 0.34rem;
          line-height: 0.3rem;
          height: 0.34rem;
          border: 1px solid #bfbfbf;
          text-align: center;
          font-size: 0.4rem;
          color: #bfbfbf;
          border-radius: 100%;
        }
      }
      .gui {
        padding-bottom: 0.26rem;
        border-bottom: 1px solid #f4f4f4;
        dt {
          width: 100%;
          height: 0.8rem;
          line-height: 0.8rem;
          font-size: 0.32rem;
          color: rgba(0, 0, 0, 0.8);
        }
        dd {
          height: 0.75rem;
          line-height: 0.75rem;
          padding: 0 0.3rem;
          border: 1px solid #d4d4d4;
          border-radius: 5px;
          font-size: 0.3rem;
          color: #333;
          margin-right: 0.3rem;
        }
        dd.active {
          background: #d75268;
          color: #fff;
          border-color: #fff;
        }
      }
      .addSub {
        height: 1.38rem;
        border-bottom: 1px solid #f4f4f4;
        line-height: 1.38rem;
        .pull-left {
          font-size: 0.32rem;
          color: rgba(0, 0, 0, 0.8);
        }
        .pull-right {
          .stock {
            font-size: 0.24rem;
            color: #aeadad;
            line-height: 70px;
          }
          .input-main {
            width: 2.36rem;
            height: 0.79rem;
            border: 1px solid #dfdfdd;
            border-radius: 5px;
            margin-top: 0.3rem;
            margin-left: 0.2rem;
            overflow: hidden;
            line-height: 0.79rem;
            button {
              width: 0.7rem;
              border: none;
              background: #fff;
              color: rgba(0, 0, 0, 0.8);
              font-size: 0.5rem;
              line-height: 0.79rem;
              outline: none;
              height: 100%;
            }
            button:active {
              background: #d75268;
              color: #fff;
            }
            input {
              width: 0.95rem;
              border: none;
              height: 100%;
              border-left: 1px solid #dfdfdd;
              border-right: 1px solid #dfdfdd;
              text-align: center;
              font-size: 0.4rem;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
      .com {
        height: 1.2rem;
        line-height: 1.2rem;
        text-align: right;
        font-size: 0.28rem;
        color: rgba(0, 0, 0, 0.8);
        span {
          font-size: 0.36rem;
          color: #d75268;
          font-weight: bold;
          i {
            font-size: 0.32rem;
            font-style: normal;
          }
        }
      }
    }
    .btn-join {
      button {
        width: 50%;
        border: none;
        height: 1rem;
        line-height: 1rem;
        color: #fff;
        font-size: 0.32rem;
      }
      .join {
        background: #000;
      }
      .imm {
        background: #d75268;
      }
    }
  }
}


.mint-tab-container{
  overflow: auto;
  position: relative;
  flex: 1;
}
.pr-tab-wrap {
  background: #f9f9f9;
  .list-main {
    padding-top: 0.1rem;
  }
  .mint-tab-item {
    .mint-tab-item-label {
      color: rgba(0, 0, 0, 0.6);
      font-size: 0.3rem;
      line-height: 0.75rem;
      font-size: 0.28rem;
    }
  }
  .mint-tab-item.is-selected {
    background: url("../../../assets/hx.png") no-repeat 0.86rem 0.76rem;
    border: none;
    .mint-tab-item-label {
      color: #d75268;
    }
  }
  .mint-navbar {
    height: 0.8rem;
    background: #fff;
    line-height: 0.8rem;
    .mint-tab-item {
      height: 100%;
      padding: 0;
      border-color: #d75268;
      line-height: 0.75rem;
    }
  }
  .list-wrap {
    margin-top: 0.2rem;
    .frist{
      max-height: 5rem;
      p{
        padding: .2rem 0;
      }
    }
    li {
      min-height: 1rem;
      padding: 0 0.28rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #f4f4f4;
      background: #fff;
      .title {
        width: 2.28rem;
        font-size: 0.28rem;
        color: rgba(0, 0, 0, 0.6);
      }
      .con {
        width: 4.8rem;
        font-size: 0.26rem;
        line-height: 0.36rem;
      }
    }
    .list-com {
      height: 0.65rem;
      line-height: 0.65rem;
      font-size: 0.24rem;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .comment-wrap {
    h2 {
      padding: 0 0.2rem;
      height: 0.88rem;
      font-size: 0.28rem;
      line-height: 0.88rem;
      background: none;
      color: #333;
      span {
        font-size: 0.28rem;
        color: #d75268;
      }
    }
    .list-wrap {
      width: 7.1rem;
      padding: 0 0.2rem;
      height: 3rem;
      background: #fff;
      margin-bottom: 0.1rem;
      .list-hd {
        padding: 0.2rem 0;
        line-height: 0.32rem;
        height: 0.3rem;
        .pull-left {
          padding-left: 0.46rem;
          font-size: 0.2rem;
          color: #b0b0b0;
          position: relative;
          img {
            width: 0.32rem;
            height: 0.32rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .pull-right {
          color: #999;
          font-size: 0.26rem;
        }
      }
      .list-img-main {
        height: 1rem;
        img {
          width: 1rem;
          height: 1rem;
          margin-right: 0.2rem;
        }
      }
      .list-purTimer {
        padding-top: 0.2rem;
        font-size: 0.2rem;
        color: #999;
      }
    }
  }
  .list-img-wrap {
    background: #fff;
    margin-top: 0.2rem;
    img {
      width: 100%;
    }
  }
}
.footer2017 {
  width: 100%;
  height: 1rem;
  .ex {
    font-size: 0.22rem;
    color: #999;
    padding-left: 0.2rem;
    line-height: 0.9rem;
    em {
      font-style: normal;
      font-size: 0.32rem;
      color: #d0111b;
    }
  }
  .seat {
    width: 100%;
    height: 100%;
    background: #f9f9f9;
  }
  .btn-main {
    width: 100%;
    height: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: space-between;
    .b-icon {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: space-around;
      .col {
        width: 50%;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        img {
          width: 0.4rem;
          height: 0.4rem;
        }
        span {
          font-size: 0.24rem;
          color: rgba(0, 0, 0, 0.5);
          margin-top: 0.1rem;
        }
      }
      .cart {
        width: 50%;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        img {
          width: 0.48rem;
          height: 0.48rem;
        }
        span {
          font-size: 0.24rem;
          color: rgba(0, 0, 0, 0.5);
          margin-top: 0.1rem;
        }
      }
    }
    .b-but {
      width: 4.8rem;
      height: 1rem;
      .join {
        width: 2.4rem;
        height: 100%;
        background: #000;
        color: #fff;
        font-size: 0.28rem;
        line-height: 1rem;
      }
      .imm {
        width: 2.4rem;
        height: 100%;
        background: #d75268;
        color: #fff;
        font-size: 0.28rem;
        line-height: 1rem;
      }
    }
  }
}
</style>