<!--最新促销商品及banner-->
<template>
	<div>
		<div style="height:4rem;">
			<div class="dd" v-if="data">
				<ul class="clearfix" :style="{ width : data.length * 2.3+'rem'}">
					<li class="fl" v-for="(item,index) in data" :key="item.id" @click="tolink(index)">
						<img v-lazy="URL + item.pic_url">
						<div class="title">{{item.title}}</div>
						<div class="t-pr">
							<p class="price"><i>￥</i>{{item.price_market}}</p>
							<span class="bPrice">￥{{item.price_member}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="banner" v-for="item in banner" :key="item.id">
			<img v-lazy="URL + item.pic_url">
		</div>
	</div>
</template>
<script>
	export default {
		name:'moveCon',
		data(){
			return {
				
			}
		},
		props:{
			data:null,
			url:null,
			banner:null
		},
		methods:{
			tolink(index){
				this.$router.push({
					name:'product',
					params:{
						id:this.data[index].id,
						status:1
					}
				})
			}
		},
		mounted(){
			
		}
	}
</script>
<style lang="less" scoped>
		div{
			overflow: hidden;
		.dd{
			width: 100%;
			height: 4rem;
			overflow-x: auto;
			padding: 0 14px;
			box-sizing: border-box;
			background-color: #f9f9f9;
			ul{
				height:100%;
				li{
					width: 2.8rem;
					height: 100%;
					/* padding: .1rem; */
					background: #fff;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					margin-right: .2rem;
					position: relative;
					border-radius: .12rem;
					box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.03);
					img{
						width: 2.8rem;
						height: 2.6rem;
						border-radius: .12rem .12rem 0 0;
					}
					.title{
						color: #333;
						font-size: .28rem;
						line-height: .32rem;
						padding: .2rem 0;
						overflow: hidden;
						margin-left: .28rem;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.t-pr{
						display: flex;
						align-items: center;
						width: 100%;
						.price{
							color:rgba(215,82,104,1);
							font-size: .36rem;
							margin-left: .24rem;
							font-family:'PingFangSC';
							i{
								font-size: .24rem;
								color:rgba(215,82,104,1);
								font-style: normal;
							}
						}
						.bPrice{
							color:rgba(221,221,221,1);
							font-size: .24rem;
							text-decoration: line-through;
						}
					}
					
				}
			}
		}
		.banner{
			padding:.28rem;
			background-color: #f9f9f9;
			img{
				width: 100%;
				height: 2.4rem;
				border-radius:.12rem;
			}
		}
		}
</style>