<!--热卖精选商品-->
<template>
    <div>
        <div class="dd" v-if="data">
        <ul class="clearfix" :style="{ width : data.length * 2.7+'rem'}">
            <li class="fl" v-for="(item,index) in data" :key="item.id" @click="tolink(index)">
                <!-- <div class="data">
                    <span class="timer">{{set}}</span>
                    <span class="state">{{status}}</span>
                </div> -->
                <img v-lazy="URL + item.pic_url">
                <div class="text">
                    <p class="desi">{{item.title}}</p>
                    <p class="price">￥<i class="newPrice">{{item.price_market}}</i><span class="bPrice">/￥<s>{{item.price_member}}</s></span></p>
                </div>
            </li>
        </ul>
    </div>
    </div>
</template>
<script>
    export default {
        name : 'slideItem',
        props:{
            data:'',
            status:'',
            set:''
        },
        methods:{
            tolink(index){
                this.$router.push({
                    name:'product',
                    params:{
                        id:this.data[index].id,
                        status:1 //1 代表普通商品 2代表积分商品
                    }
                });
            }
        }
    }
</script>
<style lang="less" scoped>
    div{
        overflow: hidden;
        height:4rem;
    .dd{
        width:100%;
        height:4rem;
        overflow-x:auto;
        ul{
            height:100%;
            li{
                width:2.8rem;
                height:4rem;
                background:#fff;
                box-sizing:border-box;
                -moz-box-sizing:border-box;
                -webkit-box-sizing:border-box;
                margin-left:.28rem;
                position:relative;
                border-radius: .12rem;
				box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.03);
                .text{
                    
                    height: 1.4rem;
                    width: 100%;
                    .desi{
                        color:#333;
                        font-size:.28rem;
                        margin-top: .18rem;
                        margin-left: .24rem;
                        width:2.1rem;
                        white-space:nowrap; 
                        overflow:hidden; 
                        text-overflow:ellipsis;
                    }
                    .price{
                        font-size:.22rem;
                        color:#D75268;
                        margin-top: .2rem;
                        margin-left: .24rem;
                        .newPrice{
                            font-size:.36rem;
                            color:#D75268;
                            font-style: normal;
                        }
                        .bPrice{
                            font-size:.22rem;
                            color:#a8a8a8;
                            s{
                                font-size:.22rem;
                            }
                        }
                    }
                }
                img{
                    width:100%;
                    height:2.6rem;
                    border-radius: .12rem .12rem 0 0;
                }
                .data{
                    width:.68rem;
                    height:.66rem;
                    background:#f02b2b;
                    position:absolute;
                    left:-1px;
                    top:-1px;
                    padding:1px;
                    z-index:2;
                    span:nth-child(1){
                        background:#fff;
                        color:#f02b2b;
                    }
                    span{
                        font-size:.2rem;
                        display:block;
                        height:.33rem;
                        text-align:center;
                        line-height:.33rem;
                        color:#fff;
                    }
                }
            }
        }
    }
    }
</style>