<!--首页分类头部-->
<template>
	<div>
		<div class="hd clearfix">
			<div class="title">{{text}}</div>
			<div class="more" @click="tolin">
				查看更多
				<img src="../../../assets/more.png" alt="">
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		name : 'conHeader',
		data(){
			return {

			}
		},
		props:{
			text:null,
			toLink:null,
			status:''
		},
		methods:{
			tolin(){
					this.$router.push({
						path:'comList/'+this.toLink+'/'+'m'
					})
				// }
				console.log(this.toLink)
			}
		}
	}
</script>
<style scoped lang="less">
	.hd{
		padding:0 .28rem;
		box-sizing: border-box;
		height: .88rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: #f9f9f9;
		.title{
			flex: 1;
			height: .88rem;
			font-size:.36rem;
			color:rgba(0,0,0,1);
			display: flex;
			align-items: center;
		}
		.more{
			width:20%;
			height: .88rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: .24rem;
			color: rgba(0,0,0,.4);
			img{
				width: .12rem;
				height: .22rem;
			}
		}
	}
</style>