<!--首页头部-->
<template>
  <div class="header clearfix">
		<div @click="tolink('/home')" class="logo">
			<img :src="logoImg">
		</div>
		<router-link class="input-main" to='/search'>
			<input type="text" value="搜索商品..." disabled>
		</router-link>
  </div>
</template>

<script>
	export default {
		name: 'heade',
		data() {
			return {
				logoImg:require('@/assets/logo.png'),
			}
		},
		methods: {
			tolink(link){
				this.$router.push(link)
			}
		}
	}
</script>

<style lang="less" scoped>
	.header {
		width: 100%;
		height: .88rem;
		background:#fff;
		overflow: hidden;
		display: flex;
		padding: 0 .28rem;
		box-sizing: border-box;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		z-index: 9999;
		.logo {
			width: 2rem;
			height: .88rem;
			line-height: .88rem;
			margin-right: .28rem;
			img {
				width: 1.8rem;
				height: .56rem;
				margin-top: .14rem;
				margin-right: .12rem;
			}
		}
		.input-main {
			width: 4.88rem;
			height: .56rem;
			border-radius:.04rem;
			
			
			line-height:100%;
			input {
				height: 100%;
				width: 100%;
				border: none;
				background:rgba(0,0,0,.08) url(../../../assets/m-s.png) no-repeat .24rem center;
				background-size:.32rem .32rem;
				text-indent: .7rem;
				font-size: .28rem;
				color: rgba(0,0,0,.4)
			}
		}
	}
</style>