<!--首页商品列表-->
<template>
	<div class="hotGoods-wrap">
		<ul class="content-main clearfix">
			<li class="fl" v-for="(item,index) in data" :key="item.id" @click="tolink(index)">
				<img v-lazy="URL + item.pic_url">
				<div class="title">{{item.title}}</div>
				<div class="t-pr">
					<p class="price"><i>￥</i>{{item.price_market}}</p>
				</div>
			</li>
		</ul>
	</div>    
</template>
<script>
export default {
  name: "hotGoods",
  props: ["data"],
  methods: {
    tolink(index) {
      this.$router.push({
        name: "product",
        params: {
          id: this.data[index].id,
          status: 1
        }
      });
      console.log(this.data[index].id)
    }
  }
};
</script>
<style lang="less" scoped>
.hotGoods-wrap {
  background: #f9f9f9;
  width: 100%;
  padding: 0 0.28rem;
  box-sizing: border-box;
  .content-main {
    li {
      width: 3.36rem;
      height: 4.4rem;
      background: #fff;
      margin-top: 0.11rem;
      margin-bottom: 0.11rem;
      margin-right: 0.22rem;
      border-radius: 0.12rem;
      box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.03);
      img {
        width: 3.36rem;
        height: 2.8rem;
        border-radius: 0.12rem 0.12rem 0 0;
      }
      .title {
        color: #333;
        font-size: 0.28rem;
        line-height: 0.32rem;
        padding: 0.2rem 0;
        overflow: hidden;
        margin-left: 0.28rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .t-pr {
        display: flex;
        align-items: center;
        width: 100%;
        .price {
          color: rgba(215, 82, 104, 1);
          font-size: 0.36rem;
          margin-left: 0.24rem;
          font-family: "PingFangSC";
          i {
            font-size: 0.24rem;
            color: rgba(215, 82, 104, 1);
            font-style: normal;
          }
        }
      }
    }
    li:nth-child(2n) {
      margin-right: 0;
    }
  }
}
</style>