<!--公告-->
<template>
	<div class="flash-wrap">
		<div class="flash-dt clearfix">
			<!-- 左 -->
			<div class="flash-news fl text-center">
				<em></em>
				资讯
			</div>
			<!-- 中 -->
			<div class="flash-content fl" @click="tolin">
				<ul class="scroll_box" ref="scroll_box" :class="{anim:animate==true}">
					<li  class="text-single-hidden" v-for="(item,index) in data" :key="index">{{item.title}}</li>
				</ul>
				<!-- <div id="box">
					<ul id="con1" ref="con1" :class="{anim:animate==true}">
						<li v-for='item in data'>{{item.title}}</li>
					</ul>
				</div> -->
			</div>
			<!-- 右 -->
			<router-link to="/Notice" class="flash-more fr">
				<img src="../../../assets/more.png" alt="">
			</router-link>
		</div>
	</div>
</template>
<script>
export default {
  name: "newsflash",
  data() {
    return {
      animate: false,
      items: [{ name: "马云" }, { name: "雷军" }, { name: "王勤" }]
    };
  },
  props: {
    data: null,
    nav: null
  },
  created() {
    setInterval(this.scroll_box, 3000);
  },
  methods: {
    scroll_box() {
      this.animate = true; // 添加css3过渡动画，所以这里需要设置true
      setTimeout(() => { //  箭头函数，处理this指向
        this.data.push(this.data[0]); // 将数组的第一个元素添加到数组的
        this.data.shift(); //删除数组的第一个元素
        this.animate = false;
      }, 500);
    },
    link(link) {
      this.$router.push({
        path: "/" + link
      });
    },
    tolin() {
      this.$router.push({
        name: "Notice"
      });
    }
  }
};
</script>
<style lang="less" scoped>
.flash-wrap {
  width: 100%;
  height: 0.88rem;
  background: #fff;
  padding: 0 0.28rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .flash-dt {
    width: 100%;
    height: 0.88rem;
    background: #fff;
    .flash-news {
      width: 1.35rem;
      height: 0.88rem;
      display: flex;
      align-items: center;
      font-size: 0.32rem;
      em {
        display: inline-block;
        width: 0.44rem;
        height: 0.44rem;
        background: url(../../../assets/gg.png) no-repeat;
        background-size: 0.44rem 0.44rem;
        margin-right: 0.12rem;
      }
    }
    .flash-content {
      position: relative;
      left: 0.4rem;
      height: 0.88rem;
      width: 4.4rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .anim {
        transition: all 0.5s;
        margin-top: -0.88rem;
        width: 4.4rem;
        position: absolute;
        top: 0rem;
      }
      .text-single-hidden {
        width: 4.4rem;
        height: 0.88rem;
        font-size: 0.24rem;
        color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
      }
    }
    .flash-more {
      width: 1rem;
      height: 0.88rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 0.12rem;
        height: 0.22rem;
      }
    }
  }
}
</style>