<!--首页-->
<template>
	<div class="home">
		<div v-title data-title="E家尚品">E家尚品</div>
		<!-- header -->
		<home-header :userName="getData"></home-header>
		<div class="main">
      <!-- swiper -->
		<mt-swipe :auto="4000">
			<mt-swipe-item v-for="(item,index) in $store.state.home_data.banner" :key="index" >
				<!-- banner点击事件 -->
        <!-- <a :href="item.ad_link" v-if="item.ad_link">
					<img v-lazy="URL + item.pic_url">
				</a>
				<img v-lazy="URL + item.pic_url" v-else> -->
				<img v-lazy="URL + item.pic_url">
			</mt-swipe-item>
		</mt-swipe>
		<!-- 公告 -->
		<news-flash :nav="$store.state.home_data.nav"    :data="$store.state.home_data.announcement" v-if="$store.state.home_data.announcement"></news-flash>
		<!-- 最新促销title -->
		<limited-hd v-if="$store.state.home_data.promotions" :text="text[0]" :toLink="'/latestProm'"></limited-hd>
		<!-- 最新促销商品及banner --> 
		<limited-dd v-if="$store.state.home_data.promotions" :data="$store.state.home_data.promotions" :banner="$store.state.home_data.promotions_img"></limited-dd>
		<!-- 商品分类 -->
		<div class="goods-class"  v-for="(item,index) in classGoods" :key="index">
			<!-- title -->
			<limited-hd :text="item.class_name" :toLink="item.id" :status="'mobile'" ></limited-hd> 
			<!-- goods -->
			<hot-goods :data="item.goods"></hot-goods>
		</div>
		<!-- 末尾文字 -->
		<Shopsn></Shopsn>

		<div class="load-wrap" v-show="$store.state.load_wrap" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
    </div>
	</div>
</template>
<script>
import HomeHeader from "./children/Header"; //header
import NewsFlash from "./children/newsFlash"; //公告
import hotGoods from "./children/hotGoods"; //goods
import limitedHd from "./children/conHeader"; //title
import limitedDd from "@/components/Widget/moveCon"; //最新促销商品列表及banner
import Shopsn from "@/components/page/Shopsn.vue"; //末尾文字
import { Indicator } from "mint-ui";
import QS from "qs";
export default {
  name: "home",
  data() {
    return {
      continuous: true,
      defaultIndex: 0,
      showIndicators: true,
      prevent: true,
      stopPropagation: true,
      data: "",
      getData: "",
      newsData: null,
      endtime: "",
      promotions: "",
      classGoods: []
    };
  },
  created() {
    //是否登陆过
    let userid = localStorage.getItem("user_ID");
    if (userid) {
      sessionStorage.setItem("user_ID", userid);
    }

    var userName = this.$route.params.userName;
    var HOME_URL_SASD = "";
    this.getData = userName;
    if (sessionStorage.getItem("user_ID")) {
      HOME_URL_SASD =
        API_URL +
        "Home/Index/home?SDKFJSD=" +
        sessionStorage.getItem("user_ID");
    } else {
      HOME_URL_SASD = API_URL + "Home/Index/home";
    }
    this.axios({
      url: HOME_URL_SASD,
      method: "post"
    })
      .then(res => {
        var json_wx = JSON.parse(res.request.response);
        if (json_wx.status == 999) {
          window.location.href = json_wx.msg;
          return;
        }
        this.$store.state.home_data = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
    this.getClassGoods();
  },
  methods: {
    getClassGoods() {
      this.axios({
        url: API_URL + "Home/Index/getClassGoods",
        method: "get"
      })
        .then(res => {
          if (res.data.status == 1) {
            this.classGoods = res.data.data;
          }
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  updated() {
    var that = this;
    setTimeout(function() {
      that.$store.state.load_wrap = false;
    }, 1000);
  },
  components: {
    HomeHeader,
    NewsFlash,
    hotGoods,
    Shopsn,
    limitedDd,
    limitedHd
  }
};
</script>
<style lang="less" scoped>
.home {
  width: 100%;
	height: 100%;
	flex:1;
	overflow: auto;
  .mint-swipe-indicators {
    width: 100%;
    text-align: center;
  }
}
.main{
  display: flex;
  flex-direction: column;
}
</style>
<style lang="less" scoped>
.home {
  .mint-swipe {
    width: 100%;
    height: 3.2rem;
    padding-top: 0.88rem;
    img {
      width: 100%;
      height: 100%;
    }
    .mint-swipe-indicators {
      .mint-swipe-indicator {
        width: 20px;
        height: 20px;
      }
    }
  }
  .entranch-main {
    width: 100%;
    height: 2rem;
  }
  .home-banner {
    padding: 0.2rem;
    img {
      width: 100%;
    }
  }
  .banner {
    img {
      width: 100%;
    }
  }
  .banner-3 {
    img {
      width: 7.5rem;
      height: 3.75rem;
    }
  }
}
</style>