<!--个人中心-->
<template>
	<div class="per-center">
		<div v-title data-title="个人中心">个人中心</div>
		<div class="header-wrap">
			<div class="header-hd">个人中心<router-link to="/myNews"><span></span></router-link></div>
			<div class="header-dd-center">
				<!--<div class="setUp"></div>-->
				<div class="icon-wrap" @click="toLink('/seetin')">
					<img :src="URL+ $store.state.user_Imag">
				</div>
				
			</div>
			<div class="status">
				<span class="name">{{data.user_name}}</span>
				<!--<span class="member">黄金会员</span>-->
			</div>
			<div class="admin" @click="toLink('/seetin')">设置</div>
		</div>
		<div class="my-or">
			<div class="myOrder clearfix">
				<div class="title fl">我的订单</div>
				<div class="see fr" @click="toOrder(0)"><span class="icon-right"></span>查看订单</div>
			</div>
			<ul class="nav-link clearfix">
				<li class="fl" v-for="(item,index) in navCon" :key="item.id" @click="toOrder(index+1)">
					<div class="icon-wrap">
						<img :src="item.imgData" alt="">
					</div>
					<p>{{item.text}}</p>
				</li>
			</ul>
		</div>

		<!-- 我的钱包 -->
		<!-- <div class="myOrder clearfix">
			<div class="title fl"><span class="icon-wallet"></span>我的钱包</div>
			<div class="see fr" @click="toLink('/myWallet')"><span class="icon-right"></span>查看详情</div>
		</div> -->
		<!-- 账户余额 -->
		<!-- <ul class="account clearfix">
			<li class="fl" @click="toLink('/myWallet')">
				<p class="number"><span class="money">￥</span><span class="min">{{$store.state.my_wallet.balance || 0}}</span></p>
				<p class="balance">账户余额</p>
			</li>
			<li class="fl" @click="toLink('/Integral')">
				<p class="number">{{$store.state.my_wallet.integral || 0}}</p>
				<p class="balance">积分</p>
			</li>
		</ul> -->
		<ul class="more clearfix">
			<li class="fl" v-for="(item,index) in Imag" :key="item.id" @click="toLink(index)">
				<p>{{more.name[index]}}</p>
				<img :src="item">
			</li>
		</ul>
		<Shopsn></Shopsn>
	</div>
</template>
<script>
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "MyAiguxuan",
  data() {
    return {
      more: {
        // icon: [
        //   require("@/assets/right.png"),
        //   require("@/assets/right.png"),
        //   require("@/assets/right.png"),
        //   require("@/assets/right.png"),
        //   require("@/assets/wdpj.png"),
        //   require("@/assets/my_ico_02@3x.png"),
        //   require("@/assets/my_ico_03.png"),
        //   require("@/assets/my_ico_08.png"),
        //   require("@/assets/right.png"),
        //   require("@/assets/right.png"),
        //   require("@/assets/right.png"),
        //   require("@/assets/right.png")
        // ],
        name: [
          "我的收藏",
          "我的足迹",
          "我的评价",
          "取货码",
          "优惠券",
          "分销中心",
          "收货地址",
          "意见反馈",
          "客服中心",
        ]
      },
      Imag: [
        require("@/assets/right.png"),
        require("@/assets/right.png"),
        require("@/assets/right.png"),
        require("@/assets/right.png"),
        require("@/assets/right.png"),
        require("@/assets/right.png"),
        require("@/assets/right.png"),
        require("@/assets/right.png"),
        require("@/assets/right.png"),
      ],
      navCon: [
        { text: "待付款", imgData: require("@/assets/dfk.png") },
        { text: "待发货", imgData: require("@/assets/dfh.png") },
        { text: "待收货", imgData: require("@/assets/dsh.png") },
        { text: "已完成", imgData: require("@/assets/ywc.png") },
        { text: "退换货", imgData: require("@/assets/thh.png") }
      ],
      data: "",
      user_header: true
    };
  },
  components: {
    Shopsn
  },
  methods: {
    toOrder(sta) {
      if (sta == 5) {
        this.$router.push("/repair");
        return;
      }
      this.$store.state.status = sta;
      this.$router.push({
        name: "orderWrap",
        params: {
          status: sta
        }
      });
    },
    toLink(link) {
      if (!sessionStorage.getItem("user_ID")) {
        this.$router.push({
          path: "/LogoIn"
        });
        return;
      }
      function isString(str) {
        return typeof str == "string" && str.constructor == String;
      }
      if (isString(link)) {
        this.$router.push({
          path: link
        });
      } else {
        switch (link) {
          case 0:
            this.$router.push("/Collection"); //我的收藏
            break;
          case 1:
            this.$router.push("/footprint"); //我的足迹
            break;
          case 2:
            this.$router.push("/myComment"); //我的评价
            break;
          case 3:
            this.$router.push("/ecode"); //取货码
            break;
          case 4:
            this.$router.push("/coupon"); //优惠劵
            break;
          case 5:
            this.$router.push("/distribution"); //分销中心
            break;
          case 6:
            this.$router.push({
              name: "address", //收货地址
              params: {
                status: 2
              }
            });
            break;
          case 7:
            this.$router.push("/Feedback"); //意见反馈
            break;
          case 8:
            this.$router.push("/customer"); //客服中心
            break;
        }
      }
    }
  },
  mounted() {
    document.body.scrollTop = 0;
    this.axios
      .post(
        API_URL + "Home/Pcenter/userinfo",
        qs.stringify({
          app_user_id: sessionStorage.getItem("user_ID")
        })
      )
      .then(res => {
        this.data = res.data.data;
        let ua = window.navigator.userAgent.toLowerCase();
        // if (ua.match(/MicroMessenger/i) == 'micromessenger') {
        //     this.$store.state.user_Imag=res.data.data.weixheader
        // } else {
        this.$store.state.user_Imag = res.data.data.user_header;

        // }
      })
      .catch(err => {
        console.log(err);
      });
    this.axios
      .post(
        API_URL + "Home/Pcenter/my_wallet",
        qs.stringify({
          app_user_id: sessionStorage.getItem("user_ID")
        })
      )
      .then(res => {
        this.$store.state.my_wallet = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
  },
};
</script>
<style lang="less" scoped>
.per-center {
  background: #f9f9f9;
  flex: 1;
  overflow: auto;
}
.header-wrap {
  width: 100%;
  background-color: #fff;
  position: relative;
  .header-hd {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.32rem;
    padding: 0.2rem 0;
    color: #000;
    text-align: center;
    position: relative;
    span {
      width: 0.47rem;
      height: 0.46rem;
      position: absolute;
      right: 0.23rem;
      top: 50%;
      margin-top: -0.23rem;
      background: url("../../assets/news1.png") no-repeat;
      background-size: 100% 100%;
    }
  }
  .header-dd-center {
    width: 100%;
    height: 1.5rem;
    position: relative;
    .setUp {
      width: 0.62rem;
      height: 0.61rem;
      position: absolute;
      left: 1.04rem;
      top: 50%;
      margin-top: -0.305rem;
      background: url(../../assets/setUp.png) no-repeat;
      background-size: 100% 100%;
    }
    .icon-wrap {
      width: 1.26rem;
      height: 1.26rem;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
      border-radius: 100%;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      img {
        width: 1.26rem;
        height: 1.26rem;
        border-radius: 100%;
        box-sizing: border-box;
      }
    }
  }
  .status {
    padding: 0.2rem 0;
    text-align: center;
    line-height: 0.31rem;
    span {
      display: inline-block;
      height: 0.31rem;
    }
    .name {
      font-size: 0.28rem;
    }
    .member {
      padding-left: 0.37rem;
      padding-right: 0.1rem;
      width: 1.08rem;
      font-size: 0.24rem;
      color: #fff600;
      background: url(../../assets/mberIcon.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .admin {
    line-height: 0.96rem;
    font-size: 0.28rem;
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    text-align: center;
    margin-right: 0.28rem;
  }
}
.my-or {
  padding: 0.2rem 0.28rem 0.07rem 0.28rem;
}
.myOrder {
  width: 100%;
  height: 0.8rem;
  border-bottom: 1px solid #f4f4f4;
  line-height: 0.8rem;
  background: #fff;
  border-radius: 0.12rem 0.12rem 0 0;
  .title {
    font-size: 0.28rem;
    color: #333;
    padding: 0 0.28rem;
    position: relative;
  }

  .see {
    font-size: 0.24rem;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    padding-right: 0.7rem;
    .icon-right {
      position: absolute;
      right: 0.28rem;
      top: 37%;
      width: 0.18rem;
      height: 0.3rem;
      background: url(../../assets/right.png) no-repeat;
      background-size: 90% 90%;
    }
  }
}
.nav-link {
  margin-bottom: 0.14rem;
  background: #fff;
  border-radius: 0 0 0.12rem 0.12rem;
  li {
    width: 20%;
    height: 1.26rem;
    text-align: center;
    padding-top: 0.1rem;
    .icon-wrap {
      width: 100%;
      height: 0.8rem;
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
    }
    p {
      font-size: 0.24rem;
      color: #797979;
    }
  }
  li:nth-child(1) {
    .icon-wrap {
      img {
        width: 0.48rem;
        height: 0.46rem;
      }
    }
  }
  li:nth-child(2) {
    .icon-wrap {
      img {
        width: 0.48rem;
        height: 0.46rem;
      }
    }
  }
  li:nth-child(3) {
    .icon-wrap {
      img {
        width: 0.48rem;
        height: 0.44rem;
      }
    }
  }
  li:nth-child(4) {
    .icon-wrap {
      img {
        width: 0.48rem;
        height: 0.46rem;
      }
    }
  }
  li:nth-child(5) {
    .icon-wrap {
      img {
        width: 0.44rem;
        height: 0.44rem;
      }
    }
  }
}
// 账户余额
// .account{
//     padding:.2rem 0;
//     height:.95rem;
//     width:100%;
//     background:#fff;
//     margin-bottom:.14rem;
//     li{
//         width:50%;
//         height:100%;
//         border-right:1px solid #e7e7e7;
//         box-sizing:border-box;
//         text-align:center;
//         .number{
//             font-size:.42rem;
//             color:#333;
//             .money{
//                 font-size:.32rem;
//                 color:#999;
//             }
//             .min{
//                 font-size:.32rem;
//             }
//         }
//         .balance{
//             font-size:.24rem;
//             color:#999;
//             padding-top:.15rem;
//         }
//     }
//     li:last-child{
//         border:none;
//     }
// }
.more {
  li {
    background: #fff;
    width: 100%;
    height: 0.88rem;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.28rem;
    p {
      font-size: 0.28rem;
      color: #333;
    }
    img {
      width: 0.14rem;
      height: 0.26rem;
    }
  }
  li:nth-of-type(4),
  li:nth-of-type(7) {
    margin-top: 10px;
  }
}
</style>