@charset "utf-8";

/* CSS Document */
img {
    vertical-align: top;
}

* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}


/*img[lazy=loading] {
    background: #ccc;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #666;
}

img {
    border: none;
}

p {
    line-height: 100%;
}

ul,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


/*i,em{font-style:normal;}*/

b,
strong {
    font-weight: normal;
}

img {
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 0;
}


/*清除默认样式*/

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* img[lazy=loading] {
    background: #ccc;
} */


/*手形*/

.hand {
    cursor: pointer;
}


/*禁止*/

.prohibit {
    cursor: not-allowed;
}


/*
    =============
        背景颜色
    =============
*/


/*安全色*/

.progress-bar-security {
    background-color: #337ab7;
}


/*警告*/

.progress-bar-warning {
    background-color: #f0ad4e;
}


/*危险*/

.progress-bar-danger {
    background-color: #d9534f;
}


/*
    ========================
        布局 文本
    ========================
*/


/*文字居中*/

.text-center {
    text-align: center;
}


/*文字左对齐*/

.text-left {
    text-align: left;
}


/*文字右对齐*/

.text-right {
    text-align: right;
}


/*转块*/

.block {
    display: block;
}


/*转行内块*/

.inline-block {
    display: inline-block
}


/*转行内*/

.inline {
    display: inline;
}


/*隐藏元素*/

.hide {
    display: none;
}


/*内容隐藏*/

.hidden {
    visibility: hidden;
}


/*内容可视*/

.show {
    visibility: visible;
}


/*单行文本溢出隐藏*/

.text-single-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text1-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*2行文本溢出隐藏*/

.text2-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/*3行文本溢出隐藏*/

.text3-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}


/*4行文本溢出隐藏*/

.text4-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.panel-body {
    padding: 15px;
}

.load-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #fff;
}

.load-wrap .mint-spinner-triple-bounce {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
}

.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.load .mint-spinner-triple-bounce {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
}