<template>
    <div class="Search-header">
        <div v-title data-title="主页">商品搜索</div>
        <div class="Search-wap clearfix">
            <div class="Search-input-main fl">
                <input type="search" v-model="value" @input="get" placeholder="搜索商品...">
            </div>
            <span @click="remove" class="return-btn fl">取消</span>
        </div>
        <div class="Search-content" v-show="!value">
            <div class="hot">
                <div class="title"><span></span>热门搜索</div>
                <ul class="clearfix">
                    <li class="fl" v-for="(item,index) in hot_data" :key="item.id" @click="tolist('/list',index)">{{item.hot_words}}</li>
                </ul>
                <!-- <div class="def" v-if="hot_data.length <= 0">热门搜索为空!</div> -->
            </div>
            <div class="hit">
                <div class="title">
                    历史搜索
                    <img src="../../assets/clear.png" alt="" @click="clear" v-show="hit.length > 0">
                </div>
                <ul class="clearfix">
                    <li class="fl" v-for="(item,index) in hit" :key="item.id" @click="toHit('/list',index)">{{item}}</li>
                </ul>
                <div class="def" v-show="hit.length <= 0">你还没浏览过任何商品哦，快去逛逛吧！</div>
            </div>
            <!-- <button class="btn" @click="clear" v-show="hit.length > 0">清空历史记录</button> -->
        </div>
        <ul class="list-item-wrap" v-show="value">
            <li v-for="(item,index) in search_data" :key="item.id" class="text1-hidden" @click="toLink('/list',index)">{{item.title}}</li>
        </ul>

        <div class="load-wrap" v-show="load_wrap" @touchmove.prevent>
            <mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner>
        </div>
    </div>
</template>
<script>
    import qs from 'qs';
    import { MessageBox,Toast } from 'mint-ui';
    var clear = null;
    export default {
        name: 'search',
        data() {
            return {
                value: null,
                hit:[],
                hot:['131','444'],
                search_data:'',
                hot_data:'',
                load_wrap:true,
                status:'search',
                err:[
                    {
                        title:'没有找到该商品',
                        click:false
                    }
                ]
            }
        },
        created(){
            if(localStorage.getItem('hit') != '' && localStorage.getItem('hit') != 'undefined' && localStorage.getItem('hit') != null){
                this.hit = localStorage.getItem('hit').split(',');
            }
        },
        methods: {
            get() {
                clearTimeout(clear);
                clear = setTimeout(() => {
                    this.axios.get(API_URL + 'Home/Index/keyWordSearch?keyword='+this.value)
                    .then((res) => {
                        console.log(res.data.data)
                        if(res.data.data == ''){
                            this.search_data = this.err;

                        }else{
                            this.search_data = res.data.data;
                        }
                        
                    }).catch((err) => {
                        console.info('FailtrueErr', err);
                    });
                },300);
            },
            remove(){
                this.$router.go(-1);
            },
            toLink(link,index){
                this.hit.push(this.value);
                for(var i = 0;i<this.hit.length;i++){
                    if(this.hot.indexOf(this.hit[i]) == -1){  
                        this.hot.push(this.hit[i]);
                    }
                }
                localStorage.setItem('hit',this.hot.join(','));
                this.$router.push({
                    name:'comList',
                    params:{
                        id:this.value,
                        status:this.status
                    }
                });
                console.log(this.value)
                console.log(this.status)
            },
            tolist(link,index){
                this.$router.push({
                    name:'list',
                    params:{
                        id:this.hot_data[index].hot_words,
                        status:this.status
                    }
                });
            },
            toHit(link,index){
                this.$router.push({
                    name:'list',
                    params:{
                        id:this.hit[index],
                        status:this.status
                    }
                });
            },
            clear(){
                MessageBox.confirm('确定执行此操作?').then(action => {
                    this.hit = [];
                    localStorage.setItem('hit',this.hit);
                });
            }
        },
        updated(){
            var that = this;
            setTimeout(function(){
                console.log(123)
                that.load_wrap = false;
            },1000);
        },
        mounted(){
            this.axios({
                url:API_URL + 'Home/Index/hot_search',
                method:'post'
            }).then((res) => {
                console.log(res)
                this.hot_data = res.data.data;
            }).catch((err) => {
                console.log(err);
            });
        }
    }
</script>
<style lang="less" scoped>
body{
    background:#fff !important;
}
.Search-header{
    background:#fff;
    .Search-wap {
        height: .88rem;
        padding: 0 .28rem;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.03);
        .return-btn {
            width: .8rem;
            height: .6rem;
            text-align: center;
            line-height: .6rem;
            font-size: .28rem;
            color: #000;
        }
        .Search-input-main {
            width: 6.1rem;
            height: .56rem;
            line-height:100%;
            border-radius: .04rem;
            input {
                width: 6.1rem;
                height: 100%;
                border: none;
                background: rgba(0,0,0,.03) url(../../assets/search.png) no-repeat .2rem .1rem;
                background-size:.36rem .32rem;
                outline: none;
                text-indent: .8rem;
                font-size: .25rem;
            }
            input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
                color: rgba(0,0,0,.2); 
            } 
            input:-moz-placeholder, textarea:-moz-placeholder { 
                color: rgba(0,0,0,.2); 
            } 
            input::-moz-placeholder, textarea::-moz-placeholder { 
                color: rgba(0,0,0,.2); 
            } 
            input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
                color: rgba(0,0,0,.2); 
            } 
        }
    }
    .Search-content {
        .hot,
        .hit{
            padding: .2rem .28rem;
            .title{
                font-size:.28rem;
                color:#000;
                padding:.3rem 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: .22rem;
                    height: .24rem;
                }
            }
            .def{
                font-size:.28rem;
                color: rgba(0,0,0,.4); 
                text-align:center;
            }
            li{
                height:.73rem;
                padding:0 .25rem;
                font-size:.24rem;
                color:rgba(0,0,0,.4);
                line-height:.73rem;
                text-align:center;
                background:#f9f9f9;
                border-radius:5px;
                margin-right:.17rem;
                margin-top:.2rem;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
        }
        .hit{
            padding-bottom:.3rem;
        }
        .hot{
            .title{
                padding-left:.4rem;
                position:relative;
                span{
                    width:.25rem;
                    height:.31rem;
                    position:absolute;
                    left:0;
                    top:50%;
                    margin-top:-.155rem;
                    background:url(../../assets/hot.png) no-repeat;
                    background-size:100% 100%;
                }
            }
        }
        .btn{
            height:.78rem;
            margin:0 auto;
            display:block;
            font-size:.24rem;
            color:rgba(0,0,0,.4);
            border:1px solid #b3b3b3;
            border-radius:5px;
            background:#f9f9f9;
        }
    }
}

.Search-header{
    .list-item-wrap{
        background:#fff;
        li{
            font-size:.25rem;
            height: .8rem;
            line-height: .8rem;    
            color:rgba(0,0,0,.4);
            font-weight: normal;
            border-bottom:1px solid #ccc;
            padding:0 .2rem;
            background:url(../../assets/btn-right.png) 7.2rem center no-repeat;
            background-size:.14rem .24rem;
        }
        li:active{
            background:url(../../assets/btn-right.png) 7.2rem center no-repeat #f5f5f5;
            background-size:.14rem .24rem;
        }
    }
}
</style>