<template>
	<div class="Search-header">
		<div v-title data-title="主页">商品搜索</div>
		<div class="Search-wap clearfix">
			<!-- <span @click="remove" class="return-btn fl">搜索</span> -->
			<span class="s-img" @click="remove">
				<img src="../../assets/left.png" alt="">
			</span>
			<div class="Search-input-main fl">
				<input type="text" v-model="value" @input="get" id="search" placeholder="搜索商品..." value="">
				<span @click="clearVal()" v-if="value" class="xx">
					<img src="../../assets/xx.png" alt="">
				</span>
			</div>
			<span @click="search()" class="return-btn fl">搜索</span>
		</div>
		<div class="se-main">
			<div class="Search-content" v-show="!value">
      <!-- 热门搜索 -->
			<div class="hot">
				<div class="title"><span></span>热门搜索</div>
				<ul class="clearfix">
					<li class="fl" v-for="(item,index) in hot_data" :key="item.id" @click="tolist('/list',index)">{{item.hot_words}}</li>
          <!-- 暂时使用搜索历史的数据 -->
          <li class="fl" v-for="item in hit" :key="item.id" @click="toHit(item)">{{item}}</li>
				</ul>
				<!-- <div class="def" v-if="hot_data.length <= 0">热门搜索为空!</div> -->
			</div>
      <!-- 搜索历史 -->
			<div class="hit">
				<div class="title">
					历史搜索
					<img src="../../assets/clear.png" alt="" @click="clear" v-show="hit.length > 0">
				</div>
				<ul class="clearfix">
					<!-- <li class="fl" v-for="(item,index) in hit" :key="item.id" @click="toHit('/list',index)">{{item}}</li> -->
					<li class="fl" v-for="item in hit" :key="item.id" @click="toHit(item)">{{item}}</li>
				</ul>
				<div class="def" v-show="hit.length <= 0">你还没浏览过任何商品哦，快去逛逛吧！</div>
			</div>
			<!-- <button class="btn" @click="clear" v-show="hit.length > 0">清空历史记录</button> -->
		</div>
		<!-- <ul class="list-item-wrap" v-show="isShow">
			<li v-for="(item,index) in search_data" :key="item.id" class="text1-hidden" @click="toLink('/list',index)">{{item.title}}</li>
		</ul> -->
		<ul class="list-wrap" v-show="isShow">
      <!-- 搜索结果排序 -->
      <ul class="sort-wrap clearfix text-center">
        <li class="fl" :class="{active:$store.state.sort_status == 1}" @click="sort('xl')">销量
          <span class="icon">
            <em class="top" :class="{active:$store.state.sort_id == 1}"></em><br>
            <em class="bottom" :class="{active:$store.state.sort_id == 2}"></em>
          </span>
        </li>
        <li class="fl" :class="{active:$store.state.sort_status == 2}" @click="sort('jg')">价格
          <span class="icon">
            <em class="top" :class="{active:$store.state.sort_id == 3}"></em><br>
            <em class="bottom" :class="{active:$store.state.sort_id == 4}"></em>
          </span>
        </li>
        <li class="fl" @click="sort('rq')" :class="{active:$store.state.sort_status == 3}">人气</li>
      </ul>
      <!-- 搜索有商品 -->
			<li class="clearfix my-li" v-for="item in search_data" :key="item.id" v-if="search_data.length >0 " @click="tolink(item)">
				<img v-lazy="URL + item.img" class="fl">
				<div class="list-text fl">
					<p class="text">{{item.title}}</p>
					<p class="new-price">￥
						<span v-if="item.price_market">{{item.price_market}}</span>
					</p>       
				</div>
			</li>
      <!-- 搜索无商品 -->
			<li v-if="search_data.length == 0" class="noGoods">
				<img src="../../assets/noGoods.png" alt="">
				<span>没有该商品</span>
			</li>
      <!-- 搜索无商品显示热门搜索 -->
      <div class="hot" v-if="search_data.length == 0">
        <div class="title"><span></span>热门搜索</div>
        <ul class="clearfix">
          <li class="fl" v-for="(item,index) in hot_data" :key="item.id" @click="tolist('/list',index)">{{item.hot_words}}</li>
          <!-- 暂时使用搜索历史的数据 -->
          <li class="fl" v-for="item in hit" :key="item.id" @click="toHit(item)">{{item}}</li>
        </ul>
        <!-- <div class="def" v-if="hot_data.length <= 0">热门搜索为空!</div> -->
      </div>
		</ul>

		<div class="load-wrap" v-show="load_wrap" @touchmove.prevent>
			<mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner>
		</div>
		</div>
	</div>
</template>
<script>
import qs from "qs";
import { MessageBox, Toast } from "mint-ui";
var clear = null;
export default {
  name: "search",
  data() {
    return {
      value: null,
      hit: [],
      hot: [],
      search_data: "",
      hot_data: "",
      load_wrap: true,
      load: true,
      status: "search",
      isShow: false
    };
  },
  created() {
    var newArry = [];
    if (
      localStorage.getItem("hit") != "" &&
      localStorage.getItem("hit") != "undefined" &&
      localStorage.getItem("hit") != null
    ){
      this.hit = localStorage.getItem("hit");
      var ary = eval("(" + this.hit + ")");
      for (var i = 0; i < ary.length; i++) {
        newArry.push(ary[i]);
      }
    }
    this.hit = newArry;
  },
  methods: {
    sort(index) {//排序
      switch (index) {
        case "xl":
          if (this.$store.state.sort_id != 1) {
            this.$store.state.sort_id = 1;
            this.$store.state.sort_status = 1;
          } else {
            this.$store.state.sort_id = 2;
            this.$store.state.sort_status = 1;
          }
          this.load = true;
          break;
        case "jg":
          if (this.$store.state.sort_id != 3) {
            this.$store.state.sort_id = 3;
            this.$store.state.sort_status = 2;
          } else {
            this.$store.state.sort_id = 4;
            this.$store.state.sort_status = 2;
          }
          this.load = true;
          break;
        case "rq":
          if (this.$store.state.sort_id == 5) return;
          this.$store.state.sort_id = 5;
          this.$store.state.sort_status = 3;
          this.load = true;
          break;
      }
      this.axios
        .get(API_URL + "Home/Index/keyWordSearch?keyword=" + this.value,{
          params: {
            sort: this.$store.state.sort_id,
          }
        })
        .then(res => {
          this.search_data = res.data.data;
          this.load = false;
          this.load_wrap = false;
        })
        .catch(err => {
          console.info("FailtrueErr", err);
        });
    },
    tolink(item) {
      this.$router.push({
        name: "product",
        params: {
          id: item.id,
          status: 1
        }
      });
    },
    clearVal() {//清空输入框
      this.value = "";
      this.isShow = false;
    },
    get() {
      clearTimeout(clear);
      clear = setTimeout(() => {
        this.axios
          .get(API_URL + "Home/Index/keyWordSearch?keyword=" + this.value)
          .then(res => {
            if (res.data.data == "") {
              this.search_data = "";
            } else {
              this.search_data = res.data.data;
            }
          })
          .catch(err => {
            console.info("FailtrueErr", err);
          });
      }, 300);
    },
    remove() {
      this.$router.go(-1);
    },
    search() {
      if (this.value.length > 0) {
        this.isShow = true;
      }
      if(this.hit.indexOf(this.value) == -1 && this.value != ''){//判断数组中是否存在value
        this.hit.push(this.value);
        localStorage.setItem("hit", JSON.stringify(this.hit));
      }
    },
    toLink(link, index) {
      this.hit.push(this.value);
      for (var i = 0; i < this.hit.length; i++) {
        if (this.hot.indexOf(this.hit[i]) == -1) {
          this.hot.push(this.hit[i]);
        }
      }
      localStorage.setItem("hit", this.hot.join(","));
      this.$router.push({
        name: "comList",
        params: {
          id: this.value,
          status: this.status
        }
      });
    },
    // tolist(link, index) {
    //   this.$router.push({
    //     name: "list",
    //     params: {
    //       id: this.hot_data[index].hot_words,
    //       status: this.status
    //     }
    //   });
    // },
    toHit(item) {
      this.value = item;
      this.search()
      this.get()
      
    },
    clear() {
      MessageBox.confirm("确定执行此操作?").then(action => {
        this.hit = [];
        localStorage.setItem("hit", this.hit);
      });
    }
  },
  updated() {
    if (this.value == "") {
      this.isShow = false;
    }
    var that = this;
    setTimeout(function() {
      that.load_wrap = false;
    }, 1000);
  },
  mounted() {
    this.axios({
      url: API_URL + "Home/Index/hot_search",
      method: "post"
    })
      .then(res => {
        this.hot_data = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
  }
};
</script>
<style lang="less" scoped>
body {
  background: #fff !important;
}
.Search-header {
  background: #fff;
  .Search-wap {
    height: 0.88rem;
    padding: 0 0.28rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #f4f4f4;
    .s-img {
      width: 0.6rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 0.18rem;
        height: 0.34rem;
        margin-right: 0.3rem;
      }
    }
    .return-btn {
      width: 0.8rem;
      height: 0.6rem;
      text-align: center;
      line-height: 0.6rem;
      font-size: 0.28rem;
      color: #000;
    }
    .Search-input-main {
      width: 5.4rem;
      height: 0.56rem;
      line-height: 100%;
      border-radius: 0.04rem;
      position: relative;
      background: rgba(0, 0, 0, 0.03);
      input {
        width: 4.84rem;
        height: 100%;
        border: none;
        background: url(../../assets/search.png) no-repeat 0.2rem 0.1rem;
        background-size: 0.36rem 0.32rem;
        outline: none;
        // text-indent: .8rem;
        font-size: 0.25rem;
        padding-left: 0.8rem;
      }
      input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      input:-moz-placeholder,
      textarea:-moz-placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      input::-moz-placeholder,
      textarea::-moz-placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      input:-ms-input-placeholder,
      textarea:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      .xx {
        width: 0.56rem;
        height: 0.56rem;
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        line-height: 0.56rem;
        font-size: 0.32rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 0.28rem;
          height: 0.28rem;
        }
      }
    }
  }
  .Search-content {
    .hot,
    .hit {
      padding: 0.2rem 0.28rem;
      .title {
        font-size: 0.28rem;
        color: #000;
        padding: 0.3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          width: 0.22rem;
          height: 0.24rem;
        }
      }
      .def {
        font-size: 0.28rem;
        color: rgba(0, 0, 0, 0.4);
        text-align: center;
      }
      li {
        height: 0.73rem;
        padding: 0 0.25rem;
        font-size: 0.24rem;
        color: rgba(0, 0, 0, 0.4);
        line-height: 0.73rem;
        text-align: center;
        background: #f9f9f9;
        border-radius: 5px;
        margin-right: 0.17rem;
        margin-top: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .hit {
      padding-bottom: 0.3rem;
    }
    .hot {
      .title {
        padding-left: 0.4rem;
        position: relative;
        span {
          width: 0.25rem;
          height: 0.31rem;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -0.155rem;
          background: url(../../assets/hot.png) no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .btn {
      height: 0.78rem;
      margin: 0 auto;
      display: block;
      font-size: 0.24rem;
      color: rgba(0, 0, 0, 0.4);
      border: 1px solid #b3b3b3;
      border-radius: 5px;
      background: #f9f9f9;
    }
  }
}

.Search-header {
  .list-item-wrap {
    background: #fff;
    li {
      font-size: 0.25rem;
      height: 0.8rem;
      line-height: 0.8rem;
      color: rgba(0, 0, 0, 0.8);
      font-weight: normal;
      border-bottom: 1px solid #f4f4f4;
      padding: 0 0.2rem;
      background: url(../../assets/btn-right.png) 7.2rem center no-repeat;
      background-size: 0.14rem 0.24rem;
    }
    li:active {
      background: url(../../assets/btn-right.png) 7.2rem center no-repeat
        #f5f5f5;
      background-size: 0.14rem 0.24rem;
    }
  }
}
.se-main {
  width: 100%;
  flex: 1;
  overflow: auto;
  .list-wrap {
    width: 100%;
    background: #fff;
    .sort-wrap {
      height: 0.9rem;
      background: #fff;
      box-sizing: border-box;
      padding: 0.2rem 0;
      border-bottom: 1px solid #f4f4f4;
      line-height: 0.5rem;
      li {
        width: 33.3333333%;
        font-size: 0.26rem;
        color: #666;
        position: relative;
        .icon {
          position: absolute;
          left: 1.6rem;
          top: 0;
          height: 100%;
          .top {
            position: absolute;
            left: 0;
            top: 0.17rem;
            width: 0.12rem;
            height: 0.06rem;
            background: url(../../assets/sort-top.png);
            background-size: 100% 100%;
          }
          .top.active {
            background: url(../../assets/sort-top-active.png);
            background-size: 100% 100%;
          }
          .bottom {
            position: absolute;
            left: 0;
            bottom: 0.17rem;
            width: 0.12rem;
            height: 0.06rem;
            background: url(../../assets/sort-bottom.png);
            background-size: 100% 100%;
          }
          .bottom.active {
            background: url(../../assets/sort-bottom-active.png);
            background-size: 100% 100%;
          }
        }
      }
      li:nth-child(2) {
        border-left: 1px solid #f4f4f4;
        border-right: 1px solid #f4f4f4;
        box-sizing: border-box;
      }
      li.active {
        color: #d75268;
      }
    }
    .my-li {
      padding: 0.13rem;
      height: 2.2rem;
      border-bottom: 1px solid #f4f4f4;
      img {
        width: 2.2rem;
        height: 2.2rem;
      }
      .list-text {
        width: 4.3rem;
        padding-left: 0.25rem;
        .text {
          font-size: 0.32rem;
          color: #333;
          line-height: 0.45rem;
          padding-top: 0.1rem;
          height: 0.9rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .new-price {
          font-size: 0.32rem;
          color: #d75268;
          padding-top: 0.3rem;
          span {
            font-size: 0.4rem;
            font-weight: bold;
          }
        }
        .status {
          color: #ddd;
          padding-top: 0.1rem;
          span {
            font-size: 0.24rem;
          }
          span:nth-child(2) {
            padding-left: 0.3rem;
          }
        }
      }
    }
    .noGoods {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1.8rem;
      img {
        width: 1.78rem;
        height: 1.34rem;
        margin-left: 0.2rem;
      }
      span {
        margin-top: 20px;
        font-size: 0.24rem;
        color: rgba(0, 0, 0, 0.6);
      }
    }
    .hot {
      padding: .2rem .28rem;
      margin-top: .5rem;
      .title {
        padding-left: 0.4rem;
        position: relative;
        span {
          width: 0.25rem;
          height: 0.31rem;
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -0.155rem;
          background: url(../../assets/hot.png) no-repeat;
          background-size: 100% 100%;
        }
      }
      li {
        height: 0.73rem;
        padding: 0 0.25rem;
        font-size: 0.24rem;
        color: rgba(0, 0, 0, 0.4);
        line-height: 0.73rem;
        text-align: center;
        background: #f9f9f9;
        border-radius: 5px;
        margin-right: 0.17rem;
        margin-top: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
</style>