<!--mine => 收货地址-->
<template>
  <div>
	<div v-title :data-title="title">{{title}}</div>
	<address-header :text="title"></address-header>
	<div class="content-wrap">
		<div class="items-wrap">
      <div class="item-wrap" @click="to(index)" v-for="(item,index) in data" :key="item.id" :class="{active:status == index}" @touchmove="movel($event,index)"  @touchstart="moveEv($event)">
			<div class="i-img" >
				<img src="../../assets/bj.png" alt="">
			</div>
			<div class="hd clearfix">
				<div class="user">
					<span class="name fl">{{item.realname}}</span>
					<span class="phone fr">{{item.mobile}}</span>
				</div>
				<div class="con-text">收货地址: &nbsp;&nbsp;&nbsp;&nbsp;{{item.prov+'&nbsp;'+item.city +'&nbsp;'+ item.dist +'&nbsp;' + item.address}}</div>
        <!-- <span @click.stop="move(item,index)">删除</span> -->
			</div>
      <div class="delete" @click.stop="move(item,index)">删除</div>
      <!-- 默认 -->
      <!-- <div class="icon-link"></div> -->
      </div>
    </div>
	</div>
	<div v-if="!data" class="text-center status">收货地址为空，赶快添加吧！</div>
	<div class="btn-wrap">
		<div class="btn-main"><button @click="tolink('/newAddress')"><i class="icon fl clearfix"></i><span class="fl">新增收货地址</span></button></div>
	</div>
  </div>
</template>
<script>
import { MessageBox, Toast } from "mint-ui";
import qs from "qs";
import addressHeader from "./children/header.vue";
export default {
  name: "address",
  data() {
    return {
      title: "收货地址管理",
      data: "",
      address: [],
      set_address: [],
      currentIndex: "",
      status: null
    };
  },
  methods: {
    moveEv(ev) {
      this.startX = ev.touches[0].pageX;
      this.startY = ev.touches[0].pageY;
    },
    movel(ev, index) {
      //返回角度
      function GetSlideAngle(dx, dy) {
        return Math.atan2(dy, dx) * 180 / Math.PI;
      }
      //根据起点和终点返回方向 1：向上，2：向下，3：向左，4：向右,0：未滑动
      function GetSlideDirection(startX, startY, endX, endY) {
        var dy = startY - endY;
        var dx = endX - startX;
        var result = 0;
        //如果滑动距离太短
        if (Math.abs(dx) < 2 && Math.abs(dy) < 2) {
          return result;
        }
        var angle = GetSlideAngle(dx, dy);
        if (angle >= -45 && angle < 45) {
          result = 4;
        } else if (angle >= 45 && angle < 135) {
          result = 1;
        } else if (angle >= -135 && angle < -45) {
          result = 2;
        } else if (
          (angle >= 135 && angle <= 180) ||
          (angle >= -180 && angle < -135)
        ) {
          result = 3;
        }
        return result;
      }
      this.endX = ev.changedTouches[0].pageX;
      this.endY = ev.changedTouches[0].pageY;

      var direction = GetSlideDirection(
        this.startX,
        this.startY,
        this.endX,
        this.endY
      );
      if (direction == 3) {
        this.status = index;
        return;
      } else {
        this.status = null;
      }
    },
    move(item, index) {
      MessageBox.confirm("确定删除该地址?")
        .then(action => {
          this.axios
            .post(
              API_URL + "Home/Pcenter/addressde",
              qs.stringify({
                app_user_id: sessionStorage.getItem("user_ID"),
                id: item.id
              })
            )
            .then(res => {
              console.log(res);

              this.data.splice(index, 1);
              this.status = null;
              if (this.data.length <= 0) {
                this.data = "";
              }
              Toast("删除成功！");
            })
            .catch(err => {
              console.log(err);
            });
        })
        .catch(err => {
          console.log(err);
        });
      // console.log(item.id);
      // console.log(sessionStorage.getItem("user_ID"));
    },
    to(index) {
      if (this.$route.params.status == 2) {
        this.$router.push({
          name: "EdiAddress",
          params: {
            status: this.data[index].id
          }
        });
      } else {
        for (var i = 0; i < this.data.length; i++) {
          if (index == i) this.address.push(this.data[i]);
        }

        if (this.address.length === 0) {
          return;
        }
        // 选择的收货地址
        sessionStorage.setItem("set_address", JSON.stringify(this.address[0]));
        this.$router.push({
          name: "order",
          params: {
            id: 2
          }
        });
      }
    },
    tolink(link) {
      if (link == "/newAddress") {
        this.$router.push({
          name: "newAddress",
          params: this.$route.params.status
        });
      }
    }
  },
  mounted() {
    this.axios
      .post(
        API_URL + "Home/Pcenter/addresslist",
        qs.stringify({
          app_user_id: sessionStorage.getItem("user_ID")
        })
      )
      .then(res => {
        this.data = res.data.data;
        console.log(this.data);
      })
      .catch(err => {
        console.log(err);
      });
  },
  components: {
    addressHeader
  }
};
</script>
<style lang="less" scoped>
.content-wrap {
  background: #fff;
  flex: 1;
  overflow: auto;
  .items-wrap {
    overflow: hidden;
    .item-wrap.active {
      transform: translate(-1.38rem);
    }
    .item-wrap {
      height: 1.64rem;
      border-bottom: 1px solid #dfdfdf;
      position: relative;
      display: flex;
      .delete {
        width: 1.4rem;
        height: 1.65rem;
        position: absolute;
        right: -1.38rem;
        top: 0;
        background: #d75268;
        color: #fff;
        box-sizing: border-box;
        font-size: 0.28rem;
        line-height: 1.64rem;
        text-align: center;
      }
      .i-img {
        width: 0.84rem;
        height: 1.64rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .icon-link {
        position: absolute;
        right: 0.2rem;
        top: 50%;
        margin-top: -0.1rem;
        width: 0.64rem;
        height: 0.32rem;
        background: url(../../assets/default.png) no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  .hd {
    height: 1.64rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 6.65rem;
    padding-right: 0.28rem;
    .user {
      width: 50%;
      .name {
        font-size: 0.28rem;
        color: #000;
        position: relative;
        margin-top: 0.24rem;
        .icon {
          position: absolute;
          left: 0;
          top: 50%;
          width: 0.28rem;
          height: 0.41rem;
          margin-top: -0.205rem;
          background: url(../../assets/userIcon1.png) no-repeat;
          background-size: 100% 100%;
        }
      }
      .phone {
        font-size: 0.28rem;
        color: #000;
        margin-top: 0.24rem;
        position: relative;
        .icon {
          position: absolute;
          left: 0;
          top: 50%;
          width: 0.24rem;
          height: 0.34rem;
          margin-top: -0.17rem;
          background: url(../../assets/phone.png) no-repeat;
          background-size: 100% 100%;
        }
      }
    }
    .con-text {
      width: 5.7rem;
      font-size: 0.24rem;
      color: rgba(0, 0, 0, 0.6);
      line-height: 0.39rem;
      // height: .85rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.btn-wrap {
  width: 100%;
  height: 1rem;
  .btn-main {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.8rem;
    // padding:.2rem;
    background: #fff;
    button {
      color: #fff;
      width: 100%;
      height: 100%;
      border: none;
      background: #d75268;
      outline: none;
      padding-left: 2.3rem;
      box-sizing: border-box;
      span {
        font-size: 0.28rem;
        margin-left: 0.2rem;
      }
      .icon {
        display: inline-block;
        width: 0.34rem;
        height: 0.34rem;
        background: url(../../assets/add.png) no-repeat;
        background-size: 100% 100%;
        margin-top: 0.05rem;
      }
    }
    button:active {
      box-shadow: 0 5px 5px #ccc;
    }
  }
}
.status {
  color: #666;
  line-height: 1rem;
  font-size: 0.4rem;
}
</style>