<!--公告详情-->
<template>
	<div>
		<div v-title :data-title="text">{{text}}</div>
		<header class="header">
			<span @click="Return"></span>
			{{text}}
		</header>
		<div class="content">
			<h1 class="title" v-html="content.title"></h1>
			<div class="line"></div>
			<div class="text" v-html="content.content"></div>
		</div>
	</div>
</template>

<script>
import qs from "qs";
export default {
  name: "notice_child",
  data() {
    return {
      text: "公告详情",
      content: ""
    };
  },
  methods: {
    Return() {
      this.$router.go(-1);
    },
    unescape(html) {
      return String(html)
        .replace(/&amp;/g, "&")
        .replace(/&quot;/g, '"')
        .replace(/&#39;/g, "'")
        .replace(/&lt;/g, "<")
        .replace(/&gt;/g, ">");
    }
  },
  mounted() {	
		this.axios.get(API_URL + "Home/Index/article",{
		params:{
				id: this.$route.params.id
			}
			}).then((res) => {
				console.log(res)
				this.content = res.data.data;
        this.content.content = this.unescape(this.content.content);
			}).catch((err) => {
				console.log(err);
		});
  },
  created() {}
};
</script>

<style lang="less" scoped>
	body{
		background: #fff !important;
	}
	.header {
		width: 100%;
		height: 0.9rem;
		background: #fff;
		text-align: center;
		line-height: 0.9rem;
		color: #000;
		font-size: 0.28rem;
		position: relative;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.03);
		z-index: 9999;
		span {
			width:.46rem;
			height:.46rem;
			border-radius:50%;
			display:block;
			position:absolute;
			left:.2rem;
			top:56%;
			margin-top:-.23rem;
			text-align:center;
			line-height:.46rem;
			font-size:.4rem;
			background:url(../../assets/left.png) no-repeat;
			background-size:.18rem .34rem;
		}
	}
	.content {
		padding: 0.3rem;
		background-color: #fff;
		.title {
			font-size: 0.3rem;
			text-align: center;
		}
		.line {
			margin: 0.2rem 0;
			height: 0.02rem;
			background: #999;
		}
	}
</style>