<!--Cart-->
<template>
	<div class="goos">
		<div v-title data-title="我的购物车">我的购物车</div>
		<header class="cart-header">我的购物车({{$store.state.cart_data.length}})<router-link to="/myNews"><span></span></router-link></header>
		<!-- 有商品 -->
		<dl class="mark-wrap" v-if="$store.state.cart_data">
			<dt>
				<span class="clearfix" @click="deit">
					<i class="fl">{{total.fn}}</i>
				</span>
			</dt>
			<dd class="clearfix" v-for="(item,index) in $store.state.cart_data" :key="item.id" :class="{active:!total.deit}">
				<label class="checkBox" :class="{active:status[index]}" @click="addCom(index,item)"><span></span></label>
				<img v-lazy="URL + item.pic_url" class="fl">
				<div class="pull-right fl" v-show="total.deit">
					<p class="text">{{item.title}}</p>
					<p class="price-wrap clearfix">
						<span class="fl price">￥<span>{{item.price_new}}</span></span>
						<span class="number fr">数量： {{item.goods_num}}</span>
					</p>
				</div>
				<div class="delete fr" v-show="!total.deit" @click="remove(index,item)">
					<!-- <div class="icon"></div> -->
					<div class="text">删除</div>
				</div>
				<div class="input-wrap fr" v-show="!total.deit">
					<button @click="reduce(index,item)">-</button>
					<input type="number" v-model="item.goods_num">
					<button @click="add(index,item)">+</button>
				</div>
			</dd>
		</dl>
    <!-- 为你推荐 -->
      <div class="recommend" v-if="$store.state.cart_data">
        <div class="header">
          <div class='top'>
            <div class="none"></div>
            <div class="head">为你推荐</div>
            <div class="none"></div>
          </div>
        </div>
        <hot-goods :data="tuijian"></hot-goods>
      </div>
		<div class="footer-wrap" v-if="$store.state.cart_data">
			<div class="seat"></div>
			<div class="footer clearfix">
				<label class="chicked fl" :class="{active:this.total.seat}" @click="seat">
					<span></span>{{total.setData}}
				</label>
				<button class="set-btn fr" v-show="total.deit" @click="toOrder">结算</button>
        <button class="move" v-show="!total.deit" @click="deleteAll()">清空所有商品</button>
				<div class="total fl" v-show="total.deit">
					<span class="t-num">(共计{{total.seleNumber}}件)</span>
					<span class="t-price">
						合计:￥{{total.price.toFixed(2)}}
					</span> 
				</div>
			</div>
		</div>

		<!--没有商品-->
		<div class="cart" v-if="!$store.state.cart_data">
			<!-- header -->
			<div class="cart-hea">
			</div>
			<!-- mian -->
			<div class="cart-main" >
				<!-- 上面 -->
				<div class="main-box">
					<img src="../../assets/z-cart.png" alt="">
					<span>购物车竟然空了，快去逛逛吧！</span>
					<em class="more" @click="goHome">去逛逛</em>
				</div>
				<!-- 为你推荐 -->
				<div class="recommend">
					<div class="header">
						<div class='top'>
							<div class="none"></div>
							<div class="head">为你推荐</div>
							<div class="none"></div>
						</div>
					</div>
					<hot-goods :data="tuijian"></hot-goods>
				</div>
			</div>
			<Shopsn class="ttt"></Shopsn>
			<div class="load" v-show="load" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
			<div class="load-wrap" v-show="$store.state.cart_load" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
		</div>
		
		<!-- <Shopsn class="ttt"></Shopsn> -->
		<div class="load" v-show="load" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
		<div class="load-wrap" v-show="$store.state.cart_load" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
	</div>
</template>
<script>
import { MessageBox, Toast } from "mint-ui";
import qs from "qs";
import hotGoods from "@/components/home/children/hotGoods";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "cart",
  data() {
    return {
      load: false,
      load_wrap: true,
      goods_id_list: [],
      total: {
        seleNumber: 0,
        newPrice: 0,
        price: 0,
        dis: 0,
        seat: "",
        deit: true,
        setData: "全选",
        fn: "编辑商品"
      },
      scrollWatch: true,
      data: "",
      status: [],
      computer: "",
      goos_id: [],
			goods: [],
			tuijian:'',
    };
  },
  methods: {
    goHome() {
      this.$router.push({
        name: "class"
      });
    },
    addCom(index, item) {
      //单选
      if (this.status[index] == true) {
        this.$set(this.status, index, false);
        this.$set(this.goods_id_list, index, "");
        this.total.seleNumber--;
        this.total.price -= item.price_new * item.goods_num;
        this.goos_id.splice(index, 1);
        this.goods.splice(index, 1);
      } else {
        this.$set(this.status, index, true);
        this.$set(this.goods_id_list, index, item.id);
        this.total.seleNumber++;
        this.total.price += item.price_new * item.goods_num;
        this.$set(this.goos_id, index, item.goods_id);
        this.$set(this.goods, index, {
          num: item.goods_num,
          id: item.goods_id,
          goods_price: item.price_new
        });
      }
      if (this.total.seleNumber >= this.$store.state.cart_data.length) {
        this.total.seat = true;
      } else {
        this.total.seat = false;
      }
    },
    seat() {
      //全选
      this.total.price = 0;
      this.goods_id_list = [];
      if (this.total.seat == true) {
        this.total.seat = false;
        for (let i = 0; i < this.$store.state.cart_data.length; i++) {
          this.$set(this.status, i, false);
          this.goods_id_list.splice(i, 1);
        }
        this.goos_id = [];
        this.goods = [];
        this.total.seleNumber = 0;
        this.total.price = 0;
      } else {
        this.total.seat = true;
        for (let i = 0; i < this.$store.state.cart_data.length; i++) {
          this.$set(this.goods_id_list, i, this.$store.state.cart_data[i].id);
          this.$set(this.status, i, true);
          this.total.price +=
            this.$store.state.cart_data[i].price_new *
            this.$store.state.cart_data[i].goods_num;
          this.$set(this.goos_id, i, this.$store.state.cart_data[i].goods_id);
          this.$set(this.goods, i, {
            num: this.$store.state.cart_data[i].goods_num,
            id: this.$store.state.cart_data[i].goods_id,
            goods_price: this.$store.state.cart_data[i].price_new
          });
        }
        this.total.seleNumber = this.$store.state.cart_data.length;
      }
    },
    deit() {
      //编辑购物车
      if (this.total.deit == true) {
        this.total.fn = "完成";
        this.total.deit = false;
      } else {
        this.total.fn = "编辑商品";
        this.total.price = 0;
        this.goods = [];
        this.goos_id = [];
        for (var i = 0; i < this.goods_id_list.length; i++) {
          for (
            var index = 0;
            index < this.$store.state.cart_data.length;
            index++
          ) {
            if (
              this.goods_id_list[i] == this.$store.state.cart_data[index].id
            ) {
              this.$set(
                this.goos_id,
                index,
                this.$store.state.cart_data[index].goods_id
              );
              this.total.price +=
                this.$store.state.cart_data[index].price_new *
                this.$store.state.cart_data[index].goods_num;
              this.$set(this.goods, index, {
                num: this.$store.state.cart_data[index].goods_num,
                id: this.$store.state.cart_data[index].goods_id,
                goods_price: this.$store.state.cart_data[index].price_new
              });
            }
          }
        }
        this.total.deit = true;
      }
    },
    reduce(index, item) {
      //商品减少
      if (this.$store.state.cart_data[index].goods_num <= 1) return;
      this.$store.state.cart_data[index].goods_num--;
      this.subtract(2, item.id);
    },
    add(index, item) {
      //商品增加
      this.$store.state.cart_data[index].goods_num++;
      this.subtract(1, item.id);
    },
    subtract(n, _id) {
      this.load = true;
      this.axios
        .post(
          API_URL + "Home/Cart/addReduce",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID"),
            type: n,
            id: _id
          })
        )
        .then(res => {
          this.load = false;
        })
        .catch(err => {
          console.log(err);
        });
    },
    remove(index, item) {
      //从购物车中删除商品
      MessageBox.confirm("确定删除此商品?")
        .then(action => {
          this.axios
            .post(
              API_URL + "Home/Cart/delete",
              qs.stringify({
                app_user_id: sessionStorage.getItem("user_ID"),
                ids: item.id
              })
            )
            .then(res => {
              this.$store.state.cart_data.splice(index, 1);
              if (this.$store.state.cart_data.length <= 0) {
                this.$store.state.cart_data = "";
              }
              Toast("删除成功！");
            })
            .catch(err => {
              console.log(err);
            });
        })
        .catch(err => {
          console.log(err);
        });
    },
    deleteAll(index){
      // 从购物车中删除选中商品
      if(this.goods_id_list!=0){
        console.log(this.goods_id_list.length);
        MessageBox.confirm("确定清空所有商品?")
        .then(action => {
          this.axios
            .post(
              API_URL + "Home/Cart/delete",
              qs.stringify({
                app_user_id: sessionStorage.getItem("user_ID"),
                ids: this.goods_id_list
              })
            )
            .then(res => {
              // this.$store.state.cart_data.splice(index, this.goods_id_list.length);
              
              this.$store.state.cart_data = "";
              if (this.$store.state.cart_data.length <= 0) {
                this.$store.state.cart_data = "";
              }
              Toast("删除成功！");
            })
            .catch(err => {
              console.log(err);
            });
        })
        .catch(err => {
          console.log(err);
        });
      }
    },
    toOrder() {
      //去结算
      this.load = true;
      for (var i = 0, len = this.goods.length; i < len; i++) {
        //重塑数组
        if (
          !this.goods[i] ||
          this.goods[i] == null ||
          this.goods[i] == "" ||
          this.goods[i] == undefined
        ) {
          this.goods.splice(i, 1);
          len--;
          i--;
        }
      }
      if (this.goos_id == "") {
        Toast("请选择您要购买的物品！");
        this.load = false;
        return;
      }
      this.$store.state.goods = JSON.stringify(this.goods);
      this.$router.push({
        name: "order",
        params: {
          id: 1
        }
      });
    },
    collection() {
      //添加到收藏
      for (var i = 0, len = this.goos_id.length; i < len; i++) {
        //重塑数组
        if (
          !this.goos_id[i] ||
          this.goos_id[i] == null ||
          this.goos_id[i] == "" ||
          this.goos_id[i] == undefined
        ) {
          this.goos_id.splice(i, 1);
          len--;
          i--;
        }
      }
      if (this.goos_id == "") {
        Toast("请选择您要收藏的物品！");
        return;
      }
      this.axios
        .post(
          API_URL + "Home/Cart/muchCollection",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID"),
            goods_id: JSON.stringify(this.goos_id)
          })
        )
        .then(res => {
          Toast(res.data.msg);
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  components: {
    hotGoods,
    Shopsn
  },
  mounted() {
    document.body.scrollTop = 0;
    this.axios
      .post(
        API_URL + "Home/Cart/cart_recommend",
        qs.stringify({
          app_user_id: sessionStorage.getItem("user_ID")
        })
      )
      .then(res => {
        console.log(res.data.data);
        
				this.tuijian = res.data.data;
      })
      .catch(err => {
        console.log(err);
      });
    if (sessionStorage.getItem("user_ID")) {
      this.axios
        .post(
          API_URL + "Home/Cart/myCart",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID")
          })
        )
        .then(res => {
          this.$store.state.cart_data = res.data.data;
          this.$store.state.cart_load = false;
        })
        .catch(err => {
          console.log(err);
        });
    } else {
      this.$router.push("/Cart");
    }
  },
  destroyed() {
    this.scrollWatch = false;
  }
};
</script>
<style lang="less" scoped>
.goos {
  background: #f9f9f9;
  flex: 1;
  overflow: auto;
  .footer-wrap {
    .seat {
      height: 1rem;
    }
    .footer {
      position: fixed;
      left: 0;
      bottom: 1rem;
      width: 7.3rem;
      padding-left: 0.2rem;
      height: 0.8rem;
      background: #fff;
      display: flex;
      align-items: center;

      .chicked.active {
        color: #ce0a14;
        span {
          border: none;
          background: url(../../assets/check_bj.png) no-repeat;
          background-size: 100% 100%;
        }
      }
      .share {
        width: 1.83rem;
        height: 0.8rem;
        line-height: 0.8rem;
        color: #fff;
        text-align: center;
        font-size: 0.36rem;
        background: #ff7200;
      }
      .immig {
        width: 2.72rem;
        height: 1rem;
        line-height: 0.8rem;
        background: #d0111b;
        color: #fff;
        text-align: center;
        font-size: 0.36rem;
      }
      .set-btn {
        position: fixed;
        right: 0.28rem;
        width: 1.2rem;
        color: #fff;
        height: 0.6rem;
        border: none;
        text-align: center;
        line-height: 0.6rem;
        background: #d75268;
        font-size: 0.28rem;
        border-radius: 0.04rem;
      }
      .move{
        width: 100px;
        height: 0.4rem;
        position: absolute;
        right: .28rem;
        height: 0.6rem;
        border: none;
        text-align: center;
        line-height: 0.6rem;
        background: #d75268;
        font-size: 0.28rem;
        border-radius: 0.04rem;
        color: #fff;
        outline: none;
      }
      .total {
        width: 47%;
        padding-left: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 1rem;
        .t-num {
          margin-left: 0.2rem;
          font-size: 0.24rem;
          color: rgba(0, 0, 0, 0.6);
        }
        .t-price {
          font-size: 0.24rem;
          color: #000;
        }
      }
      .chicked {
        position: relative;
        padding-left: 0.55rem;
        line-height: 1rem;
        font-size: 0.28rem;
        color: #999;
        span {
          position: absolute;
          top: 50%;
          left: 0;
          width: .32rem;
          height: .32rem;
          border: 1px solid #8d8d8d;
          border-radius: 100%;
          margin-top: -0.2rem;
          text-align: center;
          line-height: .32rem;
          color: #f9781e;
        }
      }
    }
  }
  .interested {
    .title {
      text-align: center;
      position: relative;
      font-size: 0.28rem;
      line-height: 0.8rem;
      height: 0.8rem;
      color: #666;
      span {
        position: absolute;
        top: 50%;
        width: 2.3rem;
        height: 1px;
        background: #cdcdcd;
      }
      span:nth-child(1) {
        left: 0;
      }
      span:nth-child(2) {
        right: 0;
      }
    }
    .content-main {
      background: #f1f1f1;
      li {
        width: 3.7rem;
        height: 4.96rem;
        background: #fff;
        margin-bottom: 0.1rem;
        margin-right: 0.08rem;
        img {
          width: 3.7rem;
          height: 3.7rem;
        }
        .desi {
          font-size: 0.3rem;
          color: #333;
          padding: 0.2rem 0.2rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .price {
          padding-left: 0.2rem;
          color: #d75268;
          font-size: 0.3rem;
          span {
            font-size: 0.36rem;
          }
        }
      }
      li:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  // .cart-active{
  //     padding-top:1rem;
  //     img{
  //         width: 3.07rem;
  //         width: 2.74rem;
  //     }
  //     .text{
  //         font-size:.32rem;
  //         color:#666;
  //         padding-top:.4rem;
  //     }
  // }
}
.cart-header {
  width: 100%;
  height: 0.8rem;
  background: #fff;
  overflow: hidden;
  text-align: center;
  position: relative;
  color: #000;
  font-size: 0.3rem;
  line-height: 0.8rem;
  span {
    position: absolute;
    top: 50%;
    right: 0.4rem;
    margin: -0.23rem;
    width: 0.47rem;
    height: 0.46rem;
    background: url(../../assets/news1.png) no-repeat;
    background-size: 100% 100%;
  }
}
.mark-wrap {
  margin-top: 0.2rem;
  padding: 0 0.2rem 0.48rem;
  background: #fff;
  dt {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    text-align: center;
    font-size: 0.32rem;
    color: #f9781e;
    background: #fff;
    border-bottom: 1px solid #dfdfdd;
    position: relative;
    span {
      position: absolute;
      right: 0.2rem;
      top: 50%;
      height: 0.31rem;
      margin-top: -0.155rem;
      color: #999;
      line-height: 0.31rem;
      i {
        font-style: normal;
        font-size: 0.24rem;
        color: #d75268;
      }
      em {
        width: 0.32rem;
        height: 0.31rem;
        background: url(../../assets/edit.jpg) no-repeat;
        background-size: 100% 100%;
      }
    }
  }
  dd.active {
    background: #fff;
  }
  dd {
    padding: 0.25rem 0;
    border-bottom: 1px solid #dfdfdd;
    padding-left: 0.7rem;
    height: 1.55rem;
    position: relative;
    img {
      width: 1.55rem;
      height: 1.55rem;
    }
    .delete {
      width: 1.2rem;
      height: 100%;
      background: #d75268;
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.32rem;
      .text {
        width: 0.32rem;
      }
    }
    .input-wrap {
      margin-right: 1.2rem;
      margin-top: 0.48rem;
      background-color: #fff;
      input[type="number"] {
        border: none;
        width: 1.8rem;
        text-align: center;
        font-size: 0.48rem;
        color: #000;
        background: #fff;
        outline: none;
      }
      button {
        border: none;
        background: none;
        color: #999;
        outline: none;
        width: 0.8rem;
        text-align: center;
        font-size: 0.6rem;
      }
    }
    .pull-right {
      padding-left: 0.2rem;
      .text {
        width: 4.6rem;
        height: 0.65rem;
        font-size: 0.24rem;
        color: #333;
        line-height: 0.32rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .price-wrap {
        padding-top: 0.6rem;
        .price {
          font-size: 0.26rem;
          color: #d75268;
          span {
            font-size: 0.38rem;
          }
        }
        .number {
          font-size: 0.28rem;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .checkBox.active {
      color: #ce0a14;
      span {
        border: none;
        background: url(../../assets/check_bj.png) no-repeat;
        background-size: 100% 100%;
      }
    }
    .checkBox {
      position: absolute;
      left: 0;
      top: 0;
      width: 0.7rem;
      height: 100%;
      background-color: #fff;
      span {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -0.2rem;
        width: .32rem;
        height: .32rem;
        border: 1px solid #8d8d8d;
        border-radius: 50%;
        text-align: center;
        line-height: .32rem;
        font-size: 0.3rem;
        color: #f9781e;
      }
    }
  }
}

.cart {
  width: 100%;
  height: 100%;
  background: rgba(249, 249, 249, 1);
  .cart-hea {
    width: 100%;
    height: 0.28rem;
  }
  .cart-main {
    width: 100%;
    background-color: #fff;
    .main-box {
      width: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
      img {
        width: 3.52rem;
        height: 2.7rem;
        margin-top: 0.78rem;
      }
      span {
        display: block;
        width: 3.5rem;
        height: 0.4rem;
        margin: 0.2rem auto;
        font-size: 0.24rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5);
      }
      em {
        font-style: normal;
        display: block;
        width: 1.6rem;
        height: 0.48rem;
        line-height: 0.48rem;
        margin: auto auto;
        font-size: 0.24rem;
        border: 1px solid #979797;
      }
    }
  }

  

  .goods {
    width: 100%;
  }
  .goods-box {
    width: 100%;
    padding: 0.16rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0.28rem;
  }
  .goods-box li {
    width: 48.5%;
    border-radius: 0.14rem;
    margin-top: 0.22rem;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02);
    img {
      width: 100%;
      height: 2.98rem;
      background-size: 2.98rem;
      border-radius: 7px 7px 0 0;
    }

    .goodsTitle {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;
      display: block;
      margin: 0.1rem;
      font-size: 0.28rem;
    }
    .goodsPrice {
      font-size: 0.28rem;
      color: #b32023;
      i {
        font-style: normal;
      }
    }
    em {
      font-style: normal;
      margin-left: 0.2rem;
      color: #c5c5c5;
      text-decoration: line-through;
      font-size: 0.24rem;
    }
  }
}

.ttt {
  margin-bottom: 1rem;
}
// 推荐
  .recommend {
    width: 100%;
    background-color: #f9f9f9;
    .header {
      display: flex;
      justify-content: center;
      .top {
        width: 55%;
        display: flex;
        justify-content: space-between;
        .none {
          width: 50%;
          height: 1px;
          background: rgba(0, 0, 0, 1);
          opacity: 0.8;
          margin-top: 0.56rem;
        }
        .head {
          height: 0.9rem;
          line-height: 1.1rem;
          width: 100%;
          text-align: center;
          font-size: 0.24rem;
        }
      }
    }
  }
</style>