<!--提现申请-->
<template>
  <div class="cash">
    <div class="header">
      <coup-header :set="true" :text="'提现申请'"></coup-header>
    </div>
    <div class="main">
      <div class="from">
        <div class="sum">
          <p>可提现金额</p>
          <span>￥100.00</span>
        </div>
        <div class="input-main money">
          <p>本次提现</p>
          <input type="text" placeholder="单笔最高提现2万" v-model="money">
        </div>
        <div class="input-main mobile">
          <p>手机号</p>
            <input type="text" placeholder="请输入手机号" v-model="mobile">
        </div>
        <div class="input-main message">
          <p>验证码</p>
          <input type="text" v-model="message">
          <button class="btn-ver">{{btnText}}</button>
        </div>
        <!-- <div class="input-main rec">
            <input type="text" placeholder="请填入推荐人编码">
        </div> -->
        <div class="name" @click="other">
          <p>本次提现</p>
          <span v-if="!backCard">微信钱包（天使和阿狸）</span>
          <span v-else>{{backCard.name}}{{backCard.number}}</span>
          <img src="../../assets/right.png">
        </div>
        <div class="btn">
          <button class="btn-in" >提&nbsp;&nbsp;现</button>
        </div>
      </div>
      <div class="actionsheet" v-show="isActive">
        <div class="box" @click="increment"></div>
        <div class="acti-box" :class="{active:isActive}">
          <ul>
            <li @click="toGrant()">修改账户</li>
          </ul>
          <div class="btn" @click="increment">{{cancelText}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "cash",
  data() {
    return {
      money: "",
      mobile: "",
      message: "",
      btnText: "获取验证码",
      isActive: false,
      scrollWatch: true,
      sessionId: "",
      cancelText: "取消",
      backCard:''////银行卡信息
    };
  },
  created(){
    this.getBackCard() //获取提现银行卡信息
  },
  methods: {
    other() {
      this.isActive = true;
    },
    increment() {
      this.isActive = false;
    },
    toGrant() {
      this.$router.push("/grant");
    },
    getBackCard(){ //获取提现银行卡信息
      this.backCard = JSON.parse(sessionStorage.getItem("set_backCard"));
    }
  },
  components: {
    coupHeader,
    Shopsn
  }
};
</script>

<style lang="less" scoped>
.cash {
  background-color: #f9f9f9;
  width: 100%;
  .header {
    width: 100%;
  }
  .main {
    width: 100%;
    margin-top: 0.36rem;
    .from {
      width: 100%;
      .sum {
        width: 100%;
        height: 0.8rem;
        padding: 0 0.28rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border: 1px solid #f4f4f4;
        p {
          color: rgba(16, 16, 16, 1);
          font-size: 0.28rem;
        }
        span {
          color: rgba(16, 16, 16, 1);
          font-size: 0.24rem;
        }
      }
      .name {
        width: 100%;
        height: 0.8rem;
        padding: 0 0.28rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border: 1px solid #f4f4f4;
        margin-top: 0.4rem;
        position: relative;
        p {
          color: rgba(16, 16, 16, 1);
          font-size: 0.28rem;
        }
        span {
          color: rgba(16, 16, 16, 1);
          font-size: 0.24rem;
          margin-right: 10px;
        }
        img {
          width: 0.14rem;
          height: 0.26rem;
          position: absolute;
          right: 0.28rem;
          bottom: 0.2rem;
        }
      }
      .input-main {
        width: 100%;
        height: 0.8rem;
        padding: 0 0.28rem;
        box-sizing: border-box;
        background-color: #fff;
        border-bottom: 1px solid #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          color: rgba(16, 16, 16, 1);
          font-size: 0.28rem;
        }
        input {
          width: 75%;
          height: 100%;
          border: none;
          font-size: 0.28rem;
          line-height: 100%;
          outline: none;
        }
        input::placeholder {
          text-align: right;
          font-size: 0.24rem;
        }
      }
      .message {
        position: relative;
        .btn-ver {
          width: 1.88rem;
          height: 0.78rem;
          position: absolute;
          bottom: 0;
          right: 0;
          border: none;
          background: #d75268;
          color: #fff;
          font-size: 0.26rem;
          border-radius: 5px;
          outline: none;
        }
      }
      .btn {
        width: 100%;
        padding: 0.52rem 0.28rem;
        box-sizing: border-box;
        .btn-in {
          width: 100%;
          height: 0.94rem;
          border-radius: 0.1rem;
          background-color: #D75268;;
          outline: none;
          border: none;
          color: #fff;
          font-size: 0.36rem;
        }
        .btn-in:active {
          box-shadow: 0 -2px 5px #ccc;
        }
      }
    }
    .actionsheet {
      .box {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
      .acti-box.active {
        transition: all 0.5s ease;
        bottom: 0;
      }
      .acti-box {
        position: absolute;
        left: 0.2rem;
        bottom: -3rem;
        width: 7.1rem;
        transition: all 0.5s ease;
        ul {
          border-radius: 5px;
          overflow: hidden;
          text-align: center;
          li {
            width: 100%;
            height: 0.9rem;
            background: #fff;
            line-height: 0.9rem;
            font-size: 0.28rem;
            color: #000;
          }
          li:nth-child(1) {
            border-bottom: 1px solid #d6d6de;
          }
        }
        .btn {
          width: 100%;
          background: #fff;
          line-height: 0.9rem;
          font-size: 0.28rem;
          color: #000;
          text-align: center;
          margin: 0.15rem 0;
          border-radius: 5px;
        }
      }
    }
  }
}
</style>
