<!--确认订单-->
<template>
	<div class="order-wrap">
		<div v-title data-title="确认订单">确认订单</div>
		<div class="my-header">
      <header class="header">
			<span @click="btnGo" class="btnGo">
				<img src="../../assets/left.png" alt="">
			</span>
			确认订单
		</header>
		<div class="hd-active"></div>
    </div>
		<div class="main">
      <!-- 用户信息header -->
      <div class="inf-header" @click="tolink('address')">
        <div v-if="realname" style="width:100%;">
          <div class="inf-name clearfix">
            <div class="name"><span></span>收货人: {{realname.realname}}</div>
            <div class="phone">{{realname.mobile}}</div>
          </div>
          <div class="address">收货地址: {{realname.prov+realname.city+realname.dist+realname.address}}</div>
        </div>
        <!-- 没有地址 -->
        <div class="status text-center" v-if="!realname">您还没有填写收货地址，请填写！</div>
        <span class="btn-right"></span>
      </div>
      <!-- 底部背景 -->
      <!-- <div class="bottom-bg"><img src="../../assets/bottom-bj.jpg"></div> -->
      <ul v-if="data" class="mark-wrap">
        <li class="clearfix" v-for="item in data.goods" :key="item.id">
          <img :src="URL + item.fatherImg" class="fl">
          <div class="pull-right fl">
            <p class="text">{{item.title}}</p>
            <p class="price-wrap clearfix">
              <span class="fl price" v-if="$route.params.id != 3">￥<span>{{item.price_member}}</span></span>
              <span class="fl price" v-if="$route.params.id == 3">市场参考价：￥{{item.price_member}}</span>
              <span class="number fr">数量: {{item.num}}</span>
            </p>
          </div>
        </li>
      </ul>
      <div v-if="data" class="dist-wrap">
        <!-- 配送 -->
        <div class="ps active clearfix">
          <div class="title fl">配送方式</div>
          <div class="ps-busi fr">
            <span>免运费</span>
            <i>普通快递</i>
          </div>
        </div>
        <!-- 优惠劵 -->
        <div class="hd clearfix"  @click="selectCoupon" v-if="$route.params.id != 3">
          <div class="title fl">优惠</div>
          <div class="busi fr">{{$store.state.select_coupon.name}}</div>
        </div>
        <!-- 开发票 -->
        <!-- <div class="hd clearfix" @click="tolink('/invoice')" v-if="$route.params.id != 3">
          <div class="title fl">开具发票</div>
          <div class="busi fr">{{invoice_type}}</div>
        </div> -->
        <!-- 留言 -->
        <div class="dd">
          <div class="title">买家留言：
            <input type="text" name="" id="" placeholder="建议留言前事先与商家沟通">
          </div>
          <!-- <textarea placeholder="选填：备注限字在45个字以内" @blur="limit" v-model="message"></textarea>
          <p class="ind">共<span v-if="data.goods">{{data.goods.length}}</span>件商品</p> -->
        </div>
      </div>
      <div class="price-set-wrap" v-if="data">
        <div class="total price clearfix" v-if="$route.params.id != 3">
          <span class="fl">商品金额</span>
          <span class="fr">￥{{(data.total_price).toFixed(2)}}</span>
        </div>
        <div class="freight price clearfix" v-if="$route.params.id != 3">
          <span class="fl">运费</span>
          <span class="fr">+&nbsp;&nbsp;<i>￥{{data.freight}}</i></span>
        </div>
        <div class="dis price clearfix" v-if="$route.params.id != 3">
          <span class="fl">优惠</span>
          <span class="fr">-&nbsp;&nbsp;<i>￥0</i></span>
        </div>
        
      </div>
    </div>
		<div v-if="data" class="footer-wrap">
			<div class="foot-seat"></div>
			<div class="footer clearfix" v-if="$route.params.id != 3">
				<button class="fr btn" @click="toCashier">提交订单</button>
				<div class="fr money">合计&nbsp;:&nbsp;<span class="price">￥{{Number(data.total_price) + Number(data.freight) - Number($store.state.select_coupon.money)}}</span></div>
			</div>
		</div>
		<detail-coupon :useList = "do_use_list" :notUseList = "do_not_use_list"></detail-coupon>
		<!-- <Shopsn></Shopsn> -->
		<div class="load" v-show="load" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
		<div class="load-wrap" v-show="load_wrap" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
	</div>
</template>
<script>
import orderHeader from "./children/header.vue";
import { Toast } from "mint-ui";
import Shopsn from "@/components/page/Shopsn.vue";
import detailCoupon from "@/components/page/children/detailCouponPackage.vue"; // 优惠券
import qs from "qs";
export default {
  name: "order",
  data() {
    return {
      s: "",
      title: "确认订单",
      btn: "", //头部客服按钮开关
      data: "",
      newdata: "",
      scrollWatch: true,
      invoice_type: "无需发票", //发票选择
      realname: "",
      load: false,
      load_wrap: true,
      message: "", //留言
      invoice_status: 0,
      gcheck: "",
      const_coupon_price: 0,
      do_not_use_list: [],
      do_use_list: []
    };
  },
  methods: {
    btnGo() {
      this.$router.go(-1);
    },
    //获取优惠券
    getCoupon() {
      this.axios
        .post(
          API_URL + "Home/Pcenter/myCoupon",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID"),
            status: 3
          })
        )
        .then(res => {
          let couponData = res.data.data;
          for (var i = 0; i < couponData.length; i++) {
            let condition = parseFloat(couponData[i].condition);
            if (this.const_coupon_price > condition) {
              this.do_use_list.push(couponData[i]);
            } else {
              this.do_not_use_list.push(couponData[i]);
            }
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    //优惠券按钮
    selectCoupon() {
      this.$store.state.const_coupon = true;
    },
    //选取地址
    selectAddress() {
      this.realname = JSON.parse(sessionStorage.getItem("set_address"));
    },
    getOrderData() {
      if (sessionStorage.getItem("user_ID")) {
        this.axios
          .post(
            API_URL + "Home/Order/goBuy",
            qs.stringify({
              app_user_id: sessionStorage.getItem("user_ID"),
              goods: this.$store.state.goods
            })
          )
          .then(res => {
            this.load_wrap = false;
            this.data = res.data.data;
            this.realname = res.data.data.address;
            this.const_coupon_price = parseFloat(res.data.data.total_price);
            this.getCoupon();
            if (res.data.data.address) {
              this.realname = res.data.data.address;
              this.address_id = res.data.data.address.id;
            } else {
              this.selectAddress();
            }
            if (res.data.data && sessionStorage.getItem("set_address")) {
              this.selectAddress();
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
    },

    toCashier() {
      //创建订单
      if (this.$route.params.id == 3) {
        //积分订单生成
        this.axios
          .post(
            API_URL + "Home/Integral/integral_order",
            qs.stringify({
              app_user_id: sessionStorage.getItem("user_ID"), //用户ID
              goods: this.$store.state.goods, //将要兑换的商品 二维数组
              integral: this.data.pay_integral, //商品所需积分
              price_sum: 0, //所需金额
              address_id: this.realname.id, //收货地址ID
              remarks: this.message, //留言
              translate: 0, //是否需要发票 1为需要 0为不需要
              shipping_monery: 0 //运费
            })
          )
          .then(res => {
            this.$store.state.order_number = res.data.data;
          })
          .catch(err => {
            console.log(err);
          });
        this.$store.state.price = this.data.pay_integral;
        this.$router.push({
          name: "cashier",
          params: {
            id: this.$route.params.id //2为商品 1为积分兑换
          }
        });
      } else {
        //商品订单生成
        this.axios
          .post(
            API_URL + "Home/Pcenter/check",
            qs.stringify({
              app_user_id: sessionStorage.getItem("user_ID"),
              gcheck: this.gcheck
            })
          )
          .then(res => {
            if (res.data.status == 1) {
              this.toOrder();
            } else {
              Toast("请勿重复提交");
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
    },
    toOrder() {
      this.axios
        .post(
          API_URL + "Home/Order/orderBegin",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID"), //用户ID
            goods: this.$store.state.goods, //将要购买的商品 二维数组
            buyType: this.$route.params.id, //2:为立即购买型 1：为购物车购买
            price_sum:
              Number(this.data.total_price) +
              Number(this.data.freight) -
              Number(this.$store.state.select_coupon.money), //运费及优惠券计算后的总金额
            invoice: JSON.stringify(this.$store.state.invoice_switch), //发票信息二维数组
            translate: this.invoice_status, //是否需要发票 1为需要 0为不需要
            address_id: this.realname.id, //收货地址ID
            remarks: this.message, //留言
            shipping_monery: this.data.freight, //运费
            coupon_id: this.$store.state.select_coupon.id, //优惠卷ID
            coupon: Number(this.$store.state.select_coupon.money) //优惠卷金额
          })
        )
        .then(res => {
          this.$store.state.order_number = res.data.data;
        })
        .catch(err => {
          console.log(err);
        });
      this.$router.push({
        name: "cashier",
        params: {
          id: this.$route.params.id //2为商品 1为积分兑换
        }
      });
      this.$store.state.price =
        Number(this.data.total_price) +
        Number(this.data.freight) -
        Number(this.$store.state.select_coupon.money);
    },
    tolink(to) {
      if (to == "address") {
        this.$router.push({
          name: to,
          params: {
            status: 1
          }
        });
      } else {
        this.$router.push(to);
      }
    },
    limit() {
      if (this.message.length > 45) {
        Toast("留言不能超过45字！");
      }
    }
  },
  mounted() {
    document.body.scrollTop = 0;
  },
  created() {
    this.$store.state.const_coupon = false;
    this.$store.state.select_coupon = {
      name: "请选择优惠券",
      money: 0,
      id: ""
    };
    this.getOrderData();
    this.axios
      .post(
        API_URL + "Home/Pcenter/getcheck",
        qs.stringify({
          app_user_id: sessionStorage.getItem("user_ID")
        })
      )
      .then(res => {
        if (res.data.status == 1) {
          this.gcheck = res.data.data;
        }
      })
      .catch(err => {
        console.log(err);
      });
  },
  destroyed() {
    this.scrollWatch = false;
  },
  components: {
    orderHeader,
    Shopsn,
    detailCoupon
  }
};
</script>
<style lang="less" scoped>
  .order-wrap {
    background: #f9f9f9;
    .my-header{
      width: 100%;
      height: .8rem;
      background-color: #f00;
      // .hd-active {
      //   width: 100%;
      //   height: 0.62rem;
      //   padding: 0.16rem 0;
      // }
      .header {
        width: 100%;
        height: 0.8rem;
        background: #fff;
        text-align: center;
        color: #000;
        font-size: 0.28rem;
        line-height: 0.8rem;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        border-bottom: 1px solid #f4f4f4;
        border-top: 1px solid #f4f4f4;
        .btnGo {
          width: 0.18rem;
          height: 100%;
          position: absolute;
          top: 0.25rem;
          left: 0.28rem;
          img {
            width: 0.18rem;
            height: 0.34rem;
          }
        }
      }
    }
    .main{
      flex: 1;
      overflow: auto;
      margin-top: .2rem;
      .inf-header {
        width: 100%;
        height: 1.2rem;
        padding: 0 0.28rem;
        box-sizing: border-box;
        background: #fff;
        position: relative;
        display: flex;
        align-items: center;
        .status {
          font-size: 0.32rem;
          color: #666;
          line-height: 1.64rem;
        }
        .inf-name {
          width: 100%;
          height: 0.4rem;
          // background-color: #f00;
          color: #282828;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .name {
            width: 45%;
            font-size: 0.28rem;
            padding-left: 0.44rem;
            position: relative;
            display: flex;
            span {
              position: absolute;
              top: 50%;
              left: 0;
              width: 0.28rem;
              height: 0.41rem;
              background: url(../../assets/address.png) no-repeat;
              background-size: 100% 100%;
              margin-top: -0.205rem;
            }
          }
          .phone {
            width: 55%;
            font-size: 0.28rem;
            display: flex;
            justify-content: flex-end;
            padding-right: 0.3rem;
          }
        }
        .address {
          padding-left: 0.44rem;
          box-sizing: border-box;
          width: 100%;
          height: 0.4rem;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 0.24rem;
          color: rgba(0, 0, 0, 0.6);
          line-height: 0.4rem;
          position: relative;
        }
        .btn-right {
          width: 0.18rem;
          height: 0.3rem;
          position: absolute;
          top: 0.6rem;
          right: 0.2rem;
          background: url(../../assets/right.png) no-repeat;
          background-size: 100% 100%;
        }
      }
      .mark-wrap {
        margin: 0.2rem 0;
        background: #fff;
        li {
          padding: 0.4rem 0.28rem;
          border-bottom: 1px solid #f4f4f4;
          height: 2.4rem;
          box-sizing: border-box;
          position: relative;
          display: flex;
          justify-content: space-between;

          img {
            width: 1.6rem;
            height: 1.6rem;
          }
          .delete {
            width: 1.2rem;
            height: 100%;
            background: #f9781e;
            position: absolute;
            right: 0;
            top: 0;
            color: #fff;
            text-align: center;
            .icon {
              width: 0.51rem;
              height: 0.51rem;
              background: url(../../assets/delete.png) no-repeat;
              background-size: 100% 100%;
              margin: 0.55rem auto 0.2rem;
            }
            .text {
              font-size: 0.24rem;
            }
          }
          .pull-right {
            padding-left: 0.26rem;
            .text {
              width: 3.8rem;
              font-size: 0.28rem;
              color: #000;
              line-height: 0.4rem;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }
            .price-wrap {
              padding-top: 0.48rem;
              width: 5rem;
              .price {
                font-size: 0.24rem;
                color: #d75268;
                span {
                  font-size: 0.38rem;
                  color: #d75268;
                }
              }
              .number {
                font-size: 0.28rem;
                color: rgba(0, 0, 0, 0.5);
              }
            }
          }
        }
      }
      .dist-wrap {
        width: 100%rem;
        background: #fff;
        .ps {
          padding: 0 0.28rem;
          width: 100%;
          height: 1.2rem;
          box-sizing: border-box;
          border-bottom: 1px solid #f4f4f4;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            width: 20%;
            font-size: 0.28rem;
            color: #000;
          }
          .ps-busi {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            
            color: rgba(0, 0, 0, 0.6);
            span {
              font-size: 0.24rem;
              display: block;
            }
            i {
              font-size: 0.24rem;
              font-style: normal;
              display: block;
            }
          }
        }
        .hd {
          box-sizing: border-box;
          padding: 0 0.28rem;
          height: 0.8rem;
          line-height: 0.8rem;
          border-bottom: 1px solid #f4f4f4;
          background: url(../../assets/right.png) no-repeat 7.1rem center;
          background-size: 0.14rem 0.24rem;
          padding-right: 0.3rem;

          .title {
            font-size: 0.28rem;
            color: #000;
          }
          .busi {
            font-size: 0.28rem;
            color: rgba(0, 0, 0, 0.4);
            padding-right: 0.3rem;
          }
        }
        .hd.active {
          background: #fff;
        }
        .dd {
          box-sizing: border-box;
          padding: 0 0.28rem;
          height: 0.9rem;
          line-height: 0.8rem;
          border-bottom: 1px solid #f4f4f4;
          .title {
            font-size: 0.28rem;
            color: #000;
          }
          input {
            border: none;
            width: 70%;
            height: 0.8rem;
            outline: none;
          }
          input::placeholder{
            font-size: .24rem;
          }
          .ind {
            text-align: right;
            padding: 0.48rem 0.2rem 0.32rem;
            font-size: 0.26rem;
            color: #333;
            span {
              font-size: 0.26rem;
              color: #f23030;
            }
          }
        }
      }
      .price-set-wrap {
        margin-top: 0.2rem;
        padding: 0.2rem 0.28rem;
        background: #fff;
        .price {
          height: 0.4rem;
          line-height: 0.4rem;
          span.fl {
            font-size: 0.24rem;
            color: rgba(0, 0, 0, 1);
          }
          span.fr {
            font-size: 0.24rem;
            color: #000;
            overflow: hidden;
            height: 100%;
            i {
              font-size: 0.24rem;
              font-style: normal;
              color: #000;
            }
          }
        }
        .price.curInt {
          span.fr {
            color: #ff7200;
          }
        }
      }
    }
    .footer-wrap {
      width: 100%;
      height: 1rem;
      background-color: #fff;
      .footer {
        width: 100%;
        height: 1rem;
        background: #fff;
        box-sizing: border-box;
        // border-top: 1px solid #ccc;
        .btn {
          width: 2.4rem;
          height: 100%;
          color: #fff;
          border: none;
          background: #d75268;
          font-size: 0.36rem;
        }
        .money {
          line-height: 1rem;
          font-size: 0.28rem;
          color: #000;
          padding-right: 0.3rem;
          .price {
            color: #d75268;
            font-size: .28rem;
            span {
              font-size: 0.28rem;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
</style>