<!--mine => 优惠劵-->
<template>
	<div>
		<div v-title data-title="优惠券">优惠券</div>
		<coup-header :set="true" :text="'优惠券('+data.length+')'"></coup-header>
		<ul class="clearfix Navigation text-center">
			<li class="fl" :class="{active:status == 3}" @click="nav(3)">未使用</li>
			<li class="fl" :class="{active:status == 1}" @click="nav(1)">已使用</li>
			<li class="fl" :class="{active:status == 2}" @click="nav(2)">已过期</li>
		</ul>

		<ul class="content-wrap">
			<li data-v-55093ac8="" class="coupon-item" v-for="item in data" :key="item.id" :class="{yellow:status == 3,gray:status == 1 || status == 2}">
				<div data-v-55093ac8="" class="coupon-main">
					<div data-v-55093ac8="" class="price-box">
						<p data-v-55093ac8="" class="price">
							<span data-v-55093ac8="" class="big">{{item.money}}</span> 
							<i data-v-55093ac8="">￥</i> 
						</p> 
						<p data-v-55093ac8="" class="price-limit">满200.00元可用</p>
					</div>
					<div data-v-55093ac8="" class="info">
						<p data-v-55093ac8="" class="info_text">{{item.name}}</p> 
						<p data-v-55093ac8="" style="display: none;"></p> 
						<p data-v-55093ac8="" class="info_date ">{{new Date(item.use_start_time * 1000).getFullYear()+'.'+(new Date(Number(item.use_start_time * 1000)).getMonth()+1)+'.'+new Date(Number(item.use_start_time * 1000)).getDate()}}  --  {{new Date(item.use_end_time * 1000).getFullYear()+'.'+(new Date(Number(item.use_end_time * 1000)).getMonth()+1)+'.'+new Date(Number(item.use_end_time * 1000)).getDate()}}</p>
					</div> 
					<div data-v-55093ac8="" class="but">
						去使用
					</div>
				</div>
			</li>
			<!-- test -->
			<!-- <li data-v-55093ac8="" class="coupon-item">
				<div data-v-55093ac8="" class="coupon-main">
					<div data-v-55093ac8="" class="price-box">
						<p data-v-55093ac8="" class="price">
							<span data-v-55093ac8="" class="big">200</span> 
							<i data-v-55093ac8="">￥</i> 
						</p> 
						<p data-v-55093ac8="" class="price-limit">满200.00元可用</p>
					</div>
					<div data-v-55093ac8="" class="info">
						<p data-v-55093ac8="" class="info_text">200元代金券</p> 
						<p data-v-55093ac8="" style="display: none;"></p> 
						<p data-v-55093ac8="" class="info_date ">2018.12.11  —  2018.12.16</p>
					</div> 
					<div data-v-55093ac8="" class="but">
						去使用
					</div>
				</div>
			</li> -->
		</ul>
		<div class="text-center data-status" v-if="!data">
			<img src="../../assets/n-cou.png" alt="">
			<span>你还没有优惠券哦~</span>
		</div>
		<!-- <Shopsn></Shopsn> -->
		<div class="load" v-show="load" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
	</div>
</template>
<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "coupon",
  data() {
    return {
      title: "",
      status: 3,
      data: "",
      load: false
    };
  },
  mounted() {
    this.nav(3);
  },
  methods: {
    nav(index) {
      this.load = true;
      this.status = index;
      this.axios
        .post(
          API_URL + "Home/Pcenter/myCoupon",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID"),
            status: this.status
          })
        )
        .then(res => {
          this.data = res.data.data;
          this.load = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  components: {
    coupHeader,
    Shopsn
  }
};
</script>
<style lang="less" scoped>
.data-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: #999;
  img {
    width: 2.02rem;
    height: 2.02rem;
  }
  span {
    margin-top: 0.2rem;
    font-size: 0.32rem;
    color: rgba(0, 0, 0, 0.6);
  }
}
.Navigation {
  height: 0.9rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.2rem 0;
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
  li {
    width: 33.33333%;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    line-height: 0.5rem;
    font-size: 0.26rem;
    color: rgba(0, 0, 0, 0.6);
  }
  li:last-child {
    border: none;
  }
  li.active {
    color: #d75268;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAACCAYAAAAw9X6zAAAAFElEQVQoU2O8HpTxn2EQAcbB5iAAUGMFI/VZ9bUAAAAASUVORK5CYII=) no-repeat .88rem .46rem;
  }
}
.content-wrap {
  padding: 0.32rem 0.2rem;
  li.gray {
    span.big,
    i {
      color: rgba(0, 0, 0, 0.4) !important;
    }
    .price-limit {
      color: rgba(0, 0, 0, 0.4) !important;
    }
    .info_text {
      color: rgba(0, 0, 0, 0.4) !important;
    }
    .but {
      background: rgba(0, 0, 0, 0.1) !important;
    }
  }
  .coupon-item {
    width: 100%;
    height: 1.6rem;
    background-color: #fff;
    margin-top: 0.2rem;
    border-radius: 0.12rem;
    .coupon-main {
      display: flex;
      align-items: center;
      .price-box {
        width: 35%;
        height: 1.6rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .price {
          width: 2.1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          i {
            font-style: normal;
            font-size: 0.24rem;
            color: #d75268;
            margin-top: 0.22rem;
          }
          span.big {
            font-weight: 400;
            font-size: 0.72rem;
            position: relative;
            color: #d75268;
          }
        }
        .price-limit {
          font-size: 0.24rem;
          margin-top: 0.2rem;
          color: rgba(0, 0, 0, 0.6);
        }
      }
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 1.6rem;
        .info_text {
          font-size: 0.28rem;
          color: #000;
        }
        .info_date {
          font-size: 0.24rem;
          color: rgba(0, 0, 0, 0.4);
          margin-top: 0.15rem;
        }
      }
      .but {
        width: 1.08rem;
        height: 0.48rem;
        background-color: #d75268;
        color: #fff;
        text-align: center;
        line-height: 0.48rem;
        border-radius: 0.04rem;
        margin-right: 0.28rem;
      }
    }
  }
}
</style>