<template>
  <div class="dist" v-if="!isLoad">
    <div class="header">
      <coup-header :set="true" :text="'分销中心'"></coup-header>
    </div>
    <div class="main">
      <div class="profit" @click="toStatistics(2)">
        <span class="sy">累计收益（元）</span>
        <p>{{data.balance.account_balance}}</p>
        <span class="js">待结算 {{data.balance.lock_balance}}元</span>
      </div>
      <div class="y_profit" @click="toStatistics(0)">
        <div class="left">
          <div class="box">
            <span>昨日收益（元）</span>
            <p>{{yesterday}}</p>
            <span>待结算 100.02 元</span>
          </div>
        </div>
        <div class="right">
          <div class="box">
            <span>昨日新增客户（人）</span>
            <p>{{data.performance.newuser}}</p>
            <span>需要加油哟</span>
          </div>
        </div>
      </div>
      <ul class="cash" @click="toSettlement()">
        <li class="fl" v-for="(item,index) in Imag" :key="item.id">
          <p>{{more.name[index]}} {{data.balance.available_balance}}</p>
          <div class="right">
            立即提现
            <img :src="item">
          </div>
        </li>
      </ul>
      <ul class="list">
        <li class="item" v-for="(item,index) in img" :key="index" @click="toLink(index)">
          <div class="text">
            <span class="big">{{Item.big[index]}}</span>
            <span class="small">{{Item.small[index]}}</span>
          </div>
          <img :src="item" alt="">
        </li>
      </ul>
      <ul class="cash">
        <li @click="toQuestion()">
          <p>常见问题</p>
          <img src="../../assets/right.png" alt="">
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "distribution",
  data() {
    return {
      isLoad: true,
      more: {
        name: [
          "可提现佣金"
        ]
      },
      Imag: [
        require("@/assets/right.png"),
      ],
      Item:{
        big:[
          "推广商品",
          "邀请好友",
          "通知中心"
        ],
        small:[
          "赚佣金",
          "得奖励",
          "看消息"
        ],
      },
      img:[
        require("@/assets/yj.png"),
        require("@/assets/m_mine.png"),
        require("@/assets/tg.png"),
      ],
      data:'',
      yesterday:''//昨日收益
    };
  },
  mounted(){
    this.axios
      .post(
        API_URL + "home/distribution/index",
        qs.stringify({
          app_user_id: sessionStorage.getItem("user_ID"),
        })
      )
      .then(res => {
        this.isLoad = false
        this.data = res.data.data
        this.yesterday = (++this.data.performance.commission) + (++this.data.performance.reward)
        console.log(this.data);
      })
      .catch(err => {
        console.log(err);
      });
  },
  methods:{
    toStatistics(a){
      // this.$router.push("/statistics");
      this.$router.push({
        name: "statistics",
        params: {
          status: a
        }
      });
    },
    toSettlement(){
      this.$router.push("/settlement");
    },
    toQuestion(){
      this.$router.push("/question");
    },
    toLink(link) {
      function isString(str) {
        return typeof str == "string" && str.constructor == String;
      }
      if (isString(link)) {
        this.$router.push({
          path: link
        });
      } else {
        switch (link) {
          // case 0:
          //   this.$router.push("/moneyDetail"); //推广商品---赚佣金
          //   break;
          case 1:
            this.$router.push("/Invitation"); //邀请好友---得奖励
            break;
          case 2:
            this.$router.push("/Notification"); //通知中心
            break;  
        }
      }
    }
  },
  components: {
    coupHeader,
    Shopsn
  }
}
</script>

<style lang="less" scoped>
  .dist{
    background-color: #f9f9f9;
    width: 100%;
    .header{
      width: 100%;
    }
    .main{
      width: 100%;
      .profit{
        width: 100%;
        height: 2rem;
        background-color: #fff;
        // box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .sy{
          color: rgba(0, 0, 0, 0.4);
          font-size: .28rem;
        }
        p{
          color: rgba(16, 16, 16, 1);
          font-size: .56rem;
          margin: .12rem 0;
        }
        .js{
          color: rgba(0, 0, 0, 0.4);
          font-size: .28rem;
        }
      }
      .y_profit{
        width: 100%;
        height: 2rem;
        display: flex;      
        // box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 1);
        background-color: #fff;
        .left{
          margin-top: .16rem;
          width: 50%;
          height: 1.3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-right: 1px solid #BBBBBB;
          // text-align: left;
          .box{
            span{
              color: rgba(0, 0, 0, 0.4);
              font-size: .28rem;
            }
            p{
              color: rgba(16, 16, 16, 1);
              font-size: .32rem;
              margin: .12rem 0;
            }
          }
        }
        .right{
          margin-top: .16rem;
          width: 50%;
          height: 1.3rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          .box{
            span{
              color: rgba(0, 0, 0, 0.4);
              font-size: .28rem;
            }
            p{
              color: rgba(16, 16, 16, 1);
              font-size: .32rem;
              margin: .12rem 0;
            }
          }
        }
      }
      .cash {
        width: 100%;
        height: 0.88rem;
        margin-top: .08rem;
        // box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 1);
        li {
          background: #fff;
          width: 100%;
          height: 0.88rem;
          border-bottom: 1px solid #f4f4f4;
          box-sizing: border-box;
          text-align: center;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.28rem;
          
          p {
            font-size: 0.28rem;
            color: #333;
          }
          .right{
            width: 19%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 0.88rem;
            font-size: .24rem;
            color: rgba(0, 0, 0, 0.4);
            img {
            width: 0.14rem;
            height: 0.26rem;
            }
          }
          img {
            width: 0.14rem;
            height: 0.26rem;
          }
        }
      }
      .list{
        // box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 1);
        margin-top: .08rem;
        width: 100%;
        height: 1.88rem;
        padding: 0 .28rem;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        display: flex;
        background-color: #fff;
        .item{
          padding-left: .2rem;
        width: 2rem;
        height: 1.3rem;
        border-radius: .12rem;
        display: flex;
        align-items: center;
        position: relative;
        .text{
          display: flex;
          flex-direction: column;
          .big{
            color: rgba(255, 255, 255, 1);
            font-size: .28rem;
          }
          .small{
            color: rgba(255, 255, 255, 1);
            font-size: .24rem;
          }
        }
        img{
          position: absolute;
          bottom: 1px;
          right: 1px;
          width: .8rem;
          height: .8rem;
        }
        }
        li:nth-of-type(1){
          background-color: rgba(255, 152, 0, 0.7);
          img{
            width: .86rem;
          }
        }
        li:nth-of-type(2){
          background-color: rgba(255, 64, 129, 0.7);
        }
        li:nth-of-type(3){
          background-color: rgba(139, 195, 74, 0.7);
        }
      }
    }
  }
</style>
