<!--取货码-->
<template>
  <div>
    <!-- <div v-title data-title="取货码">取货码</div> -->
      <coup-header :set="true" :text="'取货码'"></coup-header>
      <ul class="clearfix Navigation text-center">
        <li class="fl" :class="{active:status == 3}" @click="nav(3)">未使用</li>
        <li class="fl" :class="{active:status == 1}" @click="nav(1)">已使用</li>
        <li class="fl" :class="{active:status == 2}" @click="nav(2)">已过期</li>
      </ul>
      <div class="main">
        <ul :class=" status == '3' ? 'code-box' : 'code-box gray' ">
          <!-- <li class="code">
            <h3>3117 &nbsp&nbsp 7234 &nbsp&nbsp 8807 &nbsp&nbsp 8260</h3>
            <span><em>领取日期：</em>2018-11-11 14:25</span>
            <span><em>有效日期：</em>2019-01-11 14:25</span>
          </li> -->
          <li class="code" v-for="(item,index) in newData" :key="index" >
            <h3>{{item.ecode}}</h3>
            <span><em>领取日期：</em>{{item.create_time}}</span>
            <span><em>有效日期：</em>{{item.expire_time}}</span>
          </li>
        </ul>
      </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "ecode",
  data() {
    return {
      title: "",
      status: 3,
      data: "",
      // load: false,
      tempdata: [],
      newData: []
    };
  },
  mounted() {
    this.axios
      .post(
        API_URL + "Home/Pcenter/myEcode",
        qs.stringify({
          app_user_id: sessionStorage.getItem("user_ID"),
          status: this.status
        })
      )
      .then(res => {
        console.log(res);
        res.data.data.forEach((item, index) => {
            this.$set(
              this.tempdata,
              "ecode",
              item.ecode.replace(/(.{4})/g, "$1 ")
            ); //取货码格式化完添加到this.tempdata
            var date = new Date(item.create_time * 1000);
            this.$set(this.tempdata, "create_time", this.format(date)); //领取时间格式化完添加到this.tempdata
            var date = new Date(item.expire_time * 1000);
            this.$set(this.tempdata, "expire_time", this.format(date)); //过期时间格式化完添加到this.tempdata
            this.$set(this.newData, index, this.tempdata); //this.tempdata添加到this.newData
          });
      })
      .catch(err => {
        console.log(err);
      });
  },
  methods: {
    format(datetime) {
      var year = datetime.getFullYear(),
        month = ("0" + (datetime.getMonth() + 1)).slice(-2),
        date = ("0" + datetime.getDate()).slice(-2),
        hour = ("0" + datetime.getHours()).slice(-2),
        min = ("0" + datetime.getMinutes()).slice(-2),
        sec = ("0" + datetime.getSeconds()).slice(-2);

      // 返回字符串
      return year + "-" + month + "-" + date;
    },
    nav(index) {
      // this.load = true;
      this.status = index;
      this.axios
        .post(
          API_URL + "Home/Pcenter/myEcode",
          qs.stringify({
            app_user_id: sessionStorage.getItem("user_ID"),
            status: this.status
          })
        )
        .then(res => {
          console.log(res);

          this.newData = [];
          this.tempdata = [];
          res.data.data.forEach((item, index) => {
            this.$set(
              this.tempdata,
              "ecode",
              item.ecode.replace(/(.{4})/g, "$1 ")
            ); //取货码格式化完添加到this.tempdata
            var date = new Date(item.create_time * 1000);
            this.$set(this.tempdata, "create_time", this.format(date)); //领取时间格式化完添加到this.tempdata
            var date = new Date(item.expire_time * 1000);
            this.$set(this.tempdata, "expire_time", this.format(date)); //过期时间格式化完添加到this.tempdata
            this.$set(this.newData, index, this.tempdata); //this.tempdata添加到this.newData
          });
          this.data = res.data.data;
          // this.load = false;
        })
        .catch(err => {
          console.log(err);
        });
    }
  },
  components: {
    coupHeader,
    Shopsn
  }
};
</script>

<style lang="less" scoped>
.Navigation {
  height: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
  li {
    height: 0.8rem;
    width: 33.33333%;
    box-sizing: border-box;
    line-height: 0.8rem;
    font-size: 0.26rem;
    color: rgba(0, 0, 0, 0.6);
  }
  li:last-child {
    border: none;
  }
  li.active {
    color: #d75268;
    background: url("../../assets/hx.png") no-repeat 0.88rem 0.76rem;
    background-size: 0.72rem 0.04rem;
  }
}
.main {
  width: 100%;
  .code-box {
    padding: 0.28rem;
    width: 100%;
    box-sizing: border-box;
    .code {
      width: 100%;
      height: 1.6rem;
      background-color: #fff;
      border-radius: 0.12rem;
      text-align: center;
      padding-top: 0.32rem;
      margin-bottom: 0.2rem;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.02);
      h3 {
        font-size: 0.36rem;
      }
      span {
        display: block;
        color: rgba(0, 0, 0, 0.4);
        font-size: 0.24rem;
        margin-top: 0.1rem;
        em {
          font-style: normal;
          color: rgba(0, 0, 0, 0.6);
          font-size: 0.24rem;
        }
      }
    }
  }
  .gray {
    h3 {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
</style>
