<!--管理银行卡-->
<template>
  <div class="card">
    <div class="header">
      <coup-header :set="true" :text="'管理银行卡'"></coup-header>
    </div>
    <div class="main">
      <div class="from">
        <div class="input-main cardNumber">
          <p>银行卡号</p>
          <input type="text" placeholder="请输入银行卡号" v-model="cardNumber">
        </div>
        <div class="input-main address">
          <p>开户行</p>
          <input type="text" placeholder="请输入开户行" v-model="address">
        </div>
        <div class="input-main user">
          <p>开户人</p>
            <input type="text" placeholder="请输入开户人姓名" v-model="user">
        </div>
        <div class="input-main mobile">
          <p>预留手机号</p>
            <input type="text" placeholder="请输入银行预留手机号" v-model="mobile">
        </div>
        <div class="input-main message">
          <p>验证码</p>
          <input type="text" v-model="message">
          <button class="btn-ver">{{btnText}}</button>
        </div>
        <button class="sbt">确认</button>
        <!-- <div class="btn">
          <button class="btn-in" >注&nbsp;&nbsp;册</button>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "Edicard",
  data() {
    return {
      cardNumber: "",
      address: "",
      user: "",
      mobile: "",
      message: "",
      btnText: "获取验证码",
    };
  },
  components: {
    coupHeader,
    Shopsn
  }
};
</script>

<style lang="less" scoped>
.card {
  background-color: #f9f9f9;
  width: 100%;
  .header {
    width: 100%;
  }
  .main {
    width: 100%;
    .from {
      width: 100%;
      margin-top: 0.36rem;
      .input-main {
        width: 100%;
        height: 0.8rem;
        padding: 0 0.28rem;
        box-sizing: border-box;
        background-color: #fff;
        border-bottom: 1px solid #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          color: rgba(16, 16, 16, 1);
          font-size: 0.28rem;
        }
        input {
          width: 75%;
          height: 100%;
          border: none;
          font-size: 0.28rem;
          line-height: 100%;
          outline: none;
        }
        input::placeholder {
          text-align: right;
          font-size: 0.24rem;
        }
      }
      .message {
        position: relative;
        .btn-ver {
          width: 1.88rem;
          height: 0.78rem;
          position: absolute;
          bottom: 0;
          right: 0;
          border: none;
          background: #d75268;
          color: #fff;
          font-size: 0.26rem;
          border-radius: 5px;
          outline: none;
        }
      }
      .sbt {
        width: 100%;
        height: 0.9rem;
        position: fixed;
        bottom: 0;
        left: 0;
        border: none;
        font-size: 0.32rem;
        color: #fff;
        width: 100%;
        height: 0.9rem;
        background: #d75268;
        border-radius: 2px;
        outline: none;
      }
      button:active {
        box-shadow: 0 -2px 5px #ccc;
      }
    }
  }
  .btn-in:active {
    box-shadow: 0 5px 5px #ccc;
  }
}
</style>
