<!--商品推广订单-->
<template>
  <div class="extension">
    <div class="header">
      <coup-header :set="true" :text="'商品推广订单'"></coup-header>
    </div>
    <div class="main">
      <div class="time">
        <div class="left">
          <span v-for="(item,index) in time" :key="index" :class="currentIndex == index ? 'active' :''" @click="tab(index)">{{item}}</span>
        </div>
        <div class="right" @click="selectData()" v-if="isShow">
          自定义时间
          <img src="../../assets/xia.png" alt="">
        </div>
        <div class="right" @click="selectData()" v-else>
          {{this.selectedValue}}
          <img src="../../assets/xia.png" alt="">
        </div>
        
      </div>
      <mt-datetime-picker
        lockScroll="true"
        ref="datePicker"
        v-model="dateVal"
        class="myPicker"
        type="datetime"
        cancelText="开始时间"
        confirmText="结束时间"
        year-format="{value}"
        month-format="{value}"
        date-format="{value}"
        hour-format="{value}"
        minute-format="{value}"
        second-format="{value}"
        @confirm="handleConfirm()">
      </mt-datetime-picker>
      <ul class="list">
        <li class="item">
          <div class="left">
            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2532879260,2161329853&fm=27&gp=0.jpg" alt="">
          </div>
          <div class="right">
            <p>【陕西富平柿饼2斤精品装】| 天然挂霜，纯手工制作，甜糯适口</p>
            <div class="r_bottom">
              <div class="r_bottom-right">
                <span class="price">商品 78.00 元</span>
                <span class="commission">佣金 9.66 元</span>
              </div>
              <span class="l_time">2019-01-28 15:41:50</span>
            </div>
          </div>
        </li>
        <li class="refund">
          <div class="left">
            <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2532879260,2161329853&fm=27&gp=0.jpg" alt="">
            <div class="modal">已退款</div>
          </div>
          <div class="right">
            <p>【陕西富平柿饼2斤精品装】| 天然挂霜，纯手工制作，甜糯适口</p>
            <div class="r_bottom">
              <div class="r_bottom-right">
                <span class="price">商品 78.00 元</span>
                <span class="commission">佣金 9.66 元</span>
              </div>
              <span class="l_time">2019-01-28 15:41:50</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "extension",
  data(){
      return {
        dateVal: '', // 默认是当前日期
        selectedValue: '',
        isShow:true,
        currentIndex:0,
        time:[
          "昨天",
          "近七天",
          "全部"
        ],
      }
    },
    created(){   
      this.currentIndex= this.$route.params.status
    },
    methods:{
      tab(index){
        this.currentIndex= index
      },
      formatDateMin(secs){//转化时间格式为：xxxx-xx-xx
        var t = new Date(secs)
        var year = t.getFullYear()
        var month = t.getMonth() + 1
        if (month < 10) { month = '0' + month }
        var date = t.getDate()
        if (date < 10) { date = '0' + date }
        var hour = t.getHours()
        if (hour < 10) { hour = '0' + hour }
        var minute = t.getMinutes()
        if (minute < 10) { minute = '0' + minute }
        var second = t.getSeconds()
        if (second < 10) { second = '0' + second }
        return year + '-' + month + '-' + date
      },
      changisShow(){
        this.isShow = false
      },
      selectData () { // 打开时间选择器
          // 如果已经选过日期，则再次打开时间选择器时，日期回显（不需要回显的话可以去掉 这个判断）
          // if (this.selectedValue) {
          //     this.dateVal = this.selectedValue
          // } else {
          //     this.dateVal = new Date()
          // }
          this.$refs['datePicker'].open()
      },
      handleConfirm () { // 时间选择器确定按钮，并把时间转换成我们需要的时间格式
        this.selectedValue = this.formatDateMin(this.dateVal)
        // console.log(111);
        console.log(this.dateVal);
        this.changisShow()
      },
      // toExtension(){
      //   this.$router.push("/extension");
      // }
    },
  components: {
    coupHeader,
    Shopsn
  }
};
</script>

<style lang="less" scoped>
.extension {
  background-color: #f9f9f9;
  width: 100%;
  .header {
    width: 100%;
  }
  .main {
    width: 100%;
    .time{
      width: 100%;
      height: .8rem;
      padding: 0 .28rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      .left{
        width: 55%;
        height: .8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .active{
          border: 1px solid #D75268;
          box-sizing: border-box;
        }
        span{
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center ;
          line-height: .6rem;
          min-width: 1rem;
          height: .6rem;
          background-color: #f9f9f9;
          border-radius: .3rem;
          color: rgba(0, 0, 0, 0.3);
        }
      }
      .right{
        width: 30%;
        height: .8rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
          width: .3rem;
          height: .3rem;
          margin-left: .15rem;
        }
      }
    }
    .list{
      width: 100%;
      background-color: #fff;
      margin-top: .22rem;
      .item{
        width: 100%;
        height: 1.2rem;
        border-bottom: 1px solid #f4f4f4;
        padding: 0 .24rem;
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        align-items: center;
        img{
          width: .8rem;
          height: .8rem;
        }
        .right{
          flex: 1;
          height: 1.2rem;
          margin-left: .2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          p{  
            width: 5.72rem;
            color: rgba(16, 16, 16, 1);
            font-size: .24rem;
            text-align: left;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          .r_bottom{
            display: flex;
            justify-content: space-between;
            .r_bottom-right{
              
              .price{
                width: 1.26rem;
                color: rgba(0, 0, 0, 0.4);
                font-size:.24rem;
                text-align: left;
              }
              .commission{
                width: 1.44rem;
                color: rgba(229, 28, 35, 1);
                font-size: .24rem;
                text-align: left;
              }
            }
            .l_time{
              width: 2.4rem;
              color: rgba(0, 0, 0, 0.4);
              font-size: .24rem;
              text-align: left;
            }
          }
        }
      }
      .refund{
        width: 100%;
        height: 1.2rem;
        border-bottom: 1px solid #f4f4f4;
        padding: 0 .24rem;
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        align-items: center;
        .left{
          position: relative;
          .modal{
            width: .8rem;
            height: .8rem;
            text-align: center;
            line-height: .8rem;
            color:rgba(0, 0, 0, 0.4);
            font-size: .24rem;
            position: absolute;
            background-color: rgba(249,249,249,.8);
            top:0;
          }
          img{
            width: .8rem;
            height: .8rem;
          }
        }
        .right{
          flex: 1;
          height: 1.2rem;
          margin-left: .2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          p{  
            width: 5.72rem;
            color: rgba(16, 16, 16, 0.3);
            font-size: .24rem;
            text-align: left;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
          .r_bottom{
            display: flex;
            justify-content: space-between;
            .r_bottom-right{
              
              .price{
                width: 1.26rem;
                color: rgba(0, 0, 0, 0.4);
                font-size:.24rem;
                text-align: left;
              }
              .commission{
                width: 1.44rem;
                color: rgba(16, 16, 16, 0.3);
                font-size: .24rem;
                text-align: left;
              }
            }
            .l_time{
              width: 2.4rem;
              color: rgba(0, 0, 0, 0.4);
              font-size: .24rem;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
</style>
