<!--意见反馈-->
<template>
    <div class="feedback-wrap">
        <div v-title :data-title="title">{{title}}</div>
        <feedb-header :text="title" :set="true"></feedb-header>
        <div class="from-wrap">
            <div class="main">
                <div class="input-main clearfix" @click="add">
                    <span class="fl name">反馈类型：</span>
                    <span class="fr opin">{{fn || '请选择'}}</span>
                </div>
                <div class="input-main clearfix">
                    <span class="fl name">联系方式：</span>
                    <input type="text" class="fl" placeholder="请输入手机号或邮箱等..." v-model="mobile">
                </div>
                <div class="t-main">
                    <span class="fl name">反馈内容：</span>
                    <!-- <input type="text" class="fl" placeholder="请输入手机号或邮箱等..." v-model="con"> -->
                    <textarea class="a" placeholder="请输入反馈内容..." v-model="con"></textarea>
                </div>
                
            </div>
        </div>

        <div class="btn-wrap">
            <button @click="submit">确认提交</button>
        </div>
        <!-- <Shopsn></Shopsn> -->
        <mt-popup
            v-model="popupVisible"
            position="bottom">
            <mt-picker :slots="slots" @change="onValuesChange"></mt-picker>
        </mt-popup>
    </div>
</template>
<script>
    import feedbHeader from '@/components/page/children/header';
    import { Picker,Popup,Toast } from 'mint-ui';
    import qs from 'qs';
    import Shopsn from '@/components/page/Shopsn.vue';
    export default {
        name : 'Feedback',
        data(){
            return {
                title:'意见反馈',
                slots: [
                    {
                        flex: 1,
                        values: ['功能意见', '页面意见', '你的新需求', '操作意见', '流量问题', '其他'],
                        className: 'slot1',
                        textAlign: 'center'
                    }
                ],
                fn:'',
                popupVisible:false,
                status:'',
                mobile:'',
                con:''
            }
        },
        methods:{
            onValuesChange(picker, values){
                this.fn = values[0]
            },
            add(){
                this.popupVisible = true;
            },
            submit(){
                if(this.mobile == '' && this.con == ''){
                    Toast('联系方式，反馈内容不能为空');
                    return;
                }
                this.axios.post(API_URL + 'Home/Pcenter/feedback',qs.stringify({
                    app_user_id:sessionStorage.getItem('user_ID'),
                    type:this.status,
                    tel:this.mobile,
                    content:this.con
                })).then((res) => {
                    Toast(res.data.msg);
                    this.$router.push('/person');
                }).catch((err) => {
                    console.log(err);
                });
            }
        },
        components:{
            feedbHeader,
            Shopsn
        },
        watch:{
            fn(val){
                switch(val){
                    case '功能意见':
                        this.status = 1;
                        break;
                    case '页面意见':
                        this.status = 2;
                        break;
                    case '你的新需求':
                        this.status = 3;
                        break;
                    case '操作意见':
                        this.status = 4;
                        break;
                    case '流量问题':
                        this.status = 5;
                        break;
                    case '其他':
                        this.status = 6;
                        break;
                }
            }
        }
    }
</script>
<style lang="less">
    .feedback-wrap{
        .mint-popup-bottom{
            width: 100%;
        }
    }
</style>
<style lang="less" scoped>
    .feedback-wrap{
        .from-wrap{
            padding:.28rem;
            box-sizing:border-box;
            .main{
                width: 100%;
                background-color: #fff;
                padding:0 .26rem;
                box-sizing:border-box;
                border-radius:.12rem;
            }
            .t-main{
                display: flex;
                height: 3.6rem;
                textarea{
                    height: 3.6rem;
                    line-height: 0.8rem;
                    flex:1;
                    outline: none;
                    padding-bottom:.2rem;
                    font-size:.28rem;
                    color:rgba(0,0,0,.8);
                    border:none;
                    font-family: Arial;
                    
                }
                textarea::-webkit-input-placeholder {
                    color:rgba(0,0,0,.3);
                }
                textarea:-moz-placeholder {
                    color:rgba(0,0,0,.3);
                }
                textarea::-moz-placeholder {
                    color:rgba(0,0,0,.3);
                }
                textarea:-ms-input-placeholder {
                    color:rgba(0,0,0,.3);
                }
                span{
                    width: 1.4rem;
                    height: 3.6rem;
                    font-size:.28rem;
                    color:#000;
                    line-height: 0.8rem;
                }
            }
            
            .input-main{
                width: 100%;
                height:.88rem;
                line-height:.88rem;
                border-bottom:1px solid #f4f4f4;
                display: flex;
                .name{
                    font-size:.28rem;
                    color:#000;
                }
                .opin{
                    font-size:.28rem;
                    color:rgba(0,0,0,.8);
                }
                input{
                    border:none;
                    flex:1;
                    height: 100%;
                    outline:none;
                    font-size:.28rem;
                    color:rgba(0,0,0,.8);
                    // text-indent:.28rem;
                }
                input::placeholder{
                    font-size:.28rem;
                    color:rgba(0,0,0,.3);
                }
            }
            .input-main:nth-child(1){
                background:url(../../assets/btn-right.png) no-repeat 6.2rem center;
                background-size:.18rem .3rem;
            }
        }
        .btn-wrap{
            padding:.6rem .28rem;
            button{
                width: 100%;
                height: .98rem;
                background:#D75268;
                border:none;
                color:#fff;
                font-size:.32rem;
                outline: none;
                border-radius:.04rem;
            }
            button:active{
                box-shadow: 0 5px 5px #ccc;
            }
        }
    }
</style>