<!--授权-->
<template>
  <div class="grant">
    <div class="header">
      <coup-header :set="true" :text="'授权'"></coup-header>
    </div>
    <div class="main">
      <div class="topBtn">
        <button class="click">点击微信授权</button>
        <button class="addCard" @click="addCard()">添加银行卡</button>
      </div>
      <ul class="list">
        <li class="fl" v-for="(item,index) in data" :key="index">
          <p @click="to(index)">{{item.name}}{{item.number}}</p>
          <div class="right" @click="ediCard()">
            <img src="../../assets/right.png">
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name:"Grant",
  data() {
    return {
      data:[
        {
          name:'建设银行',
          number:'6227 00007 1234 5678 520'
        },
        {
          name:'工商银行',
          number:'6227 00007 1234 5678 521'
        },
        {
          name:'农业银行',
          number:'6227 00007 1234 5678 522'
        },
        {
          name:'交通银行',
          number:'6227 00007 1234 5678 523'
        },
        {
          name:'中国银行',
          number:'6227 00007 1234 5678 524'
        },
      ],
      bankCard:[],//银行卡信息
      set_backCard:[]
    };
  },
  methods:{
    addCard(){
      this.$router.push('/addcard')
    },
    ediCard(){
      this.$router.push('/EdiCard')
    },
    to(index) {//选择银行卡
        for (var i = 0; i < this.data.length; i++) {
          if (index == i) this.bankCard.push(this.data[i]);
        }

        if (this.bankCard.length === 0) {
          return;
        }
        // 选择的提现银行卡
        sessionStorage.setItem("set_backCard", JSON.stringify(this.bankCard[0]));
        this.$router.push('/cash');
    },
    
  },
  components: {
    coupHeader,
    Shopsn
  }
}
</script>

<style lang="less" scoped>
  .grant {
    background-color: #f9f9f9;
    width: 100%;
    .header {
      width: 100%;
    }
    .main {
      width: 100%;
      .topBtn{
        width: 100%;
        height: 2.7rem;
        padding: .34rem .28rem;
        box-sizing: border-box;
        button{
          width: 100%;
          height: .8rem;
          border-radius: .2rem;
          background-color: rgba(37, 155, 36, 1);
          outline: none;
          border: none;
          margin-bottom: .24rem;
          color: #fff;
        }
        .addCard{
          background-color: #FF9800;
        }
      }
      .list {
        display: block;
        width: 100%;
        height: .88rem;
        margin-top: .2rem;
        box-shadow: 0px 2px 3px 0px rgba(170, 170, 170, 1);
        li {
          background: #fff;
          width: 100%;
          height: 0.88rem;
          border-bottom: 1px solid #f4f4f4;
          box-sizing: border-box;
          text-align: center;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.28rem;
          
          p {
            font-size: 0.28rem;
            color: #333;
          }
          .right{
            width: 30%;
            display: flex;
            justify-content:center;
            align-items: center;
            flex-direction: column;
            height: 0.88rem;
            font-size: .24rem;
            color: rgba(0, 0, 0, 0.4);
            position: relative;
            span{
              color: rgba(16, 16, 16, 1);
              font-size: .28rem;
            }
            p{
              color: rgba(0, 0, 0, 0.3);
              font-size: .24rem;
            }
          }
          img {
            width: 0.14rem;
            height: 0.26rem;
            position: absolute;
            right: 0;
            bottom:.34rem;
          }
        }
      }
    }
  }
</style>
