<!--邀请新用户-->
<template>
  <div class="moneyDetail">
    <div class="header">
      <coup-header :set="true" :text="'邀请新用户'"></coup-header>
    </div>
    <div class="main">
      <div class="card">
        <div class='top'>
          <div class="none"></div>
          <div class="text">邀请卡</div>
          <div class="none"></div>
        </div>
        <div class="userInfo">
          <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1300440337,2289763619&fm=27&gp=0.jpg" alt="">
          <p class="userName">冯宝宝</p>
        </div>
        <p class="tit">邀您一起加入，推广赢奖励</p>
        <div class="ewm">
          <img src="../../assets/ewm.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "Invitation",
  components: {
    coupHeader,
    Shopsn
  }
};
</script>

<style lang="less" scoped>
.moneyDetail {
  background-color: #f9f9f9;
  width: 100%;
  .header {
    width: 100%;
  }
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    .card{
      margin-top: .44rem;
      width: 5.24rem;
      height: 8rem;
      border-radius: 6px;
      background-color: rgba(255, 249, 244, 1);
      text-align: center;
      border: 1px solid rgba(255, 152, 0, 1);
      display: flex;
      flex-direction: column;
      align-items: center;
      .top {
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin-top: .6rem;
        .none {
          width: 20%;
          height: 1px;
          background: rgba(187, 187, 187, 1);
          margin-top: .24rem;
        }
        .text{
          color: rgba(229, 28, 35, 1);
          font-size: .36rem;
        }
      }
      .userInfo{
        margin-top: .6rem;
        img{
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
        }
        .userName{   
          color: rgba(16, 16, 16, 1);
          font-size: .28rem;
          margin-top: .1rem;
        }
      }
      .tit{
        margin-top: .4rem; 
        color: rgba(16, 16, 16, 1);
        font-size: .32rem;
      }
      .ewm{
        margin-top: .6rem;
        img{
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }
  }
}
</style>
