<template>
	<div 
		class="list-main" 
		v-infinite-scroll="loadMore"
		infinite-scroll-disabled="loading"
		infinite-scroll-distance="0">
		<!-- <div v-title data-title="商品列表"></div>
		<list-header :sea="search"></list-header> -->
		<ul class="nav-left">
      <li @click="tab(0)" :class=" lastId == 0 ? 'active':''">全部</li>
			<li 
			v-for="item in data" 
			:key="item.id" 
			:class=" lastId == item.id ? 'active' :''" 
			@click="tab(item.id)"
			>{{item.class_name}}</li>
      <!-- <li @click="backRight()" class="test">111111</li> -->
		</ul>
		<ul class="sort-wrap clearfix text-center">
			<li class="fl" :class="{active:$store.state.sort_status == 1}" @click="sort('xl')">销量
				<span class="icon">
					<em class="top" :class="{active:$store.state.sort_id == 1}"></em><br>
					<em class="bottom" :class="{active:$store.state.sort_id == 2}"></em>
				</span>
			</li>
			<li class="fl" :class="{active:$store.state.sort_status == 2}" @click="sort('jg')">价格
				<span class="icon">
					<em class="top" :class="{active:$store.state.sort_id == 3}"></em><br>
					<em class="bottom" :class="{active:$store.state.sort_id == 4}"></em>
				</span>
			</li>
			<li class="fl" @click="sort('rq')" :class="{active:$store.state.sort_status == 3}">人气</li>
		</ul>
		<ul class="list-wrap">
			<li class="clearfix" v-for="item in $store.state.search_data" :key="item.id" @click="tolink(item)">
				<img v-lazy="URL + item.pic_url" class="fl">
				<div class="list-text fl">
					<p class="text">{{item.title}}</p>
					<p class="new-price">￥
						<span v-if="item.price_market">{{item.price_market}}</span>
					</p>       
				</div>
			</li>
			<div class="tips" v-if="tipsShow">没有更多数据了</div>
		</ul>
		<div v-if="!$store.state.search_data" class="comm-null">
			<div class="con-wrap text-center">
				<img src="../../assets/null_com.png">
				<p>暂无商品</p>
			</div>
		</div>
		<!-- <Shopsn></Shopsn> -->
		
		<div class="load" v-show="load" @touchmove.prevent>
			<mt-spinner type="triple-bounce" color="rgb(38, 162, 255)">
		</mt-spinner></div>

		<div class="load-wrap" v-show="load_wrap" @touchmove.prevent>
			<mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner>
		</div>
    <!-- <button class="backTop" @click="backTop()">返回顶部</button> -->
    <div class="backTop" @click="backTop()" v-if="isShow">
      <img src="../../assets/backTop.png" alt="">
    </div>
	</div>
</template>
	
<script>
import listHeader from "@/components/page/children/header.vue";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
import { Indicator } from "mint-ui";
import { InfiniteScroll } from "mint-ui";

export default {
  name: "list",
  data() {
    return {
      scrollWatch: true,
      logoImg: require("@/assets/logo.png"),
      data: "",
      lcassif: {
        status: [true, false, false, false, false]
        // status:['手机数码']
      },
      condata: "",
      status: "",
      load_wrap: true,
      load: true,
      lastId: 0,
      page: 1,
      tipsShow: false,
      backTopShow:false,
      isShow:false//是否显示返回顶部按钮
    };
  },
  
  
  created() {
    this.lastId = this.$route.params.id;//首页跳转到List
    this.$store.state.search_data = [];
    this.$store.state.search_value = "";
    this.$store.state.sort_status = null;
    this.$store.state.sort_id = null;

    switch (this.$route.params.status) {
      case "search":
        this.api_url = API_URL + "Home/Index/keyWordSearch";
        break;
      case "office":
        this.api_url = API_URL + "Home/Index/computerOffice";
        break;
      case "m":
        this.api_url = API_URL + "Home/Index/getGoodsByTopClassId";
        break;
      case "c":
        this.api_url = API_URL + "Home/Goods/getProduct";
        break;
      // case "f":
      //   this.api_url = API_URL + "Home/Index/getAllGoods";
      //   break;
    }
    this.sort();
    
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll,true)
    this.axios({
      url: API_URL + "Home/class/navigation",
      method: "get"
    })
      .then(res => {
        this.data = res.data.data;
        this.status = res.data.data[0].id;
      })
      .catch(err => {});
    this.axios
      .get(this.api_url, {
        params: {
          sort: this.$store.state.sort_id,
          class_id: this.lastId
        }
      })
      .then(res => {
        if (res.data.msg === "没有找到此商品") {
          this.load_wrap = false;
          this.msg = res.data.msg;
        }
        this.$store.state.search_data = res.data.data;
        this.load = false;
      })
      .catch(err => {
        console.info("FailtrueErr", err);
      });
      this.backRight();
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll,true)
  },
	methods: {
    handleScroll () {//滚动到1000，显示按钮
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop || document.querySelector('.list-main').scrollTop;  
      var scrollLeft = document.documentElement.scrollLeft || document.body.scrollLeft || document.querySelector('.nav-left').scrollLeft;
      if (scrollTop > 1000) {
        this.isShow = true
      } else {
        this.isShow = false
      }
    },
    backTop() {//返回顶部
      $('.list-main').animate({scrollTop: 0}, 300);
    },
    backRight() {//返回顶部
      if(this.lastId != 0 && this.lastId != 1 ){
        $('.nav-left').animate({scrollLeft: 121}, 300);
      }
    },
    loadMore() {
      this.loading = false;
      this.axios
        .get(this.api_url, {
          params: {
            sort: this.$store.state.sort_id,
            class_id: this.lastId,
            page: this.page
          }
        })
        .then(res => {
          if (res.data.data != "") {
            res.data.data.forEach(item => {
              this.$store.state.search_data.push(item);
            });
            this.page++;

            Indicator.open("加载中...");
            setTimeout(function() {
              Indicator.close();
            }, 500);
          } else {
            this.tipsShow = true;
          }
        })
        .catch(err => {
          console.info("FailtrueErr", err);
        });
    },
    tab(index) {
      this.lastId = index; //获取当前点击导航的id，并重新赋值给lastId      
      this.page = 1;
      this.succ();
      Indicator.open("加载中...");
      setTimeout(function() {
        Indicator.close();
      }, 1000);
      
    },
    succ() {
      this.axios
        .get(this.api_url, {
          params: {
            sort: this.$store.state.sort_id,
            class_id: this.lastId,
            page:this.page
          }
        })
        .then(res => {
          if (res.data.msg === "没有找到此商品") {
            this.load_wrap = false;
            this.msg = res.data.msg;
          }
          this.$store.state.search_data = res.data.data;
          this.load = false;
        })
        .catch(err => {
          console.info("FailtrueErr", err);
        });
    },
    toback: function() {
      this.$router.go(-1);
    },
    addClass: function(index) {
      for (var i = 0; i < this.status.length; i++) {
        this.$set(this.status, i, false);
      }
      this.$set(this.status, index, true);
    },
    sort(index) {
      this.page = 1;
      switch (index) {
        case "xl":
          if (this.$store.state.sort_id != 1) {
            this.$store.state.sort_id = 1;
            this.$store.state.sort_status = 1;
          } else {
            this.$store.state.sort_id = 2;
            this.$store.state.sort_status = 1;
          }
          this.load = true;
          break;
        case "jg":
          if (this.$store.state.sort_id != 3) {
            this.$store.state.sort_id = 3;
            this.$store.state.sort_status = 2;
          } else {
            this.$store.state.sort_id = 4;
            this.$store.state.sort_status = 2;
          }
          this.load = true;
          break;
        case "rq":
          if (this.$store.state.sort_id == 5) return;
          this.$store.state.sort_id = 5;
          this.$store.state.sort_status = 3;
          this.load = true;
          break;
      }
      if (
        this.$store.state.search_value ||
        this.$route.params.status == "search"
      ) {
        this.api_url = API_URL + "Home/Index/keyWordSearch";
        var data = "";
        if (this.$store.state.search_value) {
          data = this.$store.state.search_value;
        } else {
          data = this.$route.params.id;
        }
        this.axios
          .get(this.api_url, {
            params: {
              keyword: data,
              sort: this.$store.state.sort_id
            }
          })
          .then(res => {
            if (res.data.msg === "没有找到此商品") {
              this.load_wrap = false;
              this.msg = res.data.msg;
            }
            this.$store.state.search_data = res.data.data;
            this.load = false;
            this.load_wrap = false;
          })
          .catch(err => {
            console.info("FailtrueErr", err);
          });
      } else {
        this.axios
          .get(this.api_url, {
            params: {
              sort: this.$store.state.sort_id,
              class_id: this.lastId
            }
          })
          .then(res => {
            if (res.data.msg === "没有找到此商品") {
              this.load_wrap = false;
              this.msg = res.data.msg;
            }
            this.$store.state.search_data = res.data.data;
            this.load = false;
            this.load_wrap = false;
          })
          .catch(err => {
            console.info("FailtrueErr", err);
          });
      }
    },
    tolink(item) {
      this.$router.push({
        name: "product",
        params: {
          id: item.id,
          status: 1
        }
      });
    }
  },
  
  
  components: {
    listHeader,
    Shopsn
  }
};
</script>
<style lang="less" scoped>
.test{
  position: absolute;
  top:0;
  left: 0;
}
.backTop{
  position: absolute;
  bottom: 75px;
  right: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.1); 
  // border: 1px solid #CCCCCC; 
  border-radius: 3px; 
  -webkit-border-radius: 3px; 
  // color: #ff0; 
  // font-size: 14px; 
  // padding: 5px; 
  // text-decoration: none; 
  // text-shadow: 0 1px 0 #999; 
  // -webkit-text-shadow: 0 1px 0 #999; 
  }
.tips {
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.list-main {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
}
.nav-left {
  height: 0.8rem;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  border-bottom: 1px solid #f4f4f4;
  background-color: #fff;

  li {
    width: 1.64rem;
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 0.8rem;
    background-color: #fff;
    font-size: 0.24rem;
  }
  li.active {
    box-sizing: border-box;
    color: #c94444;
    background: #fff url("../../assets/hx.png") no-repeat 0.42rem 0.76rem;
    background-size: 0.8rem 0.04rem;
  }
}
.comm-null {
  padding-top: 0.5rem;
  p {
    font-size: 0.28rem;
    color: #666;
    padding-top: 0.2rem;
  }
}
.sort-wrap {
  height: 0.9rem;
  background: #fff;
  box-sizing: border-box;
  padding: 0.2rem 0;
  border-bottom: 1px solid #f4f4f4;
  line-height: 0.5rem;
  li {
    width: 33.3333333%;
    font-size: 0.26rem;
    color: #666;
    position: relative;
    .icon {
      position: absolute;
      left: 1.6rem;
      top: 0;
      height: 100%;
      .top {
        position: absolute;
        left: 0;
        top: 0.17rem;
        width: 0.12rem;
        height: 0.06rem;
        background: url(../../assets/sort-top.png);
        background-size: 100% 100%;
      }
      .top.active {
        background: url(../../assets/sort-top-active.png);
        background-size: 100% 100%;
      }
      .bottom {
        position: absolute;
        left: 0;
        bottom: 0.17rem;
        width: 0.12rem;
        height: 0.06rem;
        background: url(../../assets/sort-bottom.png);
        background-size: 100% 100%;
      }
      .bottom.active {
        background: url(../../assets/sort-bottom-active.png);
        background-size: 100% 100%;
      }
    }
  }
  li:nth-child(2) {
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    box-sizing: border-box;
  }
  li.active {
    color: #d75268;
  }
}
.list-wrap {
  // padding-top:.3rem;
  background: #fff;
  li {
    padding: 0.13rem;
    height: 2.2rem;
    border-bottom: 1px solid #f4f4f4;
    img {
      width: 2.2rem;
      height: 2.2rem;
    }
    .list-text {
      width: 4.3rem;
      padding-left: 0.25rem;
      .text {
        font-size: 0.32rem;
        color: #333;
        line-height: 0.45rem;
        padding-top: 0.1rem;
        height: 0.9rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .new-price {
        font-size: 0.32rem;
        color: #d75268;
        padding-top: 0.3rem;
        span {
          font-size: 0.4rem;
          font-weight: bold;
        }
      }
      .status {
        color: #ddd;
        padding-top: 0.1rem;
        span {
          font-size: 0.24rem;
        }
        span:nth-child(2) {
          padding-left: 0.3rem;
        }
      }
    }
  }
}
.status {
  background: #fff;
  text-align: center;
  padding-bottom: 0.2rem;
  font-size: 0.3rem;
  color: #333;
}
</style>
<style lang="less">
.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}

.load .mint-spinner-triple-bounce {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
}
</style>