<!--修改密码-->
<template>
    <div style="background:#fff;">
        <div v-title :data-title="text">{{text}}</div>
        <mo-header :text="text"></mo-header>
        <ul class="from-wrap">
            <li>
                <span class="icon">
                    原密码
                </span>
                <input type="password" placeholder="请输入原密码..." v-model="password">
            </li>
            <li>
                <span class="icon">
                    新密码
                </span>
                <input type="password" placeholder="请输入您的新密码..." v-model="newPassword1">
            </li>
            <li>
                <span class="icon">
                    确认新密码
                </span>
                <input type="password" placeholder="请再次输入您的新密码..." v-model="newPassword2">
            </li>
        </ul>
        <div class="modify-btn" @click="modify">确认修改</div>
    </div>
</template>
<script>
    import moHeader from './children/header.vue';
    import qs from 'qs';
    import { Toast } from 'mint-ui';
    export default {
        name : 'modify',
        data(){
            return {
                text:'修改密码',
                password:'',
                newPassword1:'',
                newPassword2:''
            }
        },
        methods:{
            modify(){
                if(!sessionStorage.getItem('user_ID')){
                        this.$router.push({
                        path:'/LogoIn'
                    });
                    return
                }
                this.axios.post(API_URL + 'Home/Pcenter/modifyPassword',qs.stringify({
                    app_user_id:sessionStorage.getItem('user_ID'),
                    password:this.password,
                    newPassword1:this.newPassword1,
                    newPassword2:this.newPassword2
                })).then((res) => {
                    Toast(res.data.msg);
                    if(res.data.status == 0)return;
                    this.$router.push('/person')
                }).catch((err) => {
                    console.log(err)
                });
            }
        },
        components:{
            moHeader
        }
    }
</script>
<style lang="less" scoped>
    .from-wrap{
        padding:.24rem .8rem;
        background:#fff;
        
        li{
            box-sizing: border-box;
            width:100%;
            height:1.84rem;
            position:relative;
            border-bottom:1px solid #f4f4f4; 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .icon{
                width: 100%;
                flex: 1;
                text-indent: .6rem;
                display: flex;
                align-items: center;
                font-size: .28rem;
            }
            input{
                width:100%;
                height:.84rem;
                border:none;
                outline:none;
                font-size:.4rem;
                text-indent: .6rem;
            }
            input::-webkit-input-placeholder {
                text-indent: .6rem;
                color:rgba(0,0,0,.6);
                font-size:.28rem;
            }
            input:-moz-placeholder {
                text-indent: .6rem;
                color:rgba(0,0,0,.6);
                font-size:.28rem;
            }
            input:-ms-input-placeholder {
                    text-indent: .6rem;
                    color:rgba(0,0,0,.6);
                    font-size:.28rem;
            }
        }
        li:nth-child(1){
            .icon{
                background:url(../../assets/pass.png) no-repeat 0rem .26rem;
                i{
                    width:.44rem;
                    height:.5rem;
                    
                    background-size:100% 100%;
                }
            }
        }
        li:nth-child(2){
            .icon{
                background:url(../../assets/pass.png) no-repeat 0rem .26rem;
                i{
                    width:.44rem;
                    height:.5rem;
                    
                    background-size:100% 100%;
                }
            }
        }
        li:nth-child(3){
            .icon{
                background:url(../../assets/s-pass.png) no-repeat 0rem .26rem;
                i{
                    width:.44rem;
                    height:.5rem;
                    
                    background-size:100% 100%;
                }
            }
        }
    }
    .modify-btn{
        width:5.96rem;
        height:.92rem;
        color:#fff;
        font-size:.36rem;
        color:#fff;
        background:#D75268;
        text-align:center;
        line-height:.92rem;
        text-align:center;
        border-radius:.46rem;
        margin:1.28rem auto;
    }
    .modify-btn:active{
        box-shadow: 0 5px 5px #ccc;
    }
</style>