<template>
	<div>
		<div v-title :data-title="title">{{title}}</div>
		<com-header :text="title"></com-header>
		<ul class="navHd clearfix">
			<li class="fl text-center" :class="{active:status == 0}" @click="addClass(0)">
				<span class="status">发布评论 ({{$store.state.my_comment.num.count}})</span>
			</li>
			<li class="fl text-center" :class="{active:status == 1}" @click="addClass(1)">
				<span class="status">有图评论 ({{$store.state.chart_review.length}})</span>
			</li>
		</ul>
		<div class="item-wrap" v-show="status == 0">
			<div class="item-list" v-for="(item,index) in $store.state.my_comment.list" :key="index">
				<div class="product clearfix">
					<img class="fl" :src="URL + item.mainImg">
					<p class="fl text1-hidden">{{item.title}}</p>
				</div>
				<p class="text text2-hidden">{{item.content}}</p>
				<div class="clearfix img-wrap">
					<img class="fl" v-for="(items,index) in item.imgs" :src="URL + items" :key="index">
				</div>
				<div class="inf-wrap clearfix">
					<div class="inf fl">{{new Date(item.create_time * 1000).getFullYear()+'/'+(new Date(item.create_time * 1000).getMilliseconds() + 1)+'/'+new Date(item.create_time * 1000).getDay()}}&nbsp;&nbsp;&nbsp;<span v-for="(items,index) in item.attra" :key="index">{{items.name+':'+items.item}}</span></div>
					<div class="status fr" v-if="item.status == 3">差评</div>
					<div class="status fr" v-if="item.status == 2">中评</div>
					<div class="status fr" v-if="item.status == 1">好评</div>
				</div>
			</div>
		</div>
		<div class="item-wrap" v-show="status == 1">
			<div class="item-list" v-for="(item,index) in $store.state.chart_review" :key="index">
				<div class="product clearfix">
					<img class="fl" :src="URL + item.mainImg">
					<p class="fl text1-hidden">{{item.title}}</p>
				</div>
				<p class="text text2-hidden">{{item.content}}</p>
				<div class="clearfix img-wrap">
					<img class="fl" v-for="(items,index) in item.imgs" :src="URL + items" :key="index">
				</div>
				<div class="inf-wrap clearfix">
					<div class="inf fl">{{new Date(item.create_time * 1000).getFullYear()+'/'+(new Date(item.create_time * 1000).getMilliseconds() + 1)+'/'+new Date(item.create_time * 1000).getDay()}}&nbsp;&nbsp;&nbsp;<span v-for="(items,index) in item.attra" :key="index">{{items.name+':'+items.item}}</span></div>
					<div class="status fr" v-if="item.status == 3">差评</div>
					<div class="status fr" v-if="item.status == 2">中评</div>
					<div class="status fr" v-if="item.status == 1">好评</div>
				</div>
			</div>
			
			<!-- <div class="item-list">
				<div class="product clearfix">
					<img class="" src="http://img5.imgtn.bdimg.com/it/u=3815284703,2973275530&fm=26&gp=0.jpg">
					<p class=" text1-hidden">某某某</p>
				</div>
				<p class="text">22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222</p>
				<div class="clearfix img-wrap">
					<img class="" src="https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=431953cbe6c4b7452b94b116fffd1e78/58ee3d6d55fbb2fb0a5a8df0424a20a44723dcdb.jpg">
					<img class="" src="https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=431953cbe6c4b7452b94b116fffd1e78/58ee3d6d55fbb2fb0a5a8df0424a20a44723dcdb.jpg">
					<img class="" src="https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=431953cbe6c4b7452b94b116fffd1e78/58ee3d6d55fbb2fb0a5a8df0424a20a44723dcdb.jpg">
					<img class="" src="https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=431953cbe6c4b7452b94b116fffd1e78/58ee3d6d55fbb2fb0a5a8df0424a20a44723dcdb.jpg">
					<img class="" src="https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=431953cbe6c4b7452b94b116fffd1e78/58ee3d6d55fbb2fb0a5a8df0424a20a44723dcdb.jpg">
					<img class="" src="https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=431953cbe6c4b7452b94b116fffd1e78/58ee3d6d55fbb2fb0a5a8df0424a20a44723dcdb.jpg">
					<img class="" src="https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=431953cbe6c4b7452b94b116fffd1e78/58ee3d6d55fbb2fb0a5a8df0424a20a44723dcdb.jpg">
					<img class="" src="https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=431953cbe6c4b7452b94b116fffd1e78/58ee3d6d55fbb2fb0a5a8df0424a20a44723dcdb.jpg">
					<img class="" src="https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=431953cbe6c4b7452b94b116fffd1e78/58ee3d6d55fbb2fb0a5a8df0424a20a44723dcdb.jpg">
				</div>
				<div class="inf-wrap clearfix">
					<div class="inf fl">
						2018/3/18&nbsp;&nbsp;&nbsp;
					</div>
					<div class="status fr">差评</div>
					
				</div>
			</div> -->
		</div>
		<div class="load-wrap" v-show="!$store.state.my_comment" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
	</div>
</template>
<script>
import comHeader from "./children/header";
export default {
  name: "myComment",
  data() {
    return {
      title: "我的评论",
      status: 0
    };
  },
  methods: {
    myComment() {
      return this.axios({
        url: API_URL + "Home/Pcenter/myComment",
        method: "get",
        params: {
          app_user_id: sessionStorage.getItem("user_ID")
        }
      });
    },
    chartReview() {
      return this.axios({
        url: API_URL + "Home/Pcenter/imgComment",
        method: "get",
        params: {
          app_user_id: sessionStorage.getItem("user_ID")
        }
      });
    },
    addClass(index) {
      this.status = index;
    }
  },
  mounted() {
    this.axios
      .all([this.myComment(), this.chartReview()])
      .then(
        this.axios.spread((myComment, chartReview) => {
          this.$store.commit("my_comment", myComment.data.data);
          this.$store.commit("chart_review", chartReview.data.data);
        })
      )
      .catch(err => {
        console.log(err);
      });
  },
  components: {
    comHeader
  }
};
</script>
<style lang="less" scoped>
.navHd {
  width: 100%;
  height: 1rem;
  background: #fff;
  padding: 0 0.2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #f4f4f4;
  li {
    height: 100%;
    width: 50%;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
    span {
      display: block;
      width: 50%;
    }
    .number {
      font-size: 0.28rem;
      color: #333;
      padding-top: 0.24rem;
      padding-bottom: 0.1rem;
      line-height: 100%;
    }
    .status {
      color: #999;
      font-size: 0.24rem;
    }
  }
  li.active {
    border-bottom: 2px solid #e37076;
  }
}
.item-wrap {
  .item-list {
    box-sizing: border-box;
    min-height: 3rem;
    background: #fff;
		border-bottom: 1px solid #f4f4f4;
		margin-bottom: .2rem;
    .img-wrap {
      padding: 0 .28rem;
      img {
        width: 0.88rem;
        height: 0.88rem;
				margin-right: 0.2rem;
				margin-bottom: .2rem;
      }
    }
    .product {
			width: 100%;
			height: .8rem;
			display: flex;
			align-items: center;
			border-bottom:1px solid #f4f4f4;
			padding: 0 .24rem;
			box-sizing: border-box;
      img {
				width:.5rem;
				height:.5rem;
      }
      p {
        width: 5rem;
        padding-left: 0.1rem;
        font-size: 0.2rem;
        color: #333;
      }
    }
    .text {
			word-wrap:break-word;
      font-size: 0.24rem;
      color: #ccc;
      width: 100%;
			text-indent: 2em;
			padding: .2rem .28rem;
			box-sizing: border-box;
    }
    .inf-wrap {
      padding: 0 .28rem;
			height: .5rem;
			line-height:.5rem;
			border-top: 1px solid #f4f4f4;
      .inf {
        font-size: 0.2rem;
        color: #999;
      }
      .status {
        font-size: 0.2rem;
        color: #d0111b;
      }
    }
  }
}
</style>