<!--公告列表-->
<template>
	<div class="notice-wrap">
		<div v-title :data-title="text">{{text}}</div>
		<header class="header"><span @click="Return"></span>{{text}}</header>
		<div class="content-wrap">
			<ul class="content">
				<li v-for="item in items" :key="item.id">
					<img src="../../assets/gg.png">
					<p @click="tolink(item)">{{item.title}}</p>
				</li>
			</ul>
		</div>

		<div class="load-wrap" v-show="load_wrap" @touchmove.prevent><mt-spinner type="triple-bounce" color="rgb(38, 162, 255)"></mt-spinner></div>
	</div>
</template>
<script>
export default {
  name: "notice",
  data() {
    return {
      text: "e家尚品公告",
      items: "",
      scrollWatch: true,
      load_wrap: true
    };
  },
  methods: {
    Return: function() {
      this.$router.go(-1);
    },
    tolink(item) {
      this.$router.push({
        name: "announce",
        params: {
          id: item.id,
          status: 1
        }
      });
    }
  },
  mounted() {
    document.body.scrollTop = 0;
    this.axios({
      url: API_URL + "Home/Index/home",
      method: "post"
    })
      .then(res => {
        // console.log(res.data.data.announcement)
        this.items = res.data.data.announcement;
        console.log(this.items);
      })
      .catch(err => {
        console.log(err);
      });
  },
  created() {},
  updated() {
    var that = this;
    setTimeout(function() {
      that.load_wrap = false;
    }, 1000);
  },
  destroyed() {
    this.scrollWatch = false;
  }
};
</script>
<style lang="less" scoped>
.notice-wrap {
  .header {
    width: 100%;
    height: 0.9rem;
    background: #fff;
    text-align: center;
    line-height: 0.9rem;
    color: #000;
    font-size: 0.28rem;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.03);
    z-index: 9999;
    span {
      width: 0.46rem;
      height: 0.46rem;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 0.2rem;
      top: 56%;
      margin-top: -0.23rem;
			text-align: center;
			
      line-height: 0.46rem;
      font-size: 0.4rem;
      background: url(../../assets/left.png) no-repeat;
      background-size: 0.18rem 0.34rem;
    }
  }
  .content-wrap {
    background: #fff;
    .content {
      background: #fff;
      li {
        background: #fff;
        padding: 0.2rem 0;
        margin: 0 0.2rem;
        border-bottom: 1px solid #f4f4f4;
        position: relative;
        height: 0.53rem;
        line-height: 0.53rem;
        padding-left: 0.7rem;
        img {
          width: 0.44rem;
          height: 0.44rem;
          position: absolute;
          left: 0;
          top: 0.22rem;
        }
        p {
          font-size: 0.28rem;
          color: #000;
          line-height: 0.53rem;
          width: 6.4rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
</style>