<!--通知中心-->
<template>
  <div class="Notification">
    <div class="header">
      <coup-header :set="true" :text="'通知中心'"></coup-header>
    </div>
    <div class="main">
      <ul class="list">
        <li class="item" v-for="(item,index) in data" :key="index">
          <!-- <span @click="toggle(index)">{{item.title}}</span>
          <transition name="fade" enter-active-class="animated slideInUp"
            :duration="200">
              <div v-show="show===index" class="item_div">{{item.ppp}}</div>
          </transition> -->
          <span @click="toggle(index)">{{item.title}}</span>
          <div  :class=" show===index ? 'item_div open' : 'item_div'">{{item.ppp}}</div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "Notification",
  data() {
　　return {
      show:'',
      data:[
        {
          title:"2019年3月10日-15日，暂时提高返佣比例为7%....",
          ppp:" 根据企业流动资金需要量与各相关因素之间的比例关系来核定流动资金定额的方法。是因素分析法的另一种计算方法。如主要考虑生产增长因素时，其计算公式为："
        },
        {
          title:"2019年3月10日-15日，暂时提高返佣比例为8%....",
          ppp:" 根据企业流动资金需要量与各相关因素之间的比例关系来核定流动资金定额的方法。是因素分析法的另一种计算方法。如主要考虑生产增长因素时，其计算公式为："
        },
        {
          title:"2019年3月10日-15日，暂时提高返佣比例为9%....",
          ppp:" 根据企业流动资金需要量与各相关因素之间的比例关系来核定流动资金定额的方法。是因素分析法的另一种计算方法。如主要考虑生产增长因素时，其计算公式为："
        }
      ]
　　}
  },
  methods:{
    toggle(index){
      if(this.show === index){
        this.show =false
      }else{
        this.show = index
      }
    }
  },
  components: {
    coupHeader,
    Shopsn
  }
};
</script>

<style lang="less" scoped>
.Notification {
  background-color: #f9f9f9;
  width: 100%;
  .header {
    width: 100%;
  }
  .main {
    width: 100%;
    .list{
      width: 100%;
      margin-top: .2rem;
      .item{
        width: 100%;
        border-bottom: 1px solid #f4f4f4;
        background-color: #fff;
        span{
          display: inline-block;
          width: 100%;
          height: .8rem;
          line-height: .8rem;
          padding:  0 .24rem;
          box-sizing: border-box;
          border-bottom: 1px solid #f4f4f4;
          // background-color: #fff;
          font-size: .28rem;
          background: #fff url('../../assets/xia.png') no-repeat 6.9rem .2rem;
          background-size: .36rem .36rem;
        }
        .item_div{
          width: 100%;
          padding:.24rem;
          box-sizing: border-box;
          font-size: .24rem;
          line-height: .4rem;
        }
        .item_div{
          width: 100%;
          overflow-y: hidden;
          max-height: 0;
          padding:0 .24rem;
        }
        .item_div.open {
          overflow-y: hidden;
          width: 100%;
          max-height:84px;
          padding:.24rem;
          box-sizing: border-box;
          font-size: .24rem;
          line-height: .4rem;
          -webkit-transition-property: all;
          -webkit-transition-duration: .4s;
          -webkit-transition-timing-function: cubic-bezier(1,1,1,1);
          /*  Mozilla内核浏览器：firefox3.5+*/
          -moz-transition-property: all;
          -moz-transition-duration: .4s;
          -moz-transition-timing-function: cubic-bezier(1,1,1,1);
          /*  Opera*/
          -o-transition-property: all;
          -o-transition-duration: .4s;
          -o-transition-timing-function: cubic-bezier(1,1,1,1);
          /*  IE9*/
          -ms-transition-property: all;
          -ms-transition-duration: .4s;
          -ms-transition-timing-function: cubic-bezier(1,1,1,1);
        }
      }
    }
  }
}
</style>
