<template>
  <div class="card">
    <div class="header">
      <coup-header :set="true" :text="'常见问题'"></coup-header>
    </div>
    <div class="main">
      <ul class="list">
        <li class="item">
          <span>Q：怎样进行“推广赚钱”？</span>
          <p>A：分享店铺内带图标的页面链接，吸引好友点击，TA在15天内（客户关系设置为短期）或永久（客户关系设置为长期）在该店铺中购买带图标的商品，都会按照一定的计算方法算作你的”推广赚钱“收益。</p>
        </li>
        <li class="item">
          <span>Q：怎样进行“推广赚钱”？</span>
          <p>A：分享店铺内带图标的页面链接，吸引好友点击，TA在15天内（客户关系设置为短期）或永久（客户关系设置为长期）在该店铺中购买带图标的商品，都会按照一定的计算方法算作你的”推广赚钱“收益。</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "question",
  components: {
    coupHeader,
    Shopsn
  }
};
</script>

<style lang="less" scoped>
.card {
  background-color: #f9f9f9;
  width: 100%;
  .header {
    width: 100%;
  }
  .main {
    width: 100%;
    .list{
      width: 100%;
      .item{
        width: 100%;
        padding: 0 .28rem;
        box-sizing: border-box;
        margin-bottom: .4rem;
        span{
          width: 100%;
          color: #000;
          font-size: .28rem;
        }
        p{
          width: 100%;
          color: rgba(0,0,0,.8);
          font-size: .24rem;
          margin-top: .1rem;
        }
      }
    }
  }
}
</style>
