<template>
  <div class="moneyDetail">
    <div class="header">
      <coup-header :set="true" :text="'收支明细'"></coup-header>
    </div>
    <div class="main">
      <ul class="list">
        <li class="item">
          <div class="left">
            <span>提现</span>
            <p>2018-10-04 17:27:54</p>
          </div>
          <div class="right">
            <span>14.49</span>
          </div>
        </li>
        <li class="item">
          <div class="left">
            <span>提现</span>
            <p>2018-10-04 17:27:54</p>
          </div>
          <div class="right">
            <span>14.49</span>
          </div>
        </li>
        <li class="item">
          <div class="left">
            <span>提现</span>
            <p>2018-10-04 17:27:54</p>
          </div>
          <div class="right">
            <span>14.49</span>
          </div>
        </li>
        <li class="item">
          <div class="left">
            <span>提现</span>
            <p>2018-10-04 17:27:54</p>
          </div>
          <div class="right">
            <span>14.49</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "Record",
  components: {
    coupHeader,
    Shopsn
  }
};
</script>

<style lang="less" scoped>
.moneyDetail {
  background-color: #f9f9f9;
  width: 100%;
  .header {
    width: 100%;
  }
  .main {
    width: 100%;
    .list {
      width: 100%;
      .item {
        width: 100%;
        height: 0.8rem;
        padding: 0 0.28rem;
        box-sizing: border-box;
        border-bottom: 1px solid #f4f4f4;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        .left {
          width: 80%;
          height: 0.8rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          span {
            color: rgba(16, 16, 16, 1);
            font-size: 0.28rem;
          }
          p {
            color: rgba(0, 0, 0, 0.4);
            font-size: 0.24rem;
          }
        }
        .right {
          width: 20%;
          height: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          span {
            color: #000;
            font-size: 0.28rem;
          }
        }
      }
    }
  }
}
</style>
R