<!--邀请奖励-->
<template>
  <div class="reward">
    <div class="header">
      <coup-header :set="true" :text="'邀请奖励'"></coup-header>
    </div>
    <div class="main">
      <div class="time">
        <div class="left">
          <span v-for="(item,index) in time" :key="index" :class="currentIndex == index ? 'active' :''" @click="tab(index)">{{item}}</span>
        </div>
        <div class="right" @click="selectData()" v-if="isShow">
          自定义时间
          <img src="../../assets/xia.png" alt="">
        </div>
        <div class="right" @click="selectData()" v-else>
          {{this.selectedValue}}
          <img src="../../assets/xia.png" alt="">
        </div>
        
      </div>
      <mt-datetime-picker
        lockScroll="true"
        ref="datePicker"
        v-model="dateVal"
        class="myPicker"
        type="datetime"
        cancelText="开始时间"
        confirmText="结束时间"
        year-format="{value}"
        month-format="{value}"
        date-format="{value}"
        hour-format="{value}"
        minute-format="{value}"
        second-format="{value}"
        @confirm="handleConfirm()">
      </mt-datetime-picker>
      <ul class="list">
        <li class="title">
          <span>序号</span>
          <span>邀请用户</span>
          <span>完成订单时间</span>
          <span>奖励金额</span>
        </li>
        <li class="item">
          <span>1</span>
          <span>鸢界之烽</span>
          <span>2019-01-29</span>
          <span>10</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name: "reward",
  data(){
      return {
        dateVal: '', // 默认是当前日期
        selectedValue: '',
        isShow:true,
        currentIndex:0,
        time:[
          "昨天",
          "近七天",
          "全部"
        ],
      }
    },
    created(){   
      this.currentIndex= this.$route.params.status
    },
    methods:{
      tab(index){
        this.currentIndex= index
      },
      formatDateMin(secs){//转化时间格式为：xxxx-xx-xx
        var t = new Date(secs)
        var year = t.getFullYear()
        var month = t.getMonth() + 1
        if (month < 10) { month = '0' + month }
        var date = t.getDate()
        if (date < 10) { date = '0' + date }
        var hour = t.getHours()
        if (hour < 10) { hour = '0' + hour }
        var minute = t.getMinutes()
        if (minute < 10) { minute = '0' + minute }
        var second = t.getSeconds()
        if (second < 10) { second = '0' + second }
        return year + '-' + month + '-' + date
      },
      changisShow(){
        this.isShow = false
      },
      selectData () { // 打开时间选择器
          // 如果已经选过日期，则再次打开时间选择器时，日期回显（不需要回显的话可以去掉 这个判断）
          // if (this.selectedValue) {
          //     this.dateVal = this.selectedValue
          // } else {
          //     this.dateVal = new Date()
          // }
          this.$refs['datePicker'].open()
      },
      handleConfirm () { // 时间选择器确定按钮，并把时间转换成我们需要的时间格式
        this.selectedValue = this.formatDateMin(this.dateVal)
        // console.log(111);
        console.log(this.dateVal);
        this.changisShow()
      },
      // toreward(){
      //   this.$router.push("/reward");
      // }
    },
  components: {
    coupHeader,
    Shopsn
  }
};
</script>

<style lang="less" scoped>
.reward {
  background-color: #f9f9f9;
  width: 100%;
  .header {
    width: 100%;
  }
  .main {
    width: 100%;
    .time{
      width: 100%;
      height: .8rem;
      padding: 0 .28rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      .left{
        width: 55%;
        height: .8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .active{
          border: 1px solid #D75268;
          box-sizing: border-box;
        }
        span{
          color: rgba(0, 0, 0, 0.3);
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center ;
          line-height: .6rem;
          min-width: 1rem;
          height: .6rem;
          background-color: #f9f9f9;
          border-radius: .3rem;
        }
      }
      .right{
        width: 30%;
        height: .8rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
          width: .3rem;
          height: .3rem;
          margin-left: .15rem;
        }
      }
    }
    .list{
      width: 100%;
      background-color: #fff;
      margin-top: .22rem;
      li{
        width: 100%;
        height: .6rem;
        display: flex;
        // padding: 0 .24rem;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        border-bottom:1px solid #f4f4f4;
        color: rgba(16,16,16,1);
        span{
          width: 25%;
          // text-align: left;
          height: .6rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span:nth-of-type(1){
          width: 20%;
        }
      }
      li:last-child{  
        color: rgba(16, 16, 16, 1);
        box-shadow: 0px 2px 3px 0px rgba(170, 170, 170, 1);
        border: 1px solid rgba(255, 255, 255, 1);
      }
      // .item{
      //   width: 100%;
      //   height: 1.2rem;
      //   border-bottom: 1px solid #f4f4f4;
      //   padding: 0 .24rem;
      //   box-sizing: border-box;
      //   background-color: #fff;
      //   display: flex;
      //   align-items: center;
      // }
    }
  }
}
</style>
