<!--结算中心-->
<template>
  <div class="sett">
    <div class="header">
      <coup-header :set="true" :text="'结算中心'"></coup-header>
    </div>
    <div class="main">
      <div class="imgbox">
        <img src="../../assets/tx.png" alt="">
        <span>可提现金额</span>
        <span>￥0.00</span>
        <button @click="toCash()">申请提现</button>
      </div>
      <ul class="list">
        <li class="fl" v-for="(item,index) in Imag" :key="item.id" @click="toLink(index)">
          <p>{{more.name[index]}}</p>
          <div class="right">
            <img :src="item">
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
export default {
  name:'settlement',
  data(){
    return {
      more: {
        name: [
          "收支明细",
          "提现记录"
        ]
      },
      Imag: [
        require("@/assets/right.png"),
        require("@/assets/right.png"),
      ],
    }
  },
  methods:{
    toCash(){
      this.$router.push("/cash");
    },
    toLink(link) {
      function isString(str) {
        return typeof str == "string" && str.constructor == String;
      }
      if (isString(link)) {
        this.$router.push({
          path: link
        });
      } else {
        switch (link) {
          case 0:
            this.$router.push("/moneyDetail"); //收支明细
            break;
          case 1:
            this.$router.push("/Record"); //提现记录
            break;
        }
      }
    }
  },
  components: {
    coupHeader,
    Shopsn
  }
}

</script>

<style lang="less" scoped>
  .sett{
    background-color: #f9f9f9;
    width: 100%;
    .header{
      width: 100%;
    }
    .main{
      width: 100%;
      .imgbox{
        width: 100%;
        height: 5.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 .28rem;
        box-sizing: border-box;
        img{
          width: 2.64rem;
          height: 2.48rem;
        }
        span{
          color: rgba(16, 16, 16, 1);
          font-size: 14px;
          height: .4rem;
        }
        button{
          width: 100%;
          height: .94rem;
          border-radius: .1rem;
          background-color: rgba(26, 173, 25, 1);
          outline: none;
          border:none;
          color: #fff;
          font-size: .36rem;
          margin-top: .4rem;
        }
      }
      .list {
        display: block;
        width: 100%;
        margin-top: .2rem;
        // box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 1);
        li {
          background: #fff;
          width: 100%;
          height: 0.88rem;
          border-bottom: 1px solid #f4f4f4;
          box-sizing: border-box;
          text-align: center;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.28rem;
          
          p {
            font-size: 0.28rem;
            color: #333;
          }
          .right{
            width: 30%;
            display: flex;
            justify-content:center;
            align-items: center;
            flex-direction: column;
            height: 0.88rem;
            font-size: .24rem;
            color: rgba(0, 0, 0, 0.4);
            position: relative;
            span{
              color: rgba(16, 16, 16, 1);
              font-size: .28rem;
            }
            p{
              color: rgba(0, 0, 0, 0.3);
              font-size: .24rem;
            }
          }
          img {
            width: 0.14rem;
            height: 0.26rem;
            position: absolute;
            right: 0;
            bottom:.34rem;
          }
        }
      }
    }
  }
</style>
