<!--业绩统计-->
<template>
  <div class="stat">
    <div class="header">
      <coup-header :set="true" :text="'业绩统计'"></coup-header>
    </div>
    <div class="main">
      <div class="time">
        <div class="left">
          <span v-for="(item,index) in time" :key="index" :class="currentIndex == index ? 'active' :''" @click="tab(index)">{{item}}</span>
        </div>
        <div class="right" @click="selectData()" v-if="isShow">
          自定义时间
          <img src="../../assets/xia.png" alt="">
        </div>
        <div class="right" @click="selectData()" v-else>
          {{this.selectedValue}}
          <img src="../../assets/xia.png" alt="">
        </div>
        
      </div>
      <mt-datetime-picker
        lockScroll="true"
        ref="datePicker"
        v-model="dateVal"
        class="myPicker"
        type="datetime"
        cancelText="开始时间"
        confirmText="结束时间"
        year-format="{value}"
        month-format="{value}"
        date-format="{value}"
        hour-format="{value}"
        minute-format="{value}"
        second-format="{value}"
        @confirm="handleConfirm()">
      </mt-datetime-picker>
      <ul class="list">
        <li class="fl" v-for="(item,index) in Imag" :key="item.id" @click="toLink(index)">
          <p>{{more.name[index]}}</p>
          <div class="right">
            <span>0.00</span>
            <p v-if="index == 0">含待结算 0.00</p>
            <img :src="item">
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import coupHeader from "@/components/page/children/header";
import qs from "qs";
import Shopsn from "@/components/page/Shopsn.vue";
  export default {
    name: "statistics",
    data(){
      return {
        dateVal: '', // 默认是当前日期
        selectedValue: '',
        isShow:true,
        currentIndex:0,
        time:[
          "昨天",
          "近七天",
          "全部"
        ],
        more: {
          name: [
            "商品佣金（元）",
            "邀请奖励（元）"
          ]
        },
        Imag: [
          require("@/assets/right.png"),
          require("@/assets/right.png"),
        ],
      }
    },
    created(){   
      this.currentIndex= this.$route.params.status
    },
    methods:{
        tab(index){
          this.currentIndex= index
        },
        formatDateMin(secs){//转化时间格式为：xxxx-xx-xx
          var t = new Date(secs)
          var year = t.getFullYear()
          var month = t.getMonth() + 1
          if (month < 10) { month = '0' + month }
          var date = t.getDate()
          if (date < 10) { date = '0' + date }
          var hour = t.getHours()
          if (hour < 10) { hour = '0' + hour }
          var minute = t.getMinutes()
          if (minute < 10) { minute = '0' + minute }
          var second = t.getSeconds()
          if (second < 10) { second = '0' + second }
          return year + '-' + month + '-' + date
        },
        changisShow(){
          this.isShow = false
        },
        selectData () { // 打开时间选择器
            // 如果已经选过日期，则再次打开时间选择器时，日期回显（不需要回显的话可以去掉 这个判断）
            // if (this.selectedValue) {
            //     this.dateVal = this.selectedValue
            // } else {
            //     this.dateVal = new Date()
            // }
            this.$refs['datePicker'].open()
        },
        handleConfirm () { // 时间选择器确定按钮，并把时间转换成我们需要的时间格式
            this.selectedValue = this.formatDateMin(this.dateVal)
            // console.log(111);
            console.log(this.dateVal);
            this.changisShow()
        },
        toExtension(){
          this.$router.push({
            name: "extension",
            params: {
              status: this.currentIndex
            }
          });
        },
        toLink(link) {
          function isString(str) {
            return typeof str == "string" && str.constructor == String;
          }
          if (isString(link)) {
            this.$router.push({
              path: link
            });
          } else {
            switch (link) {
              case 0:
                this.$router.push({//商品推广订单
                  name: "extension",
                  params: {
                    status: this.currentIndex
                  }
                }); 
                break;
              case 1:
                this.$router.push({//邀请奖励
                  name: "reward",
                  params: {
                    status: this.currentIndex
                  }
                }); 
                break;
            }
          }
        }
    },
    components: {
      coupHeader,
      Shopsn
    }
  }
</script>

<style lang="less" scoped>
  .stat{
    background-color: #f9f9f9;
    width: 100%;
    .header{
      width: 100%;
    }
    .main{
      width: 100%;
      .time{
        width: 100%;
        height: .8rem;
        padding: 0 .28rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        .left{
          width: 55%;
          height: .8rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .active{
            border: 1px solid #D75268;
            box-sizing: border-box;
          }
          span{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center ;
            line-height: .6rem;
            min-width: 1rem;
            height: .6rem;
            background-color: #f9f9f9;
            border-radius: .3rem;
            color: rgba(0, 0, 0, 0.3);
          }
        }
        .right{
          width: 30%;
          height: .8rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          img{
            width: .3rem;
            height: .3rem;
            margin-left: .15rem;
          }
        }
      }
      .list {
        display: block;
        width: 100%;
        margin-top: .2rem;
        // box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 1);
        li {
          background: #fff;
          width: 100%;
          height: 0.88rem;
          border-bottom: 1px solid #f4f4f4;
          box-sizing: border-box;
          text-align: center;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.28rem;
          
          p {
            font-size: 0.28rem;
            color: #333;
          }
          .right{
            width: 30%;
            display: flex;
            justify-content:center;
            align-items: center;
            flex-direction: column;
            height: 0.88rem;
            font-size: .24rem;
            color: rgba(0, 0, 0, 0.4);
            position: relative;
            span{
              color: rgba(16, 16, 16, 1);
              font-size: 14px;
            }
            p{
              color: rgba(0, 0, 0, 0.3);
              font-size: 10px;
            }
          }
          img {
            width: 0.14rem;
            height: 0.26rem;
            position: absolute;
            right: 0;
            bottom:17px;
          }
        }
      }
    }
  }
</style>
