<template>
  <div class="app-box">
    <keep-alive>
        <router-view v-if="$route.meta.keepAlive" class="app"></router-view>
    </keep-alive>
      <router-view v-if="!$route.meta.keepAlive" class="app"></router-view>
  </div>
</template>

<script> 
export default {
  name: 'app'
}
</script>

<style>
  body{
    background-color: #f9f9f9;
    /* 解决卡顿 */
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
    -moz-overflow-scrolling:touch;
    -o-overflow-scrolling:touch;
  }
  .app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
</style>
