<template>
    <div>
        <header class="text-center">{{title}}</header>
    </div>
</template>
<script>
    export default {
        name : 'latestHeade',
        props:{
            title:''
        }
    }
</script>
<style lang="less" scoped>
    header{
        height: .88rem;
        line-height:.88rem;
        font-size:.28rem;
        color:#000;
    }
</style>