<!--热卖促销商品-->
<template>
    <div class="clearfix">
        <div class="item-list fl clearfix" v-for="item in data.hot_promotion" :key="item.id" @click="tolink(item)">
            <div class="text fl">
                <h2 class="text-single-hidden">{{item.title}}</h2>
            </div>
            <div class="img-wrap fl"><img v-lazy="URL + item.image"></div>
        </div>
    </div>
</template>
<script>
    export default {
        name : 'latestCon',
        props:{
            data:''
        },
        methods:{
            tolink(item){
                this.$router.push({
                    name:'product',
                    params:{
                        id:item.id,
                        status:1
                    }
                });
            }
        }
    }
</script>
<style lang="less" scoped>
.clearfix{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
    .item-list{
        width:3.74rem;
        height: 2rem;
        border-bottom:1px solid #f1f1f1;
        background:#fff;
        box-sizing: border-box;
        .text{
            width: 1.96rem;
            height: 2rem;
            padding: 0 .28rem;
            line-height: 2rem;
            
            h2{
                font-size: .28rem;
                color:#000;
            }
        }
        .img-wrap{
            width: 1.2rem;
            height: 2rem;
            position:relative;
            img{
                width: 1.2rem;
                height:1.98rem;
            }
        }
    }
    .item-list:nth-child(2n){
        border-left:1px solid #f1f1f1;
    }
</style>