<!--人气特卖商品-->
<template>
    <div class="item-wrap clearfix">
        <div class="item-list fl" v-for="item in data" :key="item.id">
            <img v-lazy="URL + item.img" @click="tolink(item)">
            <div class="details">
                <p class="title text-single-hidden">{{item.title}}</p>
                <div class="price-wrap clearfix">
                    <span class="icon"></span>
                    <span class="newPrice fl">￥<em>{{item.price_market}}</em></span>
                    <s class="price fr">￥{{item.price_member}}</s>
                </div>
            </div>
            <button type="button" class="jion" @click="jion(item)">加入购物车</button>

        </div>
    </div>
</template>
<script>
    import qs from 'qs';
    import { Toast } from 'mint-ui';
    export default {
        name : 'saleCon',
        props:{
            data:''
        },
        methods:{
            tolink(item){
                this.$router.push({
                    name:'product',
                    params:{
                        id:item.id,
                        status:1
                    }
                });
            },
            jion(item){
                this.axios.post(API_URL + 'Home/Cart/add_cart',qs.stringify({
                    app_user_id:sessionStorage.getItem('user_ID'),
                    goods_id:item.id,
                    goods_num:1,
                    price_new:item.price_market
                })).then((res) => {
                    Toast({
                        message: res.data.msg,
                        position: 'bottom',
                        duration: 5000
                    });
                }).catch((err) => {
                    console.log(err);
                });
            }
        }
    }
</script>
<style lang="less" scoped>
    .item-wrap{
        padding:0 .28rem;
        .item-list{
            width: 3.36rem;
            height: 4.6rem;
            background:#fff;
            margin-bottom:.22rem;
            border-radius: .12rem;
            box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.03);
            margin-right:.22rem;
            position: relative;
            img{
                width: 100%;
                height: 2.72rem;
                border-radius: .12rem .12rem 0 0;
            }
            .details{
                border-bottom:1px solid #f3f3f3;
                height: 1rem;
                padding-left: .2rem;
                
                .title{
                    margin-top: 5px;
                    width: 60%;
                    font-size:.28rem;
                    color:#000;
                }
                .price-wrap{
                    margin-top: 5px;
                    position:relative;
                    height: .36rem;
                    padding-left:.55rem;
                    .icon{
                        position:absolute;
                        left:0;
                        top:0;
                        width: .57rem;
                        height: .35rem;
                        background:url(../../../../assets/latest-icon.png) no-repeat;
                        background-size:100% 100%;
                    }
                    .newPrice{
                        font-size:.24rem;
                        color:#D75268;
                        em{
                            font-style:normal;
                            font-size:.3rem;
                            line-height: 100%;
                        }
                    }
                    .price{
                        font-size:.24rem;
                        color:#bbb;
                        margin-left: .16rem;
                    }
                }
            }
            .jion{
                    width:3rem;
                    height: .6rem;
                    background-color: #D75268;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom:.08rem;
                    margin: auto;
                    color:#fff;
                    border:none;
                    outline: none;
                    border-radius: .04rem;
                }
                .jion:active{
                    box-shadow: 0 5px 5px #ccc;
                }
            
        }
        .item-list:nth-child(2n){
            margin-right:0;
        }
    }
</style>